


  //----------------------------------------------
  /* contact us css */

/* Contact info section styling */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Individual contact card */
.contact-card {
  flex: 1 1 45%;
  padding: 0.8em 0;
  justify-content: center;
  background: #006b4f ;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

/* Contact card title */
.contact-card h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact details text */
.contact-card p {
  font-size: 1.1em;
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0;
  justify-content: center;
}

/* Map section styling */
.map-container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 5px #8f4616;
}

.map-container h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
