/* banner heading */

.banner{
  height: 450px;
  width: 1440px;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateY(-20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

.know-the-vc{
  margin-top: 1em;
  margin-bottom: 1em;
}

.know-the-vc .heading{
  font-size:30px;
  font-weight: 700;
  margin-top: 1em;
}

.know-the-vc .contents .main-img{
  text-align: center;
  box-shadow:gray 0 0px 35px -14px;
  border: 10px solid white;
  border-radius: 5px;
}

.know-the-vc .contents{
  text-align: center;
}

.know-the-vc .contents p{
  margin: 1em;
  text-align: justify;
  padding-left: 1em;
  padding-right: 1em;
  font-size: calc(14px * var(--font-scale));
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}


@media(max-width:1200px){
  .know-the-vc .contents p{
      padding-left: 0;
      padding-right: 0;
      margin-top: 0.5em;
  }
}




/* Patents_category */
.table_section table,
.table_section th,
.table_section td {
  border: 1px solid black;
}



/* Patents_category css end */

/* patents category tab css start */

.patents_category_tab {
  border-radius: 5px;
  overflow: hidden;
}

.patents_category_tab .nav .nav-item a{
  padding: 20px 0;
  background-color: #315377;
  color: #fff;
  font-weight: 15;
  color: #fff;
  display: block;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.patents_category_tab .nav .nav-item a.active,
.patents_category_tab .nav .nav-item a:hover{
  background-color: #fff;
  color: #315377;
  text-decoration: none;
  font-weight: 600;
}

.patents_category_tab .nav .nav-item a{
  text-decoration: none;
}

.patents_category_tab .tab-content{
  padding: 0px 50px 35px;
}
.patents_category_tab .tab-content .dashboard-cont .singel-dashboard h5{
  font-size: calc(18px * var(--font-scale));
  color: #000;
  font-weight: 600;
  padding-bottom: 15px;
}

.patents_category_tab .tab-content .reviews-cont{
  padding: 45px 0 15px;
}

.patents_category_tab li{
  padding: 0 0.2em;
  justify-content: space-evenly;
} 

.patents_category_tab li a span{
  padding-left: 0.5em;
}


table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 5%;
 
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #555555;
  color: #ffffff;
  font-weight: 500;
}

.headers{
  color:#000;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: calc(33px * var(--font-scale));
}

.facebook-page-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 100%;
}

iframe {
  width: 100%;
  max-width: 500px;
  height: 600px;
  border: none;
}


/* banner */
#page-banner {
  padding-top: 105px;
  padding-bottom: 110px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#page-banner:before {
  content: "";
  background: rgba(7, 41, 77, 0.95); 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-banner-cont {
  color: #fff;
  position: relative;
  z-index: 1; 
  font-weight:700 ;
}

.header{
 font-size: calc(50px * var(--font-scale));
 font-weight: 700;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item a {
  color: #fff; 
}

.breadcrumb-item + .breadcrumb-item::before{
  color: white;
}

.breadcrumb-item.active {
  color: #ffb703;
}

// ----------  profile ------
/* Employee card styling */
.employee-card {
// display: flex;
align-items: center;
padding: 15px;
border: 1px solid #e0e0e0;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
transition: box-shadow 0.3s ease;
}

/* Profile image section */
.profile-img {
text-align: center;
}

.profile-img img {
width: 130px;
height: 130px;
border-radius: 50%;
border-left: 6px solid #A594F9;
border-right: 6px solid #A594F9;
// object-fit: cover;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease;
}

.profile-img img:hover {
transform: scale(1.05);
}

/* Employee info section */
.employee-info {
padding-left: 15px;
}

.employee-name {
font-size: calc(18px * var(--font-scale));
font-weight: bold;
margin: 5px 0;
color: #333;
}

.employee-post,
.employee-office,
.employee-contact,
.employee-email {
font-size: calc(14px * var(--font-scale));
margin: 3px 0;
color: #555;
font-size: calc(14px * var(--font-scale));
color: #666;
margin-bottom: 5px;
font-weight: 500;
}

.employee-post span,
.employee-office span,
.employee-contact span,
.employee-email span {
font-weight: bold;
color: #313233;
}

/* Hover effect on card */
.employee-card:hover {
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.space {
margin-right: 10px;
}

/* Timeline container */
.timeline-container {
padding: 20px;
}

/* Unordered list for the timeline */
.timeline {
list-style-type: none;
padding-left: 0;
position: relative;
margin: 0;
}

/* Timeline dots */
.timeline li {
position: relative;
padding-left: 30px;
margin-bottom: 15px;
}

.timeline-dot {
width: 10px;
height: 10px;
background-color: #cc6600;
border-radius: 50%;
position: absolute;
left: 0;
top: 5px;
}

.timeline-content {
font-size: calc(14px * var(--font-scale));
color: #666;
margin-bottom: 5px;
font-weight: 500;
}

/* Vertical line connecting the dots */
.timeline::before {
content: '';
position: absolute;
left: 5px;
top: 0;
bottom: 0;
width: 2px;
background-color: #ddd;
}

/* Hover effect for timeline items */
.timeline li:hover .timeline-dot {
background-color: #f19743;
}

.timeline li:hover .timeline-content {
color: #000;
}

.section-time{
border: 1px solid #e0e0e0;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Experience Timeline container */
.exp-timeline-container {
padding: 20px;
border: 1px solid #e0e0e0;
border-radius: 10px;
background-color: #f9f9f9;
box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

/* Experience Timeline unordered list */
.exp-timeline {
list-style-type: none;
padding: 0;
margin: 0;
position: relative;
}

/* Experience Timeline list item */
.exp-timeline li {
display: flex;
margin-bottom: 20px;
position: relative;
}

/* Left part of the Experience Timeline (date) */
.exp-timeline-left {
flex: 0 0 20%;
text-align: right;
padding-right: 20px;
position: relative;
}

.exp-timeline-date1 {
background-color: #f08760f5;
color: #1b1b1bf5;
// padding: 1px;
border-radius: 8px;
font-size: 8px;
padding: 0px;
font-weight: 600;
}

.exp-timeline-left::before {
content: '';
position: absolute;
top: 0;
right: -7px;
width: 14px;
height: 14px;
background-color: #e96231f5;
border-radius: 50%;
border: 2px solid #fff;
}

/* Vertical line for the Experience Timeline */
.exp-timeline-left::after {
content: '';
position: absolute;
top: 20px;
right: 0;
width: 2px;
height: 100%;
background-color: #ddd;
}

/* Right part of the Experience Timeline (details) */
.exp-timeline-right {
flex: 1;
padding-left: 20px;
border-left: 2px solid #ddd;
font-size: calc(14px * var(--font-scale));
color: #666;
margin-bottom: 5px;
font-weight: 500;
}

.exp-role {
font-size: calc(16px * var(--font-scale));
color: #007bff;
margin: 0;
}

.exp-company {
font-size: calc(14px * var(--font-scale));
font-weight: bold;
margin: 5px 0;
}

.exp-description {
font-size: calc(13px * var(--font-scale));
color: #666;
margin: 0;
}

/* Hover effect */
.exp-timeline li:hover .exp-timeline-date {
background-color: #007bff;
}

.exp-timeline li:hover .exp-timeline-left::before {
background-color: #007bff;
} 

// ----- vc title content ----
.vc-title{
font-size: calc(2rem * var(--font-scale));
color: #cc6600;
text-transform: uppercase;
font-weight:600;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.scroll-button {
background-color: #cc6600; /* Set button background color to orange */
color: white; /* Set font color to white */
border: none; /* Remove border */
padding: 10px 20px; /* Add padding to make the button larger */
font-size: calc(16px * var(--font-scale)); /* Set a larger font size */
border-radius: 5px; /* Add rounded corners */
cursor: pointer; /* Change cursor to pointer */
transition: background-color 0.3s ease; /* Add smooth transition for hover effect */
// margin-bottom: 10px;
}

/* Hover effect */
.scroll-button:hover {
background-color: rgba(41, 104, 155, 0.938); /* Darken the button on hover */
}

.image-container{
display: flex;
justify-content: center;
align-items: center;
}

// table ----------
table-responsive {
overflow-x: auto; /* Enable horizontal scrolling */
margin-bottom: 20px; /* Space below the table */
}

.custom-table {
width: 100%; /* Ensure the table takes full width */
border-collapse: collapse;
font-family: Arial, sans-serif;
background-color: #fff; /* White background */
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow to make table pop */
border-radius: 8px; /* Add rounded corners */
}

/* Table header styling */
.custom-table thead {
background-color: #4CAF50; /* Green header background */
color: #fff; /* White text color */
overflow-x: scroll;
}

.custom-table thead th {
padding: 6px; /* Reduced padding */
text-align: left;
font-weight: bold;
border-bottom: 2px solid #ddd;
font-size: calc(12px * var(--font-scale));
}

/* Table body styling */
.custom-table tbody tr {
border-bottom: 1px solid #ddd;
}

.custom-table tbody tr:nth-child(even) {
background-color: #f9f9f9; /* Alternate row background */
}

.custom-table tbody td {
padding: 6px; /* Reduced padding */
color: #333;
font-size: calc(12px * var(--font-scale));
}

/* Add hover effect for rows */
.custom-table tbody tr:hover {
background-color: #f1f1f1;
}

.publication-project{
height: 43em; 
background-color: rgba(211, 211, 211, 0.11);
overflow-y: auto;
}

// ------------- social media page -----------
.social-media-section {
background-color: #1a1a2e; /* Dark blue background */
padding: 50px 20px;
// border-radius: 15px;
// margin: 20px 0;
color: #fff;
}

.social-media-heading {
font-size: 2em;
font-weight: bold;
text-align: center;
margin-bottom: 30px;
color: #ffa41b; /* Orange color for heading */
}

.card {
background-color: #ffffff; /* Dark card background */
color: #0f3460;
border: none;
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}

.card-header {
background-color: #0f3460; /* Slightly darker header */
border-bottom: none;
text-align: center;
font-weight: bold;
color: #ffa41b; /* Orange color for headers */
}

.card-body {
height: 500px; /* Fixed height for uniformity */
overflow: hidden;
}

.iframe-container {
width: 100%;
height: 100%;
}

.iframe-container iframe {
width: 100%;
height: 100%;
border: none;
}

@media (max-width: 768px) {
  .vc-head {
    font-size: calc(16px * var(--font-scale)) !important;
    .vc-title{
      font-size: calc(16px * var(--font-scale));
    }
  }
  .scroll-button{
    margin-bottom: 10px;
    padding: 3px 10px;
    font-size: calc(10px * var(--font-scale));
  }
  .header{
    font-size: calc(31px * var(--font-scale));
  }
  .breadcrumb-item{
    font-size: calc(14px * var(--font-scale));
  }
}