
  /* activitiy css */
  
  .Activity .Activity-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    // padding-top: 10px;
    width: 100%;
  
  }
  
  .Activity .Activity-member .member-img {
    position: relative;
    overflow: hidden;
    height: 15em;
  
  
  }
  .Activity .Activity-member .member-img img{
    transition: 0.4s all ease-out;
  }
  
  .Activity .Activity-member .member-img img:hover{
    transform: scale(1.08);
  }
  
  
  .Activity .Activity-member .member-img img {
    height: 100%;
  }
  
  
  .Activity .Activity-member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
  }
  
  .Activity .Activity-member .social a {
    transition: color 0.3s;
    color: rgba(55, 55, 63, 0.4);
    margin: 15px 12px;
    display: block;
    line-height: 0;
    text-align: center;
  }
  
  .Activity .Activity-member .social a:hover {
    color: rgba(55, 55, 63, 0.9);
  }
  
  .Activity .Activity-member .social i {
    font-size: calc(18px * var(--font-scale));
  }
  
  .Activity .Activity-member .member-info {
    height: 5em;
  }
  
  .Activity .Activity-member .member-info h4 {
    font-weight: 600;
    font-size: calc(14px * var(--font-scale));
    margin-bottom: 0;
    padding: 0.5em;
  
  }
  
  .Activity .Activity-member .activities-date {
    padding: 0.2em 0;
    margin-bottom: 0;
    color: #fff;
    background-color: #427D9D;
  }
  .Activity .Activity-member .activities-date p{
    margin-bottom: 0;
  }
  
  .Activity .Activity-member .member-info span {
    display: block;
    font-size: calc(14px * var(--font-scale));
    font-weight: 400;
    color: rgba(33, 37, 41, 0.4);
  }
  
  .Activity .Activity-member .member-info p {
    font-style: italic;
    font-size: calc(14px * var(--font-scale));
    padding-top: 15px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.7);
  }
  
  
  .Activity .Activity-member:hover .social {
    right: 8px;
    opacity: 1;
  }
  
  .more {
    font-weight: 500;
    color: #16628f !important;
    text-align: center;
    margin: 0.5em;
  }
  
  
 /* Make carousel responsive */


@media (max-width: 576px) {
  .carousel-inner .carousel-item {
    height: 250px; /* Further reduce height for very small screens */
  }

  .carousel-inner .carousel-item img {
    object-fit: cover; /* Ensure image covers the space while maintaining aspect ratio */
  }

  .carousel-caption {
    font-size: calc(12px * var(--font-scale));
    bottom: 2rem;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 25px;
    height: 25px;
  }
}

/* Adjustments for ultra-small screens */
@media (max-width: 400px) {
  .carousel-inner .carousel-item {
    height: 200px;
  }

  .carousel-caption h2 {
    font-size: calc(1rem * var(--font-scale));
  }
}
