<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button *ngFor="let data of banner_data; let i = index" type="button"
            [attr.data-bs-target]="'#carouselExampleCaptions'" [attr.data-bs-slide-to]="i" [class.active]="i === 0"
            [attr.aria-label]="'Slide ' + (i + 1)">
        </button>
    </div>
    
    <section class="banner">
        <div class="carousel-inner director">

          
            <div class="carousel-item  igkv-slider-style1" *ngFor="let data of banner_data; let i = index"
                [class.active]="i === 0">

                <div class="slider-container">
                    <div class="slider-container-background"
                        style=" background: url('{{ data.img}}') center / cover no-repeat;"></div>

                    <img src="{{ data.img}}" class="" alt="...">
                </div>

                <div class="carousel-caption d-none d-md-block" *ngIf="Office_Page_Data" style="bottom: 5.25rem;">
                    <h2 style="color: rgba(19, 75, 121, 0.966);">{{Office_Page_Data.office_name}}</h2>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="z-index: 3;"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="z-index: 3;" type="button"
            data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"> </span>
            <span class="visually-hidden" style="z-index: 500;">Next</span>
        </button>
    </section>
</div>

<!-- activity -->
<section id="Activity" class="Activity section-bg pb-3 pt-3 gray-bg">   
    <div class="container" data-aos="fade-up">
        <div>
            <h2 class="section-title1">Activity</h2>
        </div>
        <app-pagination
       [currentPages]="currentPages"
        [totalrecords]="totalrecords"
       (rowsPerPageChanged)="onRowsPerPageChanged($event)"
         (pageChanged)="onPageChanged($event)"
         (searchCriteria)="onSearchCriteriaReceived($event)"> 
        <div class="row gy-4 demo mt-3 mb-3" *ngIf="Activity_data?.length !== 0 ; else elseblock ">
            <ng-container *ngFor="let data of Activity_data">
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="Activity-member">
                        <div class="member-img banner1 image1" [style.background-image]="'url(' + data.Column1 + ')'"
                            *ngIf="data.Column1">
                            <img [src]="data.Column1" alt="">
                            <div class="content">

                            </div>
                        </div>
                        <div class="activities-details">
                            <div class="activities-date">
                                <p>{{data.web_content_date2|date: 'EEEE, MMMM d, y'}}</p>
                            </div>
                            <div class="member-info">
                                <h4>{{data.Content_Title}}</h4>
                            </div>
                        </div>

                        <h4 class="more"><a (click)="setdetails_dir()"  [routerLink]="['/about/activities-details',data.Website_Content_ID]"
                                class="more">View &nbsp;<i class="fa-solid fa-arrow-right"></i></a></h4>
                    </div>
                </div>
            </ng-container>

        

        </div>
        <ng-template #elseblock>
            <app-no-data></app-no-data>
         </ng-template>
        </app-pagination>
    </div>
</section>