

  <app-banner [banner_heading]="'Housing & Residental'" [banner_img]="bannerImg"></app-banner>

<section id="Section3" class="pt-3 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title1">Overview</h2>


                <p class="contents"> College accommodation provides students with a conducive living environment,
                    fostering academic
                    success and personal growth. Typically, colleges offer various housing options, including
                    dormitories, apartments, or shared housing. On-campus housing provides proximity to academic
                    facilities, promoting a sense of community and facilitating participation in campus activities.
                    It encourages social interactions, creating a supportive network among students. Additionally,
                    residential life often includes resident advisors, enhancing the overall college experience by
                    offering guidance and organizing community-building events. Off-campus housing may offer greater
                    independence but requires careful consideration of location and amenities. Overall, college
                    accommodation plays a vital role in shaping students' collegiate journey.</p>
            </div>
        </div>

    </div>
</section>

<!--====== Vision PART STARTS ======-->
<section id="Section3">
    <div class="container">
        <div class="row vision">
            <div class="col-md-6 first_section">
                <h2 style="color: #07294D; padding-top: 10px;">Vision</h2>
                <ul class="contents">
                    <li style="margin: 5px;">
                        <p style="color: #07294D;">Create welcoming spaces ensuring students feel at home in
                            accommodation.</p>
                    </li>
                    <li style="margin: 5px;">
                        <p style="color: #07294D;">
                            Offer secure, friendly, comfortable, well-furnished ambiance for student accommodation
                            satisfaction.</p>
                    </li>
                    <li style="margin: 5px;">
                        <p style="color: #07294D;">Cultivate diverse, competitive, healthy environment for cultural
                            learning in accommodation.</p>
                    </li>
                    <li style="margin: 5px;">
                        <p style="color: #07294D;">
                            Instill discipline, foster systematic and strategic mindset for student development.</p>
                    </li>
                    <li style="margin: 5px;">
                        <p style="color: #07294D;">Offer resources and facilities conducive to academic success,
                            including study areas, computer labs, and access to educational materials.</p>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 second_section">
                <div class="row">
                    <div class="col-md-6 div1">
                        <img [src]="VisionImg1" class="img-fluid" alt="">
                    </div>
                    <div class="col-md-6 div2">
                        <img [src]="VisionImg2" class="img-fluid" alt="">             
                           </div>

                    <div class="col-md-6 div1">

                        <img [src]="VisionImg3" class="img-fluid" alt="">                
                        </div>
                    <div class="col-md-6 div2">
                        <img [src]="VisionImg4" class="img-fluid" alt="">              
                          </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--====== Vision PART End ======-->


<!--====== Our Hostels PART START ======-->

<!-- Overview section start-->
<section id="Section2" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title1">Our Hostels</h2>
            </div>

        </div>

    </div>
</section>


<div class="container-fluid">
    <div class="container">
        <div class="row our-hostle">
            <div class="col-md-6">
                <a routerLink="/research/girls-hostel-overview" class="card even">
                    <img [src]="GirlsHostelImage" alt="Girls Hostel Image">

                    <h5>Hostel For Girls</h5>
                    <hr>
                    <span class="contents" style="text-align: justify;">
                        The girls hostel provides a secure, comfortable environment fostering community and discipline.
                        With furnished accommodations and surveillance, it empowers female students for academic
                        excellence and personal growth, serving as a supportive space for their development.
                    </span>
                </a>
            </div>

            <div class="col-md-6 ">
                <a routerLink="/research/boys-hostel-overview" class="card even">
                    <img [src]="BoysHostelImage" alt="Boys Hostel Images">


                    <h5>Hostels For Boys</h5>
                    <hr>
                    <span style="text-align: justify;" class="contents">
                        The boys hostel offers a safe, communal living space with furnished accommodations, fostering
                        camaraderie and personal development. It prioritizes safety and discipline, providing a
                        supportive environment for boys throughout their educational journey.</span>
                </a>
            </div>
        </div>
    </div>
</div>

<!--====== Our Hostels PART End ======-->

<!--======Do's & Don'ts Starts ======-->
<section id="Section2" class="pt-3 pb-3 mt-4 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section-title">
                <h2 class="contents">Do's & Don'ts</h2>
            </div>
        </div> 
    </div> 


    <div class="container-fluid">
        <div class="container">
            <div class="row how_to_apply">

                <div class="col-md-5 second_section">
                    <h2>Do's</h2>
                    <span>
                        <ul class="contents" style="color: white;">
                            <li>Familiarize yourself with the hostel rules and regulations.</li>
                            <li>Keep your room clean and tidy to maintain a conducive living environment.</li>
                            <li>Respect the privacy and belongings of your roommates and fellow residents.</li>
                            <li>Follow the designated meal times and dining hall etiquette.</li>
                            <li>Report any maintenance issues or concerns to the hostel authorities promptly.</li>
                            <li>Participate in hostel activities and community events to build friendships and a sense of belonging.</li>
                            <li>Keep track of important dates and deadlines related to hostel fees, renewals, and check-out procedures.</li>
                            <li>Follow safety protocols and emergency procedures outlined by the hostel administration.</li>
                        </ul>
                    </span>
                </div>

                <div class="col-md-5 first_section">
                    <h2>Don'ts </h2>
                    <span>
                        <ul class="contents">
                           <li>Don't violate hostel rules or engage in behavior that disrupts the peace and harmony of the hostel.</li>
                           <li>Don't disturb other residents with loud noises or disruptive activities, especially during quiet hours.</li>
                           <li>Don't tamper with or damage hostel property, including furniture, fixtures, and equipment.</li>
                           <li>Don't bring unauthorized guests into the hostel without prior permission from the hostel authorities.</li>
                           <li>Don't indulge in illegal activities or substance abuse within the hostel premises.</li>
                           <li>Don't leave valuables or personal belongings unattended or unlocked in common areas.</li>
                           <li>Don't engage in bullying, harassment, or discriminatory behavior towards other residents.</li>
                           <li>Don't ignore safety protocols or fail to report any safety hazards or security concerns to the hostel authorities promptly.</li>
                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>



