<app-banner [banner_heading]="'Programs'"
    [banner_img]="bannerImg"></app-banner>

<div class="container-fluid program-section" style="background-color: rgb(234, 237, 240);">
    <div class="container">
        <div class="row">
            <div class="col-md-3 " >
                <div class="subhead  mt-3">
                     <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col mb-3 mt-3" style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                <div class="program mt-3">
                    <h2 class="mt-3 ">Nano Programs</h2>
                    <div class="program-description">
                        <p style="text-align: justify;">Nano Courses provide students an opportunity for getting an additional Certification through workshops, weekend classes etc. Nano courses are designed for busy professionals or for young managers who wish to get state-of-the-art knowledge of a new subject that is high in demand in the Industry. Courses usually run in weekends on an intensive basis.</p>
                        <p>Subjects vary and can include:</p>
                        <ul>
                            <li><i class="fas fa-check"></i> Agri-Business Management</li>&nbsp;
                            <li><i class="fas fa-check"></i> Agricultural Economics</li>&nbsp;
                            <li><i class="fas fa-check"></i> Agricultural Extension</li>&nbsp;
                            <li><i class="fas fa-check"></i> Agricultural Microbiology</li>&nbsp;
                            <li><i class="fas fa-check"></i>Agricultural Statistics</li>&nbsp;
                            <li><i class="fas fa-check"></i> Agrometeorology</li>&nbsp;
                            <li><i class="fas fa-check"></i>Agronomy</li>&nbsp;
                            <li><i class="fas fa-check"></i> Entomology</li>&nbsp;
                            <li><i class="fas fa-check"></i> Floriculture and Landscape</li>&nbsp;
                            <li><i class="fas fa-check"></i> Forestry</li>&nbsp;
                            <li><i class="fas fa-check"></i> Fruit Science</li>&nbsp;
                            <li><i class="fas fa-check"></i> Genetics and Plant Breeding</li>&nbsp;
                            <li><i class="fas fa-check"></i> Fruit Science</li>&nbsp;
                            <li><i class="fas fa-check"></i> Genetics and Plant Breeding</li>&nbsp;
                            <li><i class="fas fa-check"></i> Plant Molecular Biology and Biotechnology</li>&nbsp;
                            <li><i class="fas fa-check"></i> Plant Pathology</li>&nbsp;
                            <li><i class="fas fa-check"></i>Plant Physiology</li>&nbsp;
                            <li><i class="fas fa-check"></i> Soil Science and Agricultural Chemistry</li>&nbsp;
                            <li><i class="fas fa-check"></i>Vegetable Science</li>&nbsp;
                            <li><i class="fas fa-check"></i> Agricultural Processing and Food Engg.</li>&nbsp;
                            <li><i class="fas fa-check"></i> Farm Machinery and Power Engineering</li>&nbsp;
                            <li><i class="fas fa-check"></i>Soil and Water Engg.</li>&nbsp;

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
