.rout{
    width: 280px;
}



.subhead{
    border-top: solid #07294d;
    padding: 10px;
    background-color: #fcfcfc;
    border-left: solid rgb(202, 200, 200) 1px;
    border-right: solid rgb(202, 200, 200) 1px;
    h3{
        font-weight: 500;
    }
}
