
#forSmall{
  display: none;
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: calc(32px * var(--font-scale));
  color: #ff4a17;
  border-radius: 50%;
  padding: 8px;
}

.contact .info-box h3 {
  font-size: calc(20px * var(--font-scale));
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: calc(14px * var(--font-scale));
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: calc(14px * var(--font-scale));
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #ff4a17;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #ff4a17;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #ff5e31;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

  /* ==================== Program Offered==================== */
.program-offered {
  border: 1px solid rgb(37, 132, 209);
  padding: 20px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
  width: 100%; /* Take up full width */
  box-sizing: border-box; /* Include padding and border in the total width */
  margin-bottom: 20px; /* Add some margin for spacing between containers */
}

.program_off{
  background-color: #f8faf9;
}

.Banner_head h2:hover{
  color: white;
}

/* Hover effect */
.program-offered:hover {
  background-color: rgb(85, 171, 189);
  color: #ffffff;
  border: none;
}

.prog_of_p:hover{
  color: #ece5e5;

}

/* Style for the SVG image */
.program-offered svg {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  fill: #3498db; /* Default color */
  transition: fill 0.3s;
}

/* Hover effect for the SVG image */
.program-offered:hover svg {
  background-color: #ece5e5;
}

/* Style for the heading */
.program-offered h2 {
  font-weight: bold;
  margin: 10px 0;
}

/* Style for the paragraph */
.program-offered p {
  color: #666;
  white-space: normal; /* Allow text to wrap within the container */
}
/* ==================== End Program Offered==================== */



 

/* former vc design*/
/* Image styling */
.former-vc .main-img {
  width: 100%;  
  height: auto;
  border-radius: 8px 0 0 8px;
  object-fit: cover;
}

/* Text details styling */
.former-vc .details {
  // padding: 10px;
  color: #333;
}

/* Name styling */
.former-vc .details .name {
  font-size: calc(1.2em * var(--font-scale));
  font-weight: bold;
  color: #333;
  margin: 0 0 5px;
}

/* Work duration styling */
.former-vc .work-duration {
  font-size: calc(0.9em * var(--font-scale));
  color: #333;
}


.former-vc .boxes{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 0.5em;
  padding: 0.5em;
 
}

/* contact us css */

/* Contact info section styling */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Individual contact card */
.contact-card {
  flex: 1 1 45%;
  padding: 0.8em 0;
  justify-content: center;
  background: #16628f;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

/* Contact card title */
.contact-card h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact details text */
.contact-card p {
  font-size: 1.1em;
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0;
  justify-content: center;
}

/* Map section styling */
.map-container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 5px #16628f;
}

.map-container h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 740px) {
  #forBig{
    display: none;
  }
  #forSmall{
    display: contents;
  }
  #forSmall .contents {
    padding: 0 0.7em;
  }
  .image-part img{
    height: 111px;
    width: 117px;
    border-radius: 50%;
    justify-content: center !important;
    text-align: center;
    }
    .section-title3{
      text-align: center;
      font-size: calc(12px * var(--font-scale)) !important;
    }
  .image-part{
    text-align: center;
  }
}