
<!-- <app-office-carousel *ngIf="imageUrl" [carousel_heading]="Office_Page_Data.office_name" [carousel_img]="imageUrl" ></app-office-carousel> -->

<!-- <app-banner *ngIf="imageUrl" [banner_heading]="Office_Page_Data.office_name" [banner_img]="imageUrl"></app-banner> -->
<app-banner *ngIf="imageUrl" [banner_heading]="bannerHeading" [banner_img]="imageUrl"></app-banner>


<section id="forBig" class="container-fluid pt-3 pb-3" *ngIf="Office_Page_Data && Office_Head_Data">
  <div class="container">
    <div class="row">
      <h2 class="section-title1">{{Office_Head_Data?.Post_Name}}</h2>
    </div>
    <div class="row img-details pt-3">
      <div class="col-md-3">
        <div class=" image-part">
          <img [src]="Office_Head_Data?.img2" (error)="onErrorImage($event)" alt="Profile Image" />
        </div>
      </div>
      <div class="col-md-8">
    
        <h2 class="section-title3">{{Office_Head_Data?.Employee_Name}}</h2>
        <p class="contents  pt-3" style="line-height: 26px;">{{Office_Page_Data?.About_Unit}}</p>
        <div class="registrar-name" style="border-left-style: solid; border-left-color: rgb(80, 185, 255)">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="gray-bg" *ngIf="unit_id!=1 && unit_id!=5">
  <app-home-notificaton></app-home-notificaton>
</section>

<section id="forSmall" class="container-fluid pt-3 pb-3" *ngIf="Office_Page_Data && Office_Head_Data">
  <div class="container">
    <div class="row">
      <h2 class="section-title1">{{Office_Head_Data?.Post_Name}}</h2>
    </div>
    <div class="row img-details pt-3">
      <div class="col-md-3">
        <div class=" image-part">
          <img [src]="Office_Head_Data?.img2" (error)="onErrorImage($event)" alt="Profile Image" />
        </div>
      </div>
      <div class="col-md-8">
    
        <h2 class="section-title3">{{Office_Head_Data?.Employee_Name}}</h2>
        <p class="contents pt-3" style="line-height: 26px;">{{Office_Page_Data?.About_Unit}}</p>
        <div class="registrar-name" style="border-left-style: solid; border-left-color: rgb(80, 185, 255)">
        </div>
      </div>
    </div>
  </div>
</section>

<app-office-activities-common [activity_details]="Activity_data" [setData_details]="setData" *ngIf="Activity_data?.length > 0"></app-office-activities-common>

<app-office-event-common [event_data]="Office_Event_Data" *ngIf="Office_Event_Data" [setData_details]="setData"></app-office-event-common>

<app-office-awards-common [award_data]="award_data" *ngIf="unit_id == 1" [setData_details]="setData"></app-office-awards-common>
<!-- <app-infrastructure-common [infrastructure_details]="infra_List_data"></app-infrastructure-common> -->


<section id="Section4" class="pt-3 pb-3" *ngIf="unit_id == 1">
  <div class="container">
    <div class="row">
      <h2 class="section-title1">Former Vice-Chancellors</h2>
    </div>
    <div class="row former-vc">
      <ng-container *ngFor="let item of paginatedContents">
        <!-- Use col-6 for small screens to show 2 images per row -->
        <div class="col-6 col-sm-6 col-md-4" data-aos="fade-up" data-aos-delay="100">
          <div class="row boxes">
            <div class="col-12 col-md-4">
              <img class="main-img img-fluid" [src]="item.imgURL" (error)="item.imgURL = ImageNotFound" alt="">
            </div>
            <div class="col-12 col-md-8">
              <div class="details">
                <h6 class="name">{{item.employee_name}}</h6>
                <span class="work-duration"> <span style="font-weight: 500;"></span> {{item.from_date}} to
                  {{item.to_date}}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <!-- Pagination controls -->
      <mat-paginator [length]="vcList_data?.length" [pageSize]="pageSize" [pageSizeOptions]="[12, 24, 36, 48, 100]"
        (page)="onPageChange($event)" aria-label="Select page">
      </mat-paginator>
    </div>
  </div>
</section>

<section class="gray-bg">
  <app-staff-testimonial [unit_type]="unit_id" *ngIf="unit_id"></app-staff-testimonial>
</section>
<!-- <app-contact-us ></app-contact-us> -->

<section id="Section4" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <h2 class="section-title1">Contact Us</h2>
    </div>
 
    <!-- new contact us -->
     <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <!-- Address Section -->
          <div class="contact-card">
    
            <h2 style="font-size: calc(16px * var(--font-scale));"><i class="fa-solid fa-location-dot icon-font-size" ></i> &nbsp; Address</h2>
            <p>{{Office_Page_Data?.Unit_Address}}</p>
          </div>
    
          <!-- Contact Number -->
          <div class="contact-card">
            <h2 style="font-size: calc(16px * var(--font-scale));"><i class="fa fa-phone icon-font-size " aria-hidden="true"></i>&nbsp;Contact Number</h2>
            <p>{{Office_Page_Data?.Phone_Number}}</p>
          </div>
    
          <!-- Email ID -->
          <div class="contact-card">
            <h2 style="font-size: calc(16px * var(--font-scale));" ><i class="fa fa-envelope icon-font-size " aria-hidden="true"></i>&nbsp;Email ID</h2>
            <p>{{Office_Page_Data?.Email_ID}}</p>
          </div>
    
          <!-- Office Hours -->
          <div class="contact-card">
            <h2 style="font-size: calc(16px * var(--font-scale));"><i class="fa-solid fa-clock icon-font-size"></i> &nbsp;Office Time</h2>
            <p class="text">10:00 AM to 5:00 PM <br></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2629.6679886860793!2d81.69424410311981!3d21.235332575024216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c2cd61ab13f3%3A0x88aa0d80dc82ad34!2sUniversity%20Office%2C%20IGKV%20Raipur!5e0!3m2!1sen!2sin!4v1724417481982!5m2!1sen!2sin"
            width="100%" height="625" style="border:0;border-radius: 10px;" allowfullscreen="" loading="lazy" title="location"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
     </div>  
  </div>
</section>