.programs .first_row .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  margin: 5%;
  height: 16em;
  transition: all 0.5s ease;
  text-align: center;

}

.programs .first_row .card img {
  max-height: 12em;
  min-height: 12em;
}


.programs .first_row .card h5 {
  margin-top: 1em;
}

.programs .first_row .card a {
  text-decoration: none;
}


.programs .first_row .card:hover {

  transform: scale(1.07);
  border-bottom: #07294d 4px solid;
  overflow: hidden;

}

/*=====================================================
    15. COURSE 2 css 
======================================================*/


.singel-course-2>.thum {
  position: relative;
}

.singel-course-2>.thum .image>img {
  border-radius: 5px;
  width: 100%;
}

.singel-course-2>.thum .price {
  position: absolute;
  bottom: 40px;
  right: 15px;
  z-index: 5;
}

.singel-course-2>.thum .price span {
  font-size: calc(14px * var(--font-scale));
  color: #07294d;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  width: 55px;
  height: 55px;
  line-height: 55px;
  border-radius: 50%;
  background-color: #ffc600;
  text-align: center;
}

.singel-course-2>.thum .course-teacher {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.singel-course-2>.thum .course-teacher>.thum {
  display: inline-block;
}

.singel-course-2>.thum .course-teacher>.thum img {
  border-radius: 50%;
}

.singel-course-2>.thum .course-teacher .name {
  display: inline-block;
  margin-left: 5px;
  position: relative;
  bottom: 13px;
}

.singel-course-2>.thum .course-teacher .name h6 {
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.singel-course-2>.thum .course-teacher .name h6:hover {
  color: #ffc600;
}

.singel-course-2>.thum .course-teacher .review {
  display: inline-block;
  margin-left: 15px;
  position: relative;
  bottom: 13px;
}

.singel-course-2>.thum .course-teacher .review ul li {
  display: inline-block;
  font-size: calc(12px * var(--font-scale));
  color: #ffc600;
}

.singel-course-2 .cont {
  padding-top: 25px;
}

.singel-course-2 .cont h4 {
  font-weight: 600;
  font-weight: 24px;
  color: #000;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.singel-course-2 .cont h4:hover {
  color: #ffc600;
}

// /gallery section css start/




.gallery_section .gallery-image img {
  transform: scale(1.0);
  transition: transform 0.4s ease;
  width: 100%;
  // cursor: pointer;
}

.gallery_section .img-box {
  box-sizing: content-box;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.gallery_section .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery_section .caption p {
  color: white;
}

.gallery_section .transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.gallery_section .img-box:hover img {
  transform: scale(1.1);
}

// .gallery_section .img-box:hover .transparent-box {
//   // background-color: rgba(0, 0, 0, 0.5);
// }

.gallery_section .img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

// .gallery_section .img-box:hover {
//   cursor: pointer;
// }

.gallery_section .caption>p:nth-child(2) {
  font-size: 0.8em;
}

.gallery_section .opacity-low {
  opacity: 0.5;
}


// count

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: -10px -5px 40px 0 rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
}

.counts .count-box i {
  display: block;
  font-size: calc(30px * var(--font-scale));
  color: #3fbbc0;
  float: left;
}

.counts .count-box span {
  font-size: calc(42px * var(--font-scale));
  line-height: 24px;
  display: block;
  font-weight: 700;
  color: #555555;
  margin-left: 50px;
}

.counts .count-box p {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: calc(14px * var(--font-scale));
}

.counts .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #7b7b7b;
  font-size: calc(15px * var(--font-scale));
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}

.counts .count-box a:hover {
  color: #3fbbc0;
}

.count-text {
  font-size: calc(30px * var(--font-scale));
  font-weight: 600;
}

//   image of map

.image-containers {
  // max-width: 400px; /* Set the maximum width of the container */
  width: 100%;
  text-align: center;
  overflow: hidden;
  /* Hide overflow for box shadow */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  /* Add box shadow */
  transition: transform 0.3s ease-in-out;
  /* Add smooth transition */
}

.image-containers img {
  width: 100%;
  height: auto;
  display: block;
}

/* .vc-description{
    display: flex;
    justify-content: center;
  } */

.image-containers:hover {
  transform: scale(1.1);
  /* Add a slight scale on hover for an effect */
}

//   blog or event

/*--------------------------------------------------------------
# Recent Blog Posts Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .blog-pagination {
  margin-top: 30px;
  color: #838893;
}

.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}

.blog .blog-pagination li a {
  color: var(--color-secondary);
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog .blog-pagination li.active,
.blog .blog-pagination li:hover {
  background: var(--color-primary);
  color: #fff;
}

.blog .blog-pagination li.active a,
.blog .blog-pagination li:hover a {
  color: var(--color-white);
}

/*--------------------------------------------------------------
  # Blog Posts List
  --------------------------------------------------------------*/
.blog .posts-list .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.blog .posts-list .post-img img {
  transition: 0.5s;
}

.blog .posts-list .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(243, 243, 86);
  color: #252424;
  text-transform: uppercase;
  font-size: calc(13px * var(--font-scale));
  padding: 6px 12px;
  font-weight: 500;
}

.blog .posts-list .post-content {
  padding: 30px;
  background-color: #fff;
}

.blog .posts-list .post-title {
  font-size: calc(24px * var(--font-scale));
  color: var(--color-secondary);
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.blog .posts-list .meta i {
  font-size: calc(16px * var(--font-scale));
  color: var(--color-primary);
}

.blog .posts-list .meta span {
  font-size: calc(15px * var(--font-scale));
  color: #838893;
}

.blog .posts-list p {
  margin-top: 20px;
}

.blog .posts-list hr {
  color: #888;
  margin-bottom: 20px;
}

.blog .posts-list .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #838893;
}

.blog .posts-list .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: calc(16px * var(--font-scale));
}

.blog .posts-list .post-item:hover .post-title,
.blog .posts-list .post-item:hover .readmore {
  color: var(--color-primary);
}

.blog .posts-list .post-item:hover .post-img img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# Blog Comments
--------------------------------------------------------------*/
.blog .comments {
  margin-top: 30px;
}

.blog .comments .comments-count {
  font-weight: bold;
}

.blog .comments .comment {
  margin-top: 30px;
  position: relative;
}

.blog .comments .comment .comment-img {
  margin-right: 14px;
}

.blog .comments .comment .comment-img img {
  width: 60px;
}

.blog .comments .comment h5 {
  font-size: calc(16px * var(--font-scale));
  margin-bottom: 2px;
}

.blog .comments .comment h5 a {
  font-weight: bold;
  color: var(--color-default);
  transition: 0.3s;
}

.blog .comments .comment h5 a:hover {
  color: var(--color-primary);
}

.blog .comments .comment h5 .reply {
  padding-left: 10px;
  color: var(--color-secondary);
}

.blog .comments .comment h5 .reply i {
  font-size: calc(20px * var(--font-scale));
}

.blog .comments .comment time {
  display: block;
  font-size: calc(14px * var(--font-scale));
  color: rgba(82, 86, 94, 0.8);
  margin-bottom: 5px;
}

.blog .comments .comment.comment-reply {
  padding-left: 40px;
}

.blog .comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog .comments .reply-form h4 {
  font-weight: bold;
  font-size: calc(22px * var(--font-scale));
}

.blog .comments .reply-form p {
  font-size: calc(14px * var(--font-scale));
}

.blog .comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: calc(14px * var(--font-scale));
}

.blog .comments .reply-form input:focus {
  box-shadow: none;
  border-color: rgba(254, 185, 0, 0.8);
}

.blog .comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: calc(14px * var(--font-scale));
}

.blog .comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: rgba(254, 185, 0, 0.8);
}

.blog .comments .reply-form .form-group {
  margin-bottom: 25px;
}

.blog .comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: var(--color-secondary);
}

.blog .comments .reply-form .btn-primary:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
}

.recent-blog-posts .post-item {
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.06);
  transition: 0.3s;
}

.recent-blog-posts .post-item .post-img img {
  transition: 0.5s;
}

.recent-blog-posts .post-item .post-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(240, 240, 55);
  color: #fff;
  text-transform: uppercase;
  font-size: calc(13px * var(--font-scale));
  padding: 6px 12px;
  font-weight: 500;
}

.recent-blog-posts .post-item .post-content {
  padding: 30px;
}

.recent-blog-posts .post-item .post-title {
  font-size: calc(24px * var(--font-scale));
  color: var(--color-secondary);
  font-weight: 700;
  transition: 0.3s;
  margin-bottom: 15px;
}

.recent-blog-posts .post-item .meta i {
  font-size: calc(16px * var(--font-scale));
  color: var(--color-primary);
}

.recent-blog-posts .post-item .meta span {
  font-size: calc(15px * var(--font-scale));
  color: #838893;
}

.recent-blog-posts .post-item hr {
  color: #888;
  margin: 20px 0;
}

.recent-blog-posts .post-item .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
  color: #838893;
}

.recent-blog-posts .post-item .readmore i {
  line-height: 0;
  margin-left: 6px;
  font-size: calc(16px * var(--font-scale));
}

.recent-blog-posts .post-item:hover .post-title,
.recent-blog-posts .post-item:hover .readmore {
  color: var(--color-primary);
}

.recent-blog-posts .post-item:hover .post-img img {
  transform: scale(1.1);
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: calc(26px * var(--font-scale));
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: calc(20px * var(--font-scale));
  padding-right: 4px;
  color: #3fbbc0;
}

.about .content p:last-child {
  margin-bottom: 0;
}


// ++++++++++  Why Choose Section ++++++++++

.why-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 300px;
}

// .why-section h2 {
//     font-family: Arial, sans-serif;
//     font-size: calc(24px * var(--font-scale));
//     margin-bottom: 15px;
// }

.why-section ul {
  // list-style-type: none;
  padding: 0;
}

.why-section ul li {
  margin-bottom: 10px;
  color: #000;
  font-size: calc(14px * var(--font-scale));
  line-height: 20px;
  padding-left: 16px;
  font-weight: 500;
}


// +++++++++ Stage Section +++++++
.admission-section {
  text-align: center;
}

.admission-stages {
  display: flex;
  justify-content: space-between;
}

.stage {
  width: 23%;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
}

.stage-icon {
  font-size: calc(40px * var(--font-scale));
  margin-bottom: 20px;
}

.stage h3 {
  font-size: calc(20px * var(--font-scale));
  margin-bottom: 10px;
}

.stage p {
  font-size: calc(16px * var(--font-scale));
}

@media (max-width: 768px) {
  .stage {
    width: 100%;
    margin-bottom: 20px;
  }
}

// ==============
 /* Styles for admission stages */
.admission-stages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Styles for individual stages */
.stage {
  flex-basis: 100%; /* Each stage occupies full width by default */
  padding: 20px;
  box-sizing: border-box;
}

/* Media queries for responsiveness */
@media (min-width: 576px) {
  /* Two stages per row on small screens (e.g., mobile devices) */
  .stage {
    flex-basis: calc(50% - 20px); /* Calculate 50% width minus padding */
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  /* Two stages per row on medium screens (e.g., tablets) */
  .stage {
    flex-basis: calc(50% - 20px); /* Calculate 50% width minus padding */
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  /* Four stages per row on large screens and above (e.g., desktops) */
  .stage {
    flex-basis: calc(25% - 20px); /* Calculate 25% width minus padding */
    margin-bottom: 20px;
  }
}
