<app-banner [banner_heading]="'International'" [banner_img]="bannerImg"></app-banner>

<section  class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2 class="section-title1">Your Gateway to Global Education and Excellence</h2>
        </div>
        <!-- section title -->
      </div>
      <!-- about cont -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-md-12">
        <p style="text-align: justify" class="contents">
          IGKV is dedicated to fostering a globally inclusive learning
          environment. Our commitment to internationalization extends beyond
          borders, offering students a rich and diverse academic experience.
        </p>
        <p class="contents">
          Our international programs are designed to offer students diverse
          opportunities to engage with the global community, broaden their
          horizons, and gain valuable skills that transcend cultural and
          geographical borders.
        </p>
      </div>
   
    </div>
  </div>

</section>

<section class="pt-3 pb-3 gray-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mt-50">
          <h2 class="section-title1">Why Coose IGKV</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="why-section">
          <h2>Why India</h2>
          <ul>
            <li>Fastest growing economy by World Bank, IMF & CSO.</li>
            <li>
              Second fastest growing service sector in the world by CII & KPMG.
            </li>
            <li>
              India is the 7th largest country in the world and the largest
              democracy.
            </li>
            <li>
              The second largest pool of engineers and scientists is from India.
            </li>
            <li>
              India is the Second - Largest English - Speaking Country in the
              World - 125,226,449 numbers of English speakers.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="why-section">
          <h2>Why IGKV</h2>
          <ul>
            <li>
              Internationally Recognised Degrees, Approved by UGC, Govt. of
              India.
            </li>
            <li>
              200+ Functional MOUs Tie-ups under Semester Exchange/Free Tuition
              Fee Programmes to provide global exposure and limitless
              opportunities to our students.
            </li>
            <li>
              Education Excellence Award by ASSOCHAM supported by Ministry of
              Commerce, Govt. of India.
            </li>
            <li>
              On Campus residences facility for students with Facilities and
              good evnvironment
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pt-3 pb-3">
  <div class="container">
    <div class="col-lg-12">
      <div>
        <h2 class="section-title1">How To Apply</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="admission-section">
            <div class="admission-stages">
              <div class="stage col-md-6">
                <div class="stage-icon">
                  <i class="fas fa-file-alt"></i>
                </div>
                <h3>Step 1: Fill out Application Form</h3>
                <p>
                  Complete the online application form with your personal and
                  academic information.
                </p>
              </div>
              <div class="stage col-md-6">
                <div class="stage-icon">
                  <i class="fas fa-envelope"></i>
                </div>
                <h3>Step 2: Submit Documents</h3>
                <p>
                  Submit required documents such as transcripts, test scores, and
                  letters of recommendation.
                </p>
              </div>
              <div class="stage col-md-6">
                <div class="stage-icon">
                  <i class="fas fa-check-circle"></i>
                </div>
                <h3>Step 3: Application Review</h3>
                <p>
                  Your application will be reviewed by the admissions committee.
                </p>
              </div>
              <div class="stage col-md-6">
                <div class="stage-icon">
                  <i class="fas fa-money-bill-wave"></i>
                </div>
                <h3>Step 4: Pay Application Fee</h3>
                <p>Pay the application fee online or by mail.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</section>



<section  class="about pt-3 pb-3">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <div>
        <h2 class="section-title1">International Relation</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img [src]="globImg" class="img-fluid" alt="International Relations Image" />
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <h3>Global Collaboration Initiatives</h3>
        <p class="fst-italic contents">
          we believe in the transformative power of global collaboration. Our
          commitment to fostering international partnerships is rooted in the
          belief that collaboration across borders enhances educational
          experiences, promotes cultural exchange, and addresses global
          challenges.
        </p>
        <ul>
          <li>
            <i class="bi bi-check-circle"></i> 
            <p class="contents">
              We have established strategic
              partnerships with renowned universities, research institutions, and
              industry leaders worldwide. These collaborations provide our
              students and faculty with opportunities for joint research, academic
              exchanges, and collaborative projects.
            </p>
          </li>

          <li>
            <i class="bi bi-check-circle"></i>
            <p class="contents">
              We offer student and faculty
              exchange programs that enable individuals to immerse themselves in
              different academic and cultural environments. These experiences
              foster cross-cultural understanding, enrich perspectives, and
              contribute to the global community.
            </p>
          
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section  class="blog pt-3 pb-3 gray-bg">
  <div class="container" data-aos="fade-up" data-aos-delay="100">
    <div>
      <h2 class="section-title1">Latest Events</h2>
    </div>
    <div class="row gy-4 posts-list">
      <div class="col-xl-4 col-md-6">
        <div class="post-item position-relative h-100">
          <div class="post-img position-relative overflow-hidden">
            <img [src]="Latest_EventsImg1" class="img-fluid" alt="Latest Events Image 1" />
            <span class="post-date">December 12</span>
          </div>

          <div class="post-content d-flex flex-column">
            <div class="meta d-flex align-items-center">
              <div class="d-flex align-items-center">
                <!-- <i class="bi bi-person"></i> <span class="ps-2">John Doe</span> -->
              </div>
              <span class="px-3 text-black-50">/</span>
              <div class="d-flex align-items-center">
                <!-- <i class="bi bi-folder2"></i> <span class="ps-2">Politics</span> -->
              </div>
            </div>

            <p class="contents">
              <!-- Similique neque nam consequuntur ad non maxime aliquam quas.
              Quibusdam animi praesentium. Aliquam et laboriosam eius aut
              nostrum quidem aliquid dicta. -->
            </p>

            <hr />
          </div>
        </div>
      </div>
      <!-- End post list item -->

      <div class="col-xl-4 col-md-6">
        <div class="post-item position-relative h-100">
          <div class="post-img position-relative overflow-hidden">
            <img [src]="Latest_EventsImg2" height="12em" class="img-fluid" alt="Latest Events Image 2" />
            <span class="post-date">March 19</span>
          </div>

          <div class="post-content d-flex flex-column">
            <div class="meta d-flex align-items-center">
              <div class="d-flex align-items-center">
                <i class="bi bi-person"></i>
                <!-- <span class="ps-2">Julia Parker</span> -->
              </div>
              <span class="px-3 text-black-50">/</span>
              <div class="d-flex align-items-center">
                <i class="bi bi-folder2"></i>
                <!-- <span class="ps-2">Economics</span> -->
              </div>
            </div>

            <p class="contents">
              <!-- Incidunt voluptate sit temporibus aperiam. Quia vitae aut sint
              ullam quis illum voluptatum et. Quo libero rerum voluptatem
              pariatur nam. -->
            </p>

            <hr />
          </div>
        </div>
      </div>
      <!-- End post list item -->

      <div class="col-xl-4 col-md-6">
        <div class="post-item position-relative h-100">
          <div class="post-img position-relative overflow-hidden">
            <img [src]="Latest_EventsImg3" height="12em" class="img-fluid" alt="Latest Events Image 3" />
            <span class="post-date">June 24</span>
          </div>

          <div class="post-content d-flex flex-column">
            <div class="meta d-flex align-items-center">
              <div class="d-flex align-items-center">
                <!-- <i class="bi bi-person"></i> <span class="ps-2">Maria Doe</span> -->
              </div>
              <span class="px-3 text-black-50">/</span>
              <div class="d-flex align-items-center">
                <!-- <i class="bi bi-folder2"></i> <span class="ps-2">Sports</span> -->
              </div>
            </div>

            <p class="contents">
              <!-- Aut iste neque ut illum qui perspiciatis similique recusandae non.
              Fugit autem dolorem labore omnis et. Eum temporibus fugiat
              voluptate enim tenetur sunt omnis. -->
            </p>

            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gallery section start-->
<section  class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <h2 class="section-title1">Gallery</h2>
        </div>
        <!-- section title -->

        <div class="about-cont">
          <div class="gallery_section">
            <div class="gallery-image">
              <div class="row">
                <div class="col-sm-3">
                  <div class="img-box">
                    <img [src]="Gallery_Img1"  alt="international images"/>
                    <div class="transparent-box">
                      <div class="caption">
                       
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-box">
                    <img [src]="Gallery_Img2"  alt="international images"/>
                    <div class="transparent-box">
                      <div class="caption">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-box">
                    <img [src]="Gallery_Img3"  alt="international images" />
                    <div class="transparent-box">
                      <div class="caption">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="img-box">
                    <img [src]="Gallery_Img4"  alt="international images" />
                    <div class="transparent-box">
                      <div class="caption">
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-contact-us></app-contact-us>