<app-banner [banner_heading]="'Admission'" [banner_img]="bannerImg"></app-banner>

<!-- Overview section start-->
<section id="Section1" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="section-title1">Overview</h2>
                </div> <!-- section title -->
                <div class="about-cont">
                    <p class="contents">Indira Gandhi Krishi Vishwavidyalaya (IGKV) admission process embodies a commitment to excellence
                        and inclusivity. With a focus on agricultural education and research, IGKV welcomes aspiring
                        students from diverse backgrounds to join its vibrant academic community. The admission
                        procedure involves a comprehensive evaluation of applicants' academic achievements, entrance
                        exam scores, and personal statements. Through transparent and merit-based selection criteria,
                        IGKV ensures fairness and equal opportunities for all candidates. With state-of-the-art
                        facilities, renowned faculty, and a rich academic tradition, IGKV offers a conducive environment
                        for students to pursue their academic and research aspirations in the field of agriculture.</p>
                </div>
            </div> <!-- about cont -->

        </div> <!-- row -->

    </div> <!-- container -->
</section>



<!-- Overview section start-->
<section id="Section2" class="pt-3 pb-3 ">
    <div class="container">
        <div>
            <h2 class="section-title1">Courses We Offer</h2>
        </div>
        <div class="row Degree_Programs">
           
                <div class="col-md-4">
                    <div class="first_column">
                        <a href="https://igkv.ac.in/counselinghomenew.aspx">
                        <h6><i class="fa-solid fa-user-graduate color-yellow"></i> Under Graduate Programs
                        </h6>
                    </a>
                    </div>
                </div>
         

       
                <div class="col-md-4">
                    <div class="second_column">
                        <a href="https://igkv.ac.in/counselinghomenew.aspx">
                        <h6><i class="fa fa-graduation-cap color-yellow" aria-hidden="true"></i> Post
                            Graduate Programs</h6>
                        </a>
                    </div>
                </div>
        
        
                <div class="col-md-4">
                    <div class="third_column">
                        <a href="https://igkv.ac.in/counselinghomenew.aspx">
                        <h6><i class="fa-solid fa-microscope color-yellow"></i> Phd Programs</h6>
                    </a>
                    </div>


                </div>
          

        </div>
    </div> <!-- about cont -->

</section>
<!-- Overview section end-->


<app-contact-us></app-contact-us>