
/*=====================================================
    11. PUBLICATION css 
======================================================*/
.singel-publication {
	background-color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 32em;
}

.singel-publication h6{
	text-align:left;
	font-size: medium;
	font-weight: 600;
} 

.singel-publication h5{
text-align: center;


}
.singel-publication .image{
    position: relative;
    height: 21em;
}
.singel-publication .image img{
    width: 100%;
    height: 100%;
   
}
.singel-publication .image .add-cart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(7, 41, 77, 0.8);
    opacity: 0;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.singel-publication .image:hover .add-cart{
    opacity: 1;
	background-color:#07294d
	
}
.singel-publication .image .add-cart ul{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.singel-publication .image .add-cart ul li{
    display: inline-block;
    margin: 0 5px;
}
.singel-publication .image .add-cart ul li a{
    font-size: calc(16px * var(--font-scale));
    color: #ffc600;
    width: 35px;
    line-height: 35px;
    border: 1px solid #ffc600;
    text-align: center;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.singel-publication .image .add-cart ul li a:hover{
    background-color: #ffc600;
    color: #07294d;
}

.singel-publication .cont{
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 25px;
}
.singel-publication .cont .name{
    width: 50%;
}
.singel-publication .cont .name a{
    display: block;
}
.singel-publication .cont .name a h6{
    font-size: calc(14px * var(--font-scale));
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}
.singel-publication .cont .name a:hover h6{
    color: #ffc600;
}

.singel-publication .cont .name span{
    font-size: calc(13px * var(--font-scale));
    color: #8a8a8a;
}
.singel-publication .cont .button{
    width: 50%;
}

.singel-publication .cont button a {
    padding: 0 10px;
    font-size: calc(12px * var(--font-scale));
}


.details  .author-name{
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: normal;
    height: 1em;
    margin-bottom: 0.7em;
}

.details  .p-date p{
    margin-bottom: 0.2em;
}

.details .p-title{
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: normal;
}

.details .info p{
    font-size: calc(12px * var(--font-scale));
    text-align: left;
    // padding-top: 3px;
}

.details .info p span{
    font-weight: 600;
    color: #097697;
}

.details .view-more{
justify-content: center;
display: flex;
}