<div class="container-fluid sticky-top menu1" style="background-color: #f37019; border-top: 2px solid #444444; z-index: 2;">
   
        <div class="row submenu">
            <!-- <div class="col-sm-6 mb-1 vc-menu"> </div> -->

            <div class="col-sm-12 mb-1  vc-menu">
                <button (click)="toggleMenu()" aria-label="Toggle Menu" style="color: rgb(39, 38, 38); font-weight: 600;" class="ranking">{{ menu ? '✖ Close' : '☰ View Details' }}</button>
                <a class="text-dark" style="color: rgb(39, 38, 38); font-weight: 600;"
                    routerLink="/about/vice-chancellor"><span><i class="fa-solid fa-house"></i></span> Home </a></div>
            <div id="menu">
                <div class="row " style="border: solid 1px; border-color: rgb(202, 200, 200); background-color:rgba(238, 238, 238, 0.973); z-index: 2; position: absolute;"
                    *ngIf="menu">
                    <div class="col-md-12 mt-3">
                        <ul>
                            <li><a routerLink="/about/vice-chancellor" class="vc-menu-link"><span></span>Desk of Vice-Chancellor</a></li>
                            <li><a routerLink="/about/vice-chancellor/know-the-vc" class="vc-menu-link">Know the VC</a></li>
                            <li><a routerLink="/about/vice-chancellor/vc-updates" class="vc-menu-link">News Updates</a></li>
                            <li><a routerLink="/about/vice-chancellor/vc-visits" class="vc-menu-link">VC's Visits</a></li>
                            <li><a routerLink="/about/vice-chancellor/vc-speeches" class="vc-menu-link">VC's Speeches</a></li>
                            <li><a routerLink="/about/vice-chancellor/former-vice-chancellors" class="vc-menu-link">Former Vice-Chancellors</a></li>
                            <li><a routerLink="/about/vice-chancellor/vc-gallery" class="vc-menu-link">Gallery</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
</div>