<app-banner [banner_heading]="'How to Apply'" [banner_img]="bannerImg"></app-banner>

<section class=" application-process-section pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead  mt-3">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col-md-9 mt-3" style="   border: solid 1px;
            border-color: rgb(202, 200, 200); background-color: rgb(239, 239, 240);">
                <div class="steps">
                    <div class="row">
                        <h5 class="section-heading mt-3">Application Process</h5>
                        <div class="col-lg-12">
                            <div class="step">
                                <div class="step-icon"><i class="fas fa-user"></i></div>
                                <p>STEP 1: Register yourself by visiting <a
                                        href="https://igkv.ac.in/counselinghomenew.aspx">https://igkv.ac.in/counselinghomenew.aspx</a>
                                    and clicking on new registration.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="step">
                                <div class="step-icon"><i class="fas fa-file-alt"></i></div>
                                <p>STEP 2: Fill the application form and upload the required documents for eligibility
                                    verification. You shall be issued with a Unique ID which will be required for
                                    further communication with the university.</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="step">
                                <div class="step-icon"><i class="fas fa-envelope"></i></div>
                                <p>STEP 3: After the eligibility verification by the university, an offer letter
                                    (Conditional / Unconditional) shall be issued and sent to your registered email id.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="step">
                                <div class="step-icon"><i class="fas fa-money-bill-wave"></i></div>
                                <p>STEP 4: Once you receive the offer letter, make the payment as prescribed in the
                                    offer letter by bank transfer/ wire transfer/ online payment and submit the receipt
                                    along with your System ID at IgkvSupport</p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="step">
                                <div class="step-icon"><i class="fas fa-file-signature"></i></div>
                                <p>STEP 5: After the confirmation of the fees received by the University accounts, an
                                    Acceptance letter (visa letter) and a bonafide letter will be issued which is
                                    required to apply for the Student Visa at the nearest Indian Embassy/ High
                                    Commission in your home country. Kindly read the important information as mentioned
                                    in the acceptance letter for your post-arrival requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
