

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mt-1 pb-5">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/_G6dTfMl95o?si=_OBG-Bt_ebsNpT1a" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>पौधों के पोषक तत्वों में मॉलिब्डेनम (Mo)| Molybdenum in plant nutrient</h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/8zg-h0ezPSo?si=2Zmgm7k8jL9VQhNs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>विशेषज्ञ से जानिए मधुमक्खी पालन की पूरी जानकारी | complete information of beekeeping from the expert</h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/TnzVZtiJf30?si=cXNx2g6kip-nj0gM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>पौधों के पोषक तत्वों में बोरॉन (B) | Boron in plant nutrient </h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/3Qg6RGOFtEM?si=UZtma4EoDzMBBnPu" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>जानिए पौधों के पोषक तत्वों में लोहा ( आयरन) | Iron in plant nutrient.</h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/6bQM5yAe4LE?si=cDF2ANf3xBGBwP9g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>पोषक तत्व क्या हैं ? What are Nutrients?</h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/40TyArlmvMo?si=eex9JxEm2vEogzU2" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
             <span><h3>Ph. D. Admission 2022-23</h3></span>
        </div>
        
    </div>
</div>
