

<app-banner [banner_heading]="'Girls Hostel'" [banner_img]="bannerImg"></app-banner>

<section  class="pt-3 pb-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Overview</h2>
        <div class="about-cont">
          <p class="contents">
            The girl's hostel stands as a vital component of the academic ecosystem, catering to the unique needs and
            preferences of female students pursuing their education. With a commitment to fostering a secure and
            inclusive environment, the hostel prioritizes safety measures such as surveillance systems and access
            control. Trained staff members are available 24/7, ensuring a vigilant presence to address any concerns and
            guarantee the well-being of its residents.</p>
          <p class="contents">Beyond security, the hostel offers modern and comfortable living spaces. Well-furnished
            rooms provide
            personal retreats, while spacious common areas encourage social interaction and community building.
            Facilities like study areas, internet connectivity, and organized recreational activities are incorporated
            to support academic pursuits and promote holistic development. The hostel administration's dedication to
            organizing cultural events and workshops further enhances the overall experience, contributing to a vibrant
            and enriching community for female residents.</p>
          <p class="contents">Additionally, the hostel prioritizes practical amenities, including common kitchens for
            nutritious meals,
            laundry services, and housekeeping, creating an environment that allows female students to focus on their
            studies and personal growth. In essence, the girls' hostel strives to be a nurturing home away from home,
            fostering a supportive community that empowers female students in their academic journey.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<!--====== Our Hostel  PART START ======-->
<section  class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Housing & Residental</h2>

      </div>
    </div>
  </div>
</section>

<section >
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      <div class="about-cont">
        <div class="container">
          <div class="girls_hostel">

                 <!--======Shabari Hostel PART STARTS ======-->
                 <div class="first_row">
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="innerrow">
                        <div class="slider-container">
                          <img class="slider-image" [src]="Shabari_Hostel[currentSlide].src"
                            alt="Image {{ currentSlide + 1 }}">
                          <!-- <div class="slider-description">{{ Shabari_Hostel[currentSlide].description }}</div> -->
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 ">
                      <h2>Shabari Hostel :</h2>
                      <div class="girls_hostel_List">
                        <hr>
                        <ul class="contents">
                          <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                          <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                          <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                          <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                          <li>Well-equipped kitchens or a dining area providing nutritious meals for residents.</li>
                          <li>Regular housekeeping services to maintain a hygienic and organized living environment.</li>
                          <li>Access to basic first aid and medical assistance.</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="infrastructure-card row">
                        <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                          Wifi</div>
                        <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i> Study
                          Area </div>
                        <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                            aria-hidden="true"></i> peaceful Environment</div>
                        <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                          Hall</div>
                      </div>
                    </div>
                    
                    <div class="col-md-6">
                      <div class="warden-container">
                        <div class="warden-card">
                            <div class="warden-info">
                              <h4 class="warden-name">UAV</h4>
                              <p class="warden-role">Warden-1</p>
                              <p class="warden-hostel">Hostel: {{ Shabari_Hostel[currentSlide].description }}</p>
                              <p class="warden-contact"></p>
                              <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                          </div>
                        </div>
          
                        <div class="warden-card">
                          <div class="warden-info">
                            <h4 class="warden-name">UAV</h4>
                            <p class="warden-role">Warden-2</p>
                            <p class="warden-hostel">Hostel: {{ Shabari_Hostel[currentSlide].description }}</p>
                            <p class="warden-contact"></p>
                            <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>
                        <!-- Repeat .warden-card for more wardens -->
                    </div>
                    </div>
                  </div>
                </div>
                  <!--====== Shabari Hostel PART End ======-->
      

               <!--====== Godawari Hostel PART STARTS ======-->
           <div class=" first_row">
            <div class="row">
              <div class="col-md-6">
                <h2>Godawari Hostel :</h2>
                <div class="girls_hostel_List">
                  <hr>
                  <ul class="contents">
                    <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                    <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                    <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                    <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                    <li>Regular housekeeping services to maintain a hygienic and organized living environment.</li>
                    <li>Access to basic first aid and medical assistance.</li>
                    <li>Adequate parking facilities for residents with vehicles.</li>
                  </ul>
                </div>
              </div>

              <div class="col-md-6">
                <div class="innerrow">
                  <div class="slider-container ">
                    <img class="slider-image" [src]="Godawari_Hostel[currentSlide].src"
                      alt="Image {{ currentSlide + 1 }}">
                    <!-- <div class="slider-description">{{ Godawari_Hostel[currentSlide].description }}</div> -->
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="warden-container col-md-6">
              <div class="warden-card">
                  <div class="warden-info">
                    <h4 class="warden-name">Dr. Zenu Jha</h4>
                    <p class="warden-role">Sr. Hostel Warden</p>
                    <p class="warden-hostel">Hostel: {{ Godawari_Hostel[currentSlide].description }}</p>
                    <p class="warden-contact">Contact: +91 81035-55351</p>
                    <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                </div>
              </div>
              <!-- Repeat .warden-card for more wardens -->
          </div>
          <div class="col-md-6">
          <div class="infrastructure-card row">
            <div class="col-sm-3 first_section"><i  class="fa-solid fa-wifi"></i> Free
              Wifi</div>
            <div class="col-sm-3 second_section"><i  class="fa-solid fa-book"></i> Study
              Area </div>
            <div class="col-sm-3 first_section"><i  class="fa-solid fa-wheat"></i>Mess
              Hall</div>
            <div class="col-sm-3 third_section"><i  class="fa fa-desktop"
                aria-hidden="true"></i> peaceful Environment</div>
          </div>
        </div>
        </div>

          </div>
            <!--====== Godawari Hostel end ======-->


            <!--======Mandakini Hostel PART STARTS ======-->
            <div class="first_row">
            <div class="row">
              <div class="col-md-6 ">
                <div class="innerrow">
                  <div class="slider-container">
                    <img class="slider-image" [src]="Mandakini_Hostel[currentSlide].src"
                      alt="Image {{ currentSlide + 1 }}">
                    <!-- <div class="slider-description">{{ Mandakini_Hostel[currentSlide].description }}</div> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <h2>Mandakini Hostel :</h2>
                <div class="girls_hostel_List">
                  <hr>
                  <ul class="contents">
                    <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                    <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                    <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                    <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                    <li>Well-equipped kitchens or a dining area providing nutritious meals for residents.</li>
                    <li>Regular housekeeping services to maintain a hygienic and organized living environment.</li>
                    <li>Access to basic first aid and medical assistance.</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="infrastructure-card row">
                  <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                    Wifi</div>
                  <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i> Study
                    Area </div>
                  <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                      aria-hidden="true"></i> peaceful Environment</div>
                  <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                    Hall</div>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="warden-container">
                  <div class="warden-card">
                      <div class="warden-info">
                        <h4 class="warden-name">Dr. Deepti Jha</h4>
                        <p class="warden-role">Warden-1</p>
                        <p class="warden-hostel">Hostel:{{ Mandakini_Hostel[currentSlide].description }}</p>
                        <p class="warden-contact">Contact: +91  81091-32602</p>
                        <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                    </div>
                  </div>
    
                  <div class="warden-card">
                    <div class="warden-info">
                      <h4 class="warden-name">Dr. Jyoti Bhatt</h4>
                      <p class="warden-role">Warden-2</p>
                      <p class="warden-hostel">Hostel: Mandakini Hostel</p>
                      <p class="warden-contact">Contact: +91  98261-24334</p>
                      <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                  </div>
                </div>
                  <!-- Repeat .warden-card for more wardens -->
              </div>
              </div>
            </div>
          </div>
            <!--====== Mandakini Hostel PART End ======-->


            <!--====== Kadambari Hostel PART STARTS ======-->
            <div class=" first_row">
            <div class="row">
              <div class="col-md-6 ">
                <h2>Kadambari Hostel :</h2>
                <div class="girls_hostel_List">
                  <hr>
                  <ul class="contents">
                    <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                    <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                    <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                    <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                    <li>Regular housekeeping services to maintain a hygienic and organized living environment.</li>
                    <li>Access to basic first aid and medical assistance.</li>
                    <li>Adequate parking facilities for residents with vehicles.</li>
      
                  </ul>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="innerrow">
                  <div class="slider-container ">
                    <img class="slider-image" [src]="Kadambari_Hostel[currentSlide].src"
                      alt="Image {{ currentSlide + 1 }}">
                    <!-- <div class="slider-description">{{ Kadambari_Hostel[currentSlide].description }}</div> -->
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="infrastructure-card row">
                  <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                    Wifi</div>
                  <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i> Study
                    Area </div>
                  <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                    Hall</div>
                  <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                      aria-hidden="true"></i> peaceful Environment</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="warden-container">
                  <div class="warden-card">
                      <div class="warden-info">
                        <h4 class="warden-name">Dr. Neeta Khare</h4>
                        <p class="warden-role">Warden-1</p>
                        <p class="warden-hostel">Hostel: {{ Kadambari_Hostel[currentSlide].description }}</p>
                        <p class="warden-contact">Contact: +91 98261-81130</p>
                        <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                    </div>
                  </div>
    
                  <div class="warden-card">
                    <div class="warden-info">
                      <h4 class="warden-name">Dr. Ashwarya Lalit Tandon</h4>
                      <p class="warden-role">Warden-2</p>
                      <p class="warden-hostel">Hostel: {{ Kadambari_Hostel[currentSlide].description }}</p>
                      <p class="warden-contact">Contact: +91 94064-66871</p>
                      <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                  </div>
                </div>
                  <!-- Repeat .warden-card for more wardens -->
              </div>
              </div>
            </div>
           
          </div>
            <!--====== Kadambari Hostel end ======-->

            <!--====== Saraswati Hostel  PART STARTS ======-->
            <div class=" first_row">
            <div class="row">
              <div class="col-md-6 ">
                <div class="innerrow">
                  <div class="slider-container ">
                    <img class="slider-image" [src]="Saraswati_Hostel[currentSlide].src"
                      alt="Image {{ currentSlide + 1 }}">
                  </div>
                </div>
              </div>
              <div class="col-md-6 ">
                <h2>Saraswati Hostel :</h2>
                <div class="girls_hostel_List">
                  <hr>
                  <ul class="contents">
                    
                    <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                    <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                    <li>Spacious lounges, TV rooms, and recreational spaces for social interaction.</li>
                    <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                    <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                    <li>Access to basic first aid and medical assistance.</li>
                    <li> Outdoor areas or gardens for relaxation and recreation.</li>
                  </ul>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="warden-container">
                  <div class="warden-card">
                      <div class="warden-info">
                        <h4 class="warden-name">Dr. Diptimayee Das</h4>
                        <p class="warden-role">Warden-1</p>
                        <p class="warden-hostel">Hostel: {{ Saraswati_Hostel[currentSlide].description }}</p>
                        <p class="warden-contact">Contact: +91 98937-86084</p>
                        <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                    </div>
                  </div>
    
                  <div class="warden-card">
                    <div class="warden-info">
                      <h4 class="warden-name">Dr. Ashulata Koushal</h4>
                      <p class="warden-role">Warden-2</p>
                      <p class="warden-hostel">Hostel: {{ Saraswati_Hostel[currentSlide].description }}</p>
                      <p class="warden-contact">Contact: +91 79871-99941</p>
                      <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                  </div>
                </div>
                  <!-- Repeat .warden-card for more wardens -->
              </div>
              </div>
              <div class="col-md-6">
                 <div class="infrastructure-card row">
                  <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                    Wifi</div>
                  <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i> Study
                    Area </div>
                  <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                    Hall</div>
                  <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                      aria-hidden="true"></i> peaceful Environment</div>
                </div>
              </div>
            </div>
         
          </div>
            <!--====== Saraswati Hostel  PART ENDS ======-->

         

            <!--======  New Girls Hostel PART STARTS ======-->
            <div class="first_row">
            <div class="row">
             
              <div class="col-md-6 ">
                <h2>New Girls Hostel :</h2>
                <div class="girls_hostel_List">
                  <hr>
                  <ul class="contents">
                    <li>Well-furnished rooms with comfortable bedding and storage facilities.</li>
                    <li>Surveillance systems, access control, and secure entry points for resident safety.</li>
                    <li>Quiet study areas, equipped with desks and chairs, to support academic endeavors.</li>
                    <li>High-speed Wi-Fi for residents' academic and recreational needs.</li>
                    <li>Well-equipped kitchens or a dining area providing nutritious meals for residents.</li>
                    <li>Access to basic first aid and medical assistance.</li>
                    
                  </ul>
                </div>
              </div>

              <div class="col-md-6 ">
                <div class="innerrow">
                  <div class="slider-container ">
                    <img class="slider-image" [src]="New_Girls_Hostel[currentSlide].src"
                      alt="Image {{ currentSlide + 1 }}">
                    <!-- <div class="slider-description">{{ New_Girls_Hostel[currentSlide].description }}</div> -->
                  </div>
                </div>
              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="infrastructure-card row">
                  <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                    Wifi</div>
                  <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i> Study
                    Area </div>
                  <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                    Hall</div>
                  <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                      aria-hidden="true"></i> peaceful Environment</div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="warden-container">
                  <div class="warden-card">
                      <div class="warden-info">
                        <h4 class="warden-name">Dr. Subuhi Nishad</h4>
                        <p class="warden-role">Warden-1</p>
                        <p class="warden-hostel">Hostel: {{ New_Girls_Hostel[currentSlide].description }}</p>
                        <p class="warden-contact">Contact: +91 74153-67858</p>
                        <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                    </div>
                  </div>
    
                  <div class="warden-card">
                    <div class="warden-info">
                      <h4 class="warden-name">Dr. Ashulata Koushal</h4>
                      <p class="warden-role">Warden-2</p>
                      <p class="warden-hostel">Hostel: {{ New_Girls_Hostel[currentSlide].description }}</p>
                      <p class="warden-contact">Contact: +91 79871-99941</p>
                      <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                  </div>
                </div>
                  <!-- Repeat .warden-card for more wardens -->
              </div>
              </div>
            </div>
            
          </div>
            <!--======  New Girls Hostel PART ENDS ======-->
          </div>
        </div>
      </div> <!-- about cont -->
    </div>
    </div> <!-- row -->
  </div> <!-- container -->
</section>


<app-contact-us></app-contact-us>