
  



/* dean msg css start  */
.message_section {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f0f7;
    background-size: cover;
    background-position: center;
    padding: 1em;
    filter: brightness(1);
}

// dynamic css for college detail page
.error-message {
    background-color: #f0f0ef;
  }

.message_section .profile {
    text-align: center;
    /* margin-right: 20px; */
}

.message_section .profile-picture {
    height: 14em;
    width: 12em;
    border-radius: 5%;
    /* border-color: #fff; */
    border: solid white 3px;
}

// .message_section .dean-name {
//     font-weight: bold;
//     margin: 5px 0;
//     color: #000000;
//     padding-top: 0.2em;
// }

// .message_section .designation {
//     font-size: calc(16px * var(--font-scale));
//     color: #232222;
//     margin: 0;
// }

.message_section .message {
    // /max-width: 600px;/
    text-align: left;
}

.message_section .message-title {
    font-size: calc(28px * var(--font-scale));
    font-weight: bold;
    margin: 10px 0;
}

.message_section .message-text {
    font-size: calc(17px * var(--font-scale));
    line-height: 1.5;
   text-align: justify;
   padding-bottom:3%;
   color: #504d4d;
   padding-top: 2em;
   font-weight: 500;
}

 .button-70 {
    /* Add styles for your new custom button here */
    background-color: #ffc600;
    color: #07294d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size:large;

}

.scrolitem{
    transition: all ease-in-out 0.3s;
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;
}

  .scrolitem {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }


  @media screen and (max-width: 1000px) {
   
    .profile .profile-picture{
  min-width: unset !important;
   min-height: unset !important;
      }
  
  }