<section id="Section1" class="pt-60 pb-120 gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="courses-top-search">
                    <ul class="nav float-left" id="Ul1" role="tablist">
                        <li class="nav-item">
                            <a class="active" id="A1" data-toggle="tab" href="#courses-grid" role="tab" aria-controls="courses-grid" aria-selected="true"><i class="fa fa-th-large"></i></a>
                        </li>
                        <li class="nav-item">
                            <a id="A2" data-toggle="tab" href="#courses-list" role="tab" aria-controls="courses-list" aria-selected="false"><i class="fa fa-th-list"></i></a>
                        </li>
                        <li class="nav-item">Showning 4 0f 24 Results</li>
                    </ul> <!-- nav -->
                    
                    <div class="courses-search float-right">
                        <form action="#">
                            <input type="text" placeholder="Search">
                            <button type="button"><i class="fa fa-search"></i></button>
                        </form>
                    </div> <!-- courses search -->
                </div> <!-- courses top search -->
            </div>
        </div> <!-- row -->
        <div class="tab-content" id="Div2">
          <div class="tab-pane fade show active" id="Div3" role="tabpanel" aria-labelledby="courses-grid-tab">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="assets/images/gallery/IMG-001.JPG" alt="Award">
                                </div>
                             </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Year 2023</span>
                                <a href="courses-singel.html"><h4>युवा महोत्सव ‘‘मड़ई-2023’’</h4></a>
                                <div class="course-teacher">
                                
                                    <a href="gallery-details.aspx" class="view-btn">View More</a>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>
                    
                    <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="assets/images/gallery/IMG-006.JPG" alt="Award">
                                </div>
                             </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Year 2023</span>
                                <a href="courses-singel.html"><h4>छात्रसंघ शपथ ग्रहण एवं वार्षिक उत्सव समारोह</h4></a>
                                <div class="course-teacher">
                               
                                    <a href="#" class="view-btn">View More</a>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>
               
                   <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="assets/images/gallery/IMG-002.JPG" alt="Award">
                                </div>
                             </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Year 2023</span>
                                <a href="courses-singel.html"><h4>AGRI CARNIVAL 2022</h4></a>
                                <div class="course-teacher">
                                 
                                    <a href="#" class="view-btn">View More</a>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>
               
                 <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="assets/images/gallery/IMG-003.JPG" alt="Award">
                                </div>
                             </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Year 2023</span>
                                <a href="courses-singel.html"><h4>BREEDING PROGRAM MODERNIZATION</h4></a>
                                <div class="course-teacher">
                               
                                    <a href="#" class="view-btn">View More</a>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>

                         <div class="col-lg-4 col-md-6">
                        <div class="singel-course mt-30">
                            <div class="thum">
                                <div class="image">
                                    <img src="assets/images/gallery/IMG-004.JPG" alt="Award">
                                </div>
                             </div>
                            <div class="cont">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                                <span>Year 2023</span>
                                <a href="courses-singel.html"><h4>9TH CONVOCATION CEREMONY</h4></a>
                                <div class="course-teacher">
                               
                                    <a href="#" class="view-btn">View More</a>
                                </div>
                            </div>
                        </div> <!-- singel course -->
                    </div>

                </div> <!-- row -->
            </div>
        </div> <!-- tab content -->
    </div> <!-- container -->
</section>
