
ul {
    list-style: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    color: #000;
    font-weight: 500;
}
ul li a {
    text-decoration: none;
    color: #1b4f83;
    transition: color 0.3s;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 600;
    cursor: pointer;
}
h2{
    margin-top: 3em;
}


@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    h2 {
        font-size: 1.5rem;
    }
}