
       

       <div class="container mt-5">
        <div class="row">
            <div class="heading" style="background-color: rgb(198, 233, 238); border-radius: 12px;">
                <h1 class="pt-3" style="font-weight: 600; font-size: calc(28px * var(--font-scale));">
                    Guidelines on Public Self-Disclosure by Higher Education Institutions  
                </h1>
            </div>
        </div>
       </div>
    <div class="container mt-3 mb-5">
        <h2>About HEI</h2>
        <hr>
        <ul>
            <li><a  (click)="goToAbout()">About US: Overview</a></li>
            <li><a (click)="goToAct()">Act and Statutes or MoA</a></li>
            <li> <a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/InstitutionalDevelopmentplanVision2030.pdf" target="_blank"> Institutional Development Plan</a> </li>
            <li><a (click)=" goToClg()">Constituent Units/Affiliated Colleges, Affiliating University (in case of colleges) Off- Campus/Off-shore Campus/Laerning Support Center Under ODL mode (wherever applicable)</a></li>
            <li><a href="https://igkv.ac.in//web/nirfcertificate.pdf" target="_blank">Accreditation / Ranking Status (NAAC, NBA, NIRF)</a></li>
            <li><a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/Recognization&Approval.pdf">Recognition / Approval (2(f), 12B, etc.)</a> </li>
            <li><a  (click)="goToannualRepo()">Annual Report</a> </li>
            <li><a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/6.6.8FinancialResourceManagement.pdf" target="_blank">Annual Accounts including Balance Sheet, Income and Expenditure Account, Receipt and Payments Account Along with audit report</a> </li>
            <li>Sponsoring body details, if any</li>
        </ul>

        <h2>Administration</h2>
        <hr>
        <ul>
            <li><a (click)="goTowhoswho()" target="_blank">Profile with Photograph and Contact details</a></li>
            <li><a (click)="goToChance()">Chancellor</a></li>
            <li>Pro-Chnacellor (NA)</li>
            <li><a (click)="goToVC()">Vice-Chancellor</a></li>
            <li>Pro-Vice-Chancellor (NA)</li>
            <li><a (click)="goToRagis()">Registrar</a></li>
            <li><a (click)="goToPrinciple()">Principal</a></li>
            <li><a (click)=" goToCopm()">Finance Officer</a></li>
            <li><a (click)="goToDI()">Controller of Examination</a></li>
            <li>Chief Vigilance Officer</li>
            <li><a href="https://igkv.ac.in//web/ombudsperson.pdf" target="_blank">Ombudsperson</a></li>
            <li><a (click)="goToAdm(1)">Board of Management</a></li>
            <li><a (click)="goToAdm(2)">Academic Council</a></li>
            <li><a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/BoMandAcademicCouncil.pdf" target="_blank">Executive Council/Board of governors by whatever name called, Board of studies,Finance Committee- Composition and members with particulars</a></li>
            <li><a href="https://igkv.ac.in/web/StudentsGrievanceRedressalCommittee.pdf" target="_blank">Internal Complaint Committee</a></li>
            <li><a (click)="goToAdm(2)">Academic Leadership (Dean/HoD of Schools/Departments/Centers)</a></li>
        </ul>

        <h2>Academics</h2>
        <hr>
        <ul>
            <li><a (click)="goToProg()">Details of Academic Programs</a></li>
            <li><a href="https://igkv.ac.in/web/academiccalendar.pdf" target="_blank">Academic Calendar</a></li>
            <li><a href="https://igkv.ac.in/web/regulation.pdf" target="_blank">Statutes/Ordinance pertaining to Academics/Examinations/Schools/Departments/Centres</a></li>
            <li><a (click)="goToStaff()">Centre wise faculty/Staff details with photographs</a></li>
            <li><a (click)="goToDepartment()">Department/School</a></li>
            <li>Internal Quality Assurance Cell (IQAC)</li>
            <li><a (click)="goToLib()">Library</a></li>
            <li><a (click)="goToMou()" >Academic Collaborations</a></li>
        </ul>

        <h2>Admissions & Fee</h2>
        <hr>
        <ul>
            <li><a href="https://igkv.ac.in/counselinghomenew.aspx" target="_blank">Prospectus (including fee structure for various programs)</a></li>
            <li><a (click)="goToAdApl()">Admission Process</a></li>
            <li><a href="https://igkv.ac.in/__Notics/2024-25/1/2024-08-09/17494__20240809025424.pdf" target="_blank">Fee Refund Policy</a> </li>
        </ul>

        <h2>Research</h2>
        <hr>
        <ul>
            <li><a (click)="goToProj()" >Research and Development Cell (including research and consultancy projects, foreign collabration industry collabrations)</a></li>
            <li> <a (click)="goToFacility()">Central Facilities</a></li>
            <li><a (click)="goToInclubation()">Incubation Centre/Start-Ups/ Entrepreneurship Cell</a></li>
        </ul>

        <h2>Student Life</h2>
        <hr>
        <ul>
            <li><a (click)="goToSports()">Sports Facilities</a></li>
            <li><a (click)="goToNCC()">NCC Details</a></li>
            <li><a (click)="goToNSS()">NSS Details</a></li>
            <li><a (click)="goToHostel()">Hostel Details</a></li>
            <li> <a (click)="goToOtherNews(35)" >Placement Cell and its activities</a></li>
            <li><a href="https://igkv.ac.in/web/ombudsperson-read.pdf">Details of student Grievence Redressal Committee (SGRC) and ombudsperson</a></li>
            <li><a (click)="goToHealth()" >Health Facilities</a> </li>
            <li>Internal Complaint Committee</li>
            <li><a href="https://igkv.ac.in/web/EqualOppoprtunity.pdf" target="_blank">Equal oppoprtunity Cell</a></li>
            <li><a (click)="goToOtherNews(34)">Anti Ragging Cell</a></li>
            <li><a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/SEDG.pdf" target="_blank"> Socio Economically Disadvantaged Group Cell (SEDG) </a>   </li>
            <li><a (click)="goToUfac()">Facilities for differently-abled (e.g, barrier - free environment)</a> </li>
        </ul>
        <h2>Alumni</h2>
        <hr>
        <ul>
            <li><a href="https://igkv.ac.in/alumni/AlumniHomePage.aspx" target="_blank">Alumni Association</a></li>
        </ul>

        <h2>Information Corner</h2>
        <hr>
        <ul>
            <li><a (click)="goToOtherNews(23)">RTI: Detais of central publication information officer (CPIO) and Appellate Authority (wherever applicable)</a> </li>
            <li><a (click)="goToAnnounce()">Announcements</a></li>
            <li><a (click)="goToNews()">Circulars and Notices</a></li>
            <li><a (click)="goToOtherNews(69)">Newsletters</a></li>
            <li><a (click)="goToEvent()">News, Recent events & Achievements</a></li>
            <li><a href="https://igkv.ac.in/recruitmenthome.aspx" target="_blank">Job Openings</a></li>
            <li><a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/reservasionRost.pdf" target="_blank"> Reservation Roaster (wherever applicable)</a></li>
            <li>Study in India</li>
            <li><a (click)="goToAdAplInt()" >Admission procedure and facilities provided to International students</a></li>
        </ul>

        <h2>Picture Gallery</h2>
        <hr>
        <ul>
            <li><a (click)="goToGallary()">Picture Gallery</a></li>
        </ul>

        <h2>Contact Us</h2>
        <hr>
        <ul>
            <li><a (click)="goToCont()">Details with phone number, Official mail id and address, Lation map</a></li>
            <li><a (click)="goToTelephone()">Telephone Directory</a></li>
        </ul>
    </div>

