<app-activity-banner [banner_img]="imageUrl"  [banner_heading]="banner_heading" [catTitle1]="office_name"></app-activity-banner>
<!-- Awards section start-->
<section id="about-page" class="pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="section-title1">Awards</h2>
          <!-- section title -->
          <div class="about-cont">
            <section class="portfolio" id="portfolio">
              <div class="portfolio-grid">
                <div class="container" style="padding: 0;">
                  <app-pagination
                 [currentPages]="currentPages"
                  [totalrecords]="totalrecords"
                 (rowsPerPageChanged)="onRowsPerPageChanged($event)"
                   (pageChanged)="onPageChanged($event)"
                   (searchCriteria)="onSearchCriteriaReceived($event)"> 
                  <div class="row"*ngIf="award_data?.length !== 0 ; else elseblock "  >
                    <ng-container *ngFor="let data of award_data">
                      <div class="col-lg-4 col-sm-6 mb-5 col-xs-12">
                        <div class="card card-block">
                          <a (click)="setdetails()" [routerLink]="['/about/activities-details',data.Website_Content_ID]">
                            <div class="image banner" [style.background-image]="'url(' + data.Column1 + ')'" *ngIf="data.Column1">
                            <img [src]="data.Column1" alt="office awards image" />
                            <div class="content">
          
                            </div>
                          </div>
                            <div class="portfolio-over">
                              <div>
                                <p class="card-text">
                                  {{data.web_content_date2|date:'MMMM d, y'}}
                                </p>
                              </div>
                            </div>
                          </a>
                           <div class="card-title">
                          <h4>{{data.Content_Title}}</h4>
                        </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                  <ng-template #elseblock>
                    <app-no-data></app-no-data>
                 </ng-template>
               
                  </app-pagination>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>