
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" [style.background-image]="'url(' + bannerUrl + ')'">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2 class="header" >Chancellor</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a >Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Chancellor</li>
                        </ol>
                    </nav>
                </div>  
            </div>
        </div> 
    </div> 
</section>


<section class="container-fluid "  style="background-color: rgb(248, 248, 248);">
    <div class="container ">
        <div class="row " style="padding-left:10px; padding-right: 10px;background-color: rgb(248, 248, 248);">
            <div class="col-md-4 mt-5">
                <div class="vc">
                    <img [src]="ChancellorIMG" alt="Chancellor Image" >
                </div>
            </div>
            <div class="col-md-8 mt-5" >
            <h2 class="chancellor-heading">Hon'ble Governor and Chancellor</h2>
            <!-- <h4 class="post-name">Hon'ble Governor of CG and Chancellor</h4> -->
    
    
            <p style="text-align: justify;font-size: calc(13px * var(--font-scale));font-family: 'Montserrat', Arial, Helvetica, sans-serif;
            ">The 10th Governor of Chhattisgarh, Shri Ramen Deka was born on 1 March 1954 in Sualkuchi, Kamrup (Assam). His father's name is Late Shri Surendra Nath Deka and mother's name is Late Mrs. Champabati Deka. He is survived by his wife, Mrs. Rani Deka Kakoti and two children. He received his BA degree in Philosophy and Economics from Pragjyotish College, Guwahati University, Assam.
            Shri Ramen Deka is a senior politician. He has been active in politics since 1977. He was a founding member of the Bharatiya Janata Party in the year 1980. Ramen Deka has also been the state president of Assam BJP in the year 2006. Shri Deka has been holding the post of Vice Chairman of Innovation and Transformation Commission of Assam State (Cabinet Minister status) from the month of August 2021 till 29 July 2024.</p>
            <p><a href="https://rajbhavancg.gov.in/honorable-governors/honorable-governors.php" target="_blank" class="know-more">Know More <i class="fa-solid fa-arrow-right color-white"></i></a></p>
            </div>
        </div>
    </div>
   

</section>

<section class="cv-biography">
    <div class="biography-content container">
        <h2 class="">Biography</h2>
        <p style="text-align: justify; font-size: calc(15px * var(--font-scale));font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        ">
            The 10th Governor of Chhattisgarh, Shri Ramen Deka was born on 1 March 1954 in Sualkuchi, Kamrup (R), Assam. His father's name is Late Shri Surendra Nath Deka and mother's name is Late Smt. Champabati Deka. He received his B.A. degree in Philosophy and Economics from Pragjyotish College, Guwahati University, Assam. His wife's name is Mrs. Ranee Deka kakoti.
            <br> <br>
            Shri Ramen Deka is a senior politician. He has been active in politics since 1977. He was a founding member of the Bharatiya Janata Party in the year 1980. Shri Ramen Deka has also been the state president of Assam BJP in the year 2006. While working in BJP, he has also handled many responsibilities at the national level. He was Vice Chairman of State Innovation and Transformation Aayog , Assam (Cabinet Rank) from August 2021 to 29 July 2024.
            <br> <br>
            He was elected as member off parliament two times MP twice. For the first time in the year 2009, he was elected as MP from Mangaldoi seat of Assam for the 15th Lok Sabha. During this period he was Member of the Standing Committee, Member of Public Accounts, Member of the India Bhutan Parliamentary Friendship Group, Member of the Subordinate Legislative Committee, Member of the Committee on Absence of Members from the sittings of the House. 
            <br> <br>
            After that, in the year 2014, he was again elected as M.P. for the 16th Lok Sabha. In the second term, Shri Ramen Deka was also a member of the Panel of Speakers in the Lok Sabha. During this period, he discharged the responsibilities of Member of Estimate Committee, Member of Advisory Committee, Member of Ministry of External Affairs and Overseas Indian Affairs, Member of Central Advisory Committee under Pradhan Mantri Adarsh Gram Yojana, Member of India-China Parliamentary Friendship Group and Member of Tea Board. In the second term, he was a member of the Standing Committee on Home Affairs, member of the General Purposes Committee, member of the Sub-Committee of the Second Estimates Committee and member of the Standing Committee of Foreign Affairs. 
            <br> <br>
            Shri Deka took oath of office as Governor of Chhattisgarh on 31st july 2024.
            
          </p>
    </div>
</section>
<app-contact-us></app-contact-us>
