
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #16628f;
  padding: 0 0 20px 0;
  color: #ffffff;
  font-size: calc(14px * var(--font-scale));
  // background: #f1f6fe;
}

.footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: calc(15px * var(--font-scale));
}

.footer .footer-newsletter h4 {
  font-size: calc(24px * var(--font-scale));
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

.footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

.footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

.footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: calc(16px * var(--font-scale));
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.footer .footer-newsletter form input[type=submit]:hover {
  background: #0d58ba;
}

.footer .footer-top {
  padding: 20px 0 10px 0;
  background: #153f58eb;
}

.footer .footer-top .footer-contact {
  margin-bottom: 10px;
}

.footer .footer-top .footer-contact h3 {
  font-size: calc(24px * var(--font-scale));
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

.footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

.footer .footer-top .footer-contact p {
  font-size: calc(14px * var(--font-scale));
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.footer .footer-top h4 {
  font-size: calc(16px * var(--font-scale));
  font-weight: bold;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-top .footer-links {
  margin-bottom: 30px;
}

.footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: calc(18px * var(--font-scale));
  line-height: 1;
}

.footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-top .footer-links ul a {
  color: #e9ecec;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

.footer .footer-top .social-links a {
  font-size: calc(18px * var(--font-scale));
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

.footer .copyright {
  text-align: center;
  float: left;
}

.footer .credits {
  float: right;
  text-align: center;
  font-size: calc(13px * var(--font-scale));
  color: #fff;
}




.visit-counter p {
  font-size: calc(16px * var(--font-scale));
  font-weight: bold;
  margin: 0;
}

.counter-box {
  display: inline-block;
  padding: 4px 10px;
  font-size: calc(14px * var(--font-scale));
  font-weight: bold;
  background: #0f4c75;
  color: #fff;
  font-family: "Courier New", monospace;
  border: 2px solid #3282b8;
  border-radius: 8px;
  box-shadow: 0 0 10px #3282b8;
  margin-top: 5px;
}

@media (max-width: 768px) {

  .footer .copyright,
  .footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
  .big-screen{
    display: none;
  }
  .footer-links h4{
    text-align: left;
    font-size: calc(13px* var(--font-scale)) !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    color: rgba(252, 169, 15, 0.973) !important;

  }
  .footer-links li a{
    font-size: calc(13px* var(--font-scale));
  }
  .small-screen .footer-top .footer-links ul li{
    padding: 0.3em 0 !important;
  }

  .small-screen .footer-top .social-links a {
    font-size: calc(12px * var(--font-scale));
    padding: 4px 0;
    width: 30px;
    height: 30px;
    margin: 0.1em;
  }
  .small-screen{
    padding-bottom: 0 !important;
  }
  .small-screen .copyright span{
    font-size: calc(13px* var(--font-scale));
  }
}


@media (min-width: 768px) {
  .small-screen{
    display: none;
  }
}
