<app-banner [banner_heading]="'University Act & Statutes 1987'"
    [banner_img]="BannerImg"></app-banner>

<section id="about-page" class="pt-3 pb-3">
    <div class="container">
        <div class="row University_Act_Status">
            <div class="col-lg-12">
                    <h2 class="section-title1">Authorization</h2>


                <div class="about-cont">
                    <p id="P1" class="contents">Governed by Indira Gandhi Krishi Vishwavidyalaya Adhiniyam (Act) 1987 of Madhya Pradesh
                        State and Indira Gandhi Krishi Vishwavidyalaya statues 1987 (9 September 1987) and with
                        subsequent amendments (4 October 1990, 26 September 1994 and 15 March 1995).</p>
                    <p class="contents">Under the Act of 1987 (Madhya Pradesh Government) IGKV came into existence vested with power to
                        institute academic degrees. The university has power to give instruction in agriculture and
                        other allied sciences. Indira Gandhi Krishi Vishwavidyalaya has been given power to establish
                        colleges relating to agriculture and other allied sciences. The university can conduct
                        examinations and confer degrees, diplomas or other distinctions as deemed fit. The university is
                        also empowered to award Scholarship, Fellowships, medals and prizes etc. There is a provision to
                        generate technologies through research and the same be disseminated to the farming community and
                        general public through extension activities. In 2000, after the formation of Chhattisgarh state,
                        the IGKV Act has been modified and affiliated colleges with self finance scheme were brought
                        under the jurisdiction of IGKV.</p>

                    <div class="row Pdf_Section">
                        <div class="col-md-3">
                            <span> 
                                    <h3 style="font-weight: bold; color: #16628f;">IGKV Adhiniyam, 1987 pdf</h3>
                            </span>
                            <div>
                                <a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/IGKVAdhiniyam1987.pdf" target="_blank"> 
                                <span> <i class="fa-solid fa-file-pdf fa-2xl"></i></span> 
                                </a>
                            </div>
                                
                        </div>
                        <div class="col-md-3">
                            <span> 
                                    <h3 style="font-weight: bold; color: #16628f;">IGKV Pariniyam, 1987 pdf</h3>
                            </span>
                            <div>
                                <a href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/IGKVPriniyam1987.pdf" target="_blank"> 
                                <span> <i class="fa-solid fa-file-pdf fa-2xl"></i></span> 
                                </a>
                            </div>
                                
                        </div>
                        <div class="col-md-6">
                            <div class="image">
                    <img src="assets/images/new-icon.gif" alt="university act and statutes image" />
                </div>
                            <span> <a
                                    href="https://igkv.ac.in/_Attachment/web/UniversityContent/pdf/notification/212.pdf" target="_blank">
                                    <h4> <strong>Amendments in IGKV statute as approved by Rajbhawan for creation of
                                            faculty of horticulture</strong> </h4>
                                </a> </span>
                        </div>
                    </div>
                </div>
            </div> <!-- about cont -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<!-- overview section end-->

<!-- Governance section start-->
<section id="Section1" class="pt-5 pb-5">
    <div class="container">
        <div class="row University_Act_Status">
            <div class="col-lg-12">
                <div class="section-title ">
                    <h2>Governance</h2>
                </div> <!-- section title -->


                <div class="about-cont">
                    <p id="P2" class="contents">MP Gazette 9th Sept. 1987 & 10th Oct. 1990, 26th Sept. 1994, 15th March, 1995.</p>
                    <p class="contents">IGKV is governed by Indira Gandhi Krishi Vishwavidyalaya Adhiniyam (Act) 1987 of Madhya Pradesh
                        State and Indira Gandhi Krishi Vishwavidyalaya statues 1987 (9 September 1987) and with
                        subsequent amendments (4 October 1990, 26 September 1994 and 15 March 1995). As per the Act and
                        Statues the University Governance is as follows: His Excellency the governor of the state is the
                        Chancellor and Head of the University followed by Vice-chancellor, Board of Management, Academic
                        Council, Administrative Council, Research Council, Extension Council and Council of PG studies
                        and faculties. Hon’ble Vice-chancellor is the Principal Executive and Academic Officer of the
                        University. The other statutory Officers are Registrar, Comptroller, Deans, Directors,
                        Superintendent Physical Plant and University Librarian.</p>
                </div>
            </div> <!-- about cont -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>