




  /* banner heading */

#page-banner {
  padding-top: 105px;
  padding-bottom: 110px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#page-banner:before {
  content: "";
  background: #07294dd0; /* Adjust the alpha value to control overlay transparency */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-banner-cont {
  color: #fff;
  position: relative;
  z-index: 1; 
  font-weight:700 ;
}

.header{
 font-size: calc(50px * var(--font-scale));
 font-weight: 700;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item a {
  color: #fff; /* Set breadcrumb text color to white */
}

.breadcrumb-item + .breadcrumb-item::before{
  color: white;
}

.breadcrumb-item.active {
  color: #ffc107; /* Set active breadcrumb text color to yellow */
}



/* gallery-detail css */

.gallery-detail h2{
  font-weight: 600;
}

.gallery-image{
  height: 17em;
  overflow: hidden;
}


.gallery-image img{
transition: all 0.4s linear;
height: 100%;
}

.gallery-image:hover img{

  transform: scale(1.2);
}


.banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  // background-image: url('assets/images/bg_img.jpg'); /* Use the blurred image as the background */
  background-size: cover;
  filter: blur(8px);
  /* Adjust the blur intensity as needed */
}

img {
  position: relative;
  z-index: 1;
  /* Ensure the image is above the blurred background */
}


.sub-Gallery-Details h4{
  font-size: calc(14px * var(--font-scale));
  font-weight: 500;
  text-align: center;
  padding: 0.5em;
  height: 2.5em;
  color: #000;

}

.gallery-section{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}