<app-banner [banner_heading]="'Post Arrival Information'" [banner_img]="bannerImg"></app-banner>


<section class="gray-bg pt-3 pb-3 post-arrival-info-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead  mt-3">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col mb-3 mt-3"
                style="border: solid 1px; border-color: rgb(202, 200, 200); background-color: rgb(255, 255, 255);">
                <div class="post-arrival-info mt-3">
                    <h2 class="mt-3 mb-5">Post Arrival Information for International Students</h2>
                    <ul class="post-arrival-list">
                        <li><i class="fas fa-plane-arrival"></i> After reaching Delhi International Airport, University
                            will arrange Airport Pickup for Students who have shared their flight details with
                            International Relations Division.</li> &nbsp;
                        <li><i class="fas fa-user-check"></i> Student will report in the International Relations
                            Division (IRD) along with all the required documents and interact with the reporting
                            officer.</li> &nbsp;
                        <li><i class="fas fa-file-signature"></i> The documents will be checked and verified by IRD
                            staff. Students will fill the registration form and submit the required documents after
                            reading them carefully to get registered in the respective programs.</li> &nbsp;
                        <li><i class="fas fa-passport"></i> It is mandatory for all International students except those
                            from Nepal and Bhutan to get their Student Visa registered at FRRO/FRO Raipur or New Delhi
                            within 14 days of arrival in India. University will guide and assist Student with all the
                            required processes.</li>
                        <li><i class="fas fa-notes-medical"></i> Student has to report International Relations Division
                            (IRD) for Medical Checkup and also can collect their Medical Insurance Card.</li> &nbsp;
                        <li><i class="fas fa-calendar-times"></i> Students joining the university after the prescribed
                            time period may be denied admission.</li> &nbsp;
                        <li><i class="fas fa-file-invoice-dollar"></i> It is the prime responsibility of the student to
                            visit International Relations Department in time to complete the required documentations, so
                            that no fine is levied against him/her.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
