
.table_section table,
.table_section th,
.table_section td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 5%;
   
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
  background-color: #2f5f8f; /* darker blue */
  color: #ffffff;
  font-weight: 600;
   
  }
