<div>

    <!-- Banner section start-->
    <app-banner [banner_heading]="'Safety & Security'"
        [banner_img]="bannerImg"></app-banner>
    <!-- Banner section end-->

    <!--====== Round the Clock Security PART START ======-->


    <section id="Section1" class="pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="section-title1">Round the Clock Security</h2>
                </div> <!-- about cont -->

            </div> <!-- row -->

        </div> <!-- container -->
    </section>


    <div class="container-fluid">
        <div class="container">
            <div class="row security">
                <div class="col-md-3 first_row">
                    <div class="card">
                        <img [src]="univ_survellance" alt="image">
                        <h5>UNIVERSITY SURVEILLANCE </h5>
                    </div>
                </div>
                <div class="col-md-3 first_row">
                    <div class="card">
                        <img [src]="SurvellanceImg" alt="image">
                        <h5>
                            SURVEILLANCE
                            CAMERAS</h5>
                    </div>
                </div>
                <div class="col-md-3 first_row">
                    <div class="card">
                        <img [src]="Main_gate_igkv" alt="image" />
                        <h5>ACCESS CONTROL FOR CAMPUS</h5>
                    </div>
                </div>
                <div class="col-md-3 first_row">
                    <div class="card even">
                        <img [src]="Fire_Extinguisher_Image" alt="image">
                        <h5>CAMPUS & FIRE SAFETY SERVICE</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--====== Round the clock security PART End ======-->
    <section id="Section2" class="pt-20">
        <div class="container">
            <div class="Security">
                <div class="row first_row">
                    <div class="col-md-5 ">
                        <div class="innerrow">
                            <div class="slider-container ">
                                <img class="slider-image" [src]="Committed_Images[currentSlide].src"
                                    alt="Image {{ currentSlide + 1 }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="section-title2">Committed to Safety & Security</h2>
                        <span class="contents"> At IGKV, we are deeply committed to fostering a culture of safety
                            and
                            security within our campus
                            community. Our comprehensive security measures encompass state-of-the-art technology,
                            highly
                            trained
                            personnel, and proactive strategies aimed at mitigating risks and ensuring the
                            well-being of
                            all
                            individuals on our premises. From stringent access control protocols to regular security
                            assessments
                            and awareness campaigns, we prioritize the safety and security of our students, faculty,
                            staff, and
                            visitors. Through continuous improvement and collaboration with local authorities, we
                            strive
                            to
                            maintain a safe and supportive environment where everyone can thrive and pursue their
                            academic and
                            personal goals with confidence.
                        </span>
                    </div>
                </div>

                <div class="row first_row">
                    <div class="col-md-7">
                        <h2 class="section-title2">CCTV & Electronic Surveillance </h2>
                        <span class="contents"> At IGKV, our commitment to security extends to the implementation of
                            cutting-edge CCTV and
                            electronic surveillance systems. Strategically positioned across our campus, these
                            advanced
                            technologies provide comprehensive monitoring of key areas in real-time, bolstering our
                            ability to
                            detect and deter security threats effectively. With continuous surveillance, we ensure
                            the
                            safety
                            and well-being of our campus community, while also enhancing overall security measures.
                            Our
                            investment in CCTV and electronic surveillance underscores our dedication to proactive
                            security
                            practices, fostering a safe and secure environment where students, faculty, staff, and
                            visitors can
                            thrive with confidence and peace of mind.</span>
                    </div>

                    <div class="col-md-5 ">
                        <div class="innerrow">
                            <div class="slider-container ">
                                <img class="slider-image" [src]="CCTV_Images[currentSlide].src"
                                    alt="Image {{ currentSlide + 1 }}">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row first_row">
                    <div class="col-md-5 ">
                        <div class="innerrow">
                            <div class="slider-container ">
                                <img class="slider-image" [src]="Available_Images[currentSlide].src"
                                    alt="Image {{ currentSlide + 1 }}">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <h2 class="section-title2">Available 24/7</h2>
                        <span class="contents"> Our security team at IGKV stands as an unwavering sentinel, ensuring
                            the
                            safety and protection of
                            our campus community around the clock. With a steadfast commitment to vigilance, our
                            dedicated
                            personnel are always on duty, ready to respond promptly to any security concerns or
                            emergencies.
                            Whether it's day or night, weekends or holidays, our team remains vigilant and prepared,
                            providing
                            peace of mind to students, faculty, staff, and visitors alike. At IGKV, safety is our
                            top
                            priority,
                            and our 24/7 security presence reflects our unwavering dedication to maintaining a
                            secure
                            and
                            supportive environment for all</span>
                    </div>
                </div>

                <div class="row first_row">
                    <div class="col-md-7">
                        <h2 class="section-title2">Friendly & Vigilant</h2>
                        <span class="contents"> In security, being both friendly and vigilant is our mantra at IGKV.
                            Our
                            security team embodies a
                            unique blend of approachability and alertness, creating a welcoming atmosphere while
                            maintaining a
                            watchful eye on campus safety. With a smile and a keen sense of awareness, our personnel
                            foster
                            positive interactions with students, faculty, staff, and visitors, ensuring everyone
                            feels
                            safe and
                            supported. Whether assisting with directions, answering questions, or monitoring for
                            potential
                            risks, our team exemplifies the balance between friendliness and vigilance, contributing
                            to
                            a secure
                            and inclusive environment where everyone can thrive.</span>
                    </div>

                    <div class="col-md-5 ">
                        <div class="innerrow">
                            <div class="slider-container">
                                <img class="slider-image" [src]="Friendly_Images[currentSlide].src"
                                    alt="Image {{ currentSlide + 1 }}">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <!--====== Head of Faculties PART START ======-->
    <section id="category-3" class="category-2-items">
        <!-- Overview section start-->
        <section id="Section2" class="pt-20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title mt-50">
                            <h2>Contact Us for Emergency </h2>
                        </div> <!-- section title -->
                    </div> <!-- about cont -->
                </div> <!-- row -->
            </div> <!-- container -->
        </section>
        <!-- Overview section end-->
        <div class="container-fluid">
            <div class="container">
                <div class="row Contact">
                    <div class="col-md-3 indoor_img_part">
                        <div class="drs_image">
                            <img [src]="SecurityOfc" alt="">
                        </div>
                    </div>
                    <div class="col-md-9 indoor_part">
                        <h3>Dr. R.K. Thakur</h3>
                        <h5>OSD (Security)</h5>
                        <div class="indoor_overview_content">
                            <ul class="indoor_overview_list" style="list-style: none; font-weight: 400;">
                                <li>Indira Gandhi Krishi Vishwavidyalaya,Raipur, Chhattisgarh</li>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> : IGKV , Main Campus ,
                                    Krishak Nagar, Raipur C.G.</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> : +91 98274-05671</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--====== Head of faculties PART END ======-->