/* college activites */
.activity-container {
    position: relative;
    width: 100%;
    height: 22em;
    overflow: hidden;
    padding: 0% !important;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  
  .activity-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease;
  }
  
  .activity-container:hover .activity-img {
    transform: scale(1.2);
  }
  
  .activity-container .activity-description p {
    font-size: calc(14px * var(--font-scale));

  }


  .activity-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #f8f5f5;
    color: #000000;
    padding: 5px;
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  .activity-container:hover .activity-description {
    opacity: 1;
  }
  
  .calendar-icon {
    position: absolute;
    top: 2px;
    right: 0;
    color: #fff;
    font-size: calc(24px * var(--font-scale));
  }
  
  .calendar-date {
    position: absolute;
    top: 2px;
    right: 24px;
	color:#fff;
	background-color:#333333;
	padding: 0.1em;
	border-radius: 0.5em;
  }
  
  .activity-container p {
    font-weight: 600;
    color: #050505;
    margin-bottom: 0;
   
  }
  
  .calendar-date span {
    font-size: calc(10px * var(--font-scale));
  }
  
  .activity-container-new {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    padding: 0% !important;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  }
  
  .activity-container-new p {
    font-weight: 600;
    color: #080808;
    line-height: 1.4;
    margin-bottom: 0;
    text-align: left;
    font-size: calc(14px * var(--font-scale));
  }
  
  .activity-container-new:hover .activity-img {
    transform: scale(1.2);
  }
 