
/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us .box {
    padding: 30px 25px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    margin-bottom: 10px;
    border-top: 3px solid;
    border-color: #0b97d7;
  
  }
  
  .why-us .box span {
    display: block;
    font-size: calc(19px * var(--font-scale));
    font-weight: 700;
    color: #0984bd;
  }
  
  .why-us .box h4 {
    font-size: calc(20px * var(--font-scale));
    font-weight: 600;
    padding: 0;
    margin: 20px 0;
    color: #353535;
  }
  
  .why-us .box p {
    color: #919191;
    font-size: calc(15px * var(--font-scale));
    margin: 0;
    padding: 0;
  }
  
  .why-us .box:hover {
    background: #0984bd;
  //   padding: 30px 30px 70px 30px;
    box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
    .link:hover{
      color:rgb(177, 214, 228)
  }
  }
  
  .why-us .box:hover span,
  .why-us .box:hover h4,
  .why-us .box:hover a,
  .why-us .box:hover p {
    color: #fff;
   
  }
  
  .link{
  font-weight: 500;
  color: #0984bd;
  cursor: pointer;
  }
  
  .link:hover{
      color:#304b72
  }
  
  
  /*--------------------------------------------------------------
  # Specials
  --------------------------------------------------------------*/
  .specials {
      overflow: hidden;
    }
      
    .specials .details h3 {
      font-size: calc(26px * var(--font-scale));
      font-weight: 600;
      margin-bottom: 20px;
      color: #565858;
    }
    
    .specials .details h5 {
      font-size: calc(18px * var(--font-scale));
      font-weight: 500;
      margin-bottom: 20px;
      color: #565858;
    }
  
    .specials .details p {
      color: #2f4c5a;
    }
    
    .specials .details p:last-child {
      margin-bottom: 0;
    }
    
    @media (max-width: 992px) {
      .specials .nav-link {
        border: 0;
        padding: 15px;
        margin-top: 13px;
      }
    }
    
  
    .txt{
      font-size: large;
      font-weight: 500;
      margin-left: 20px;
    }
  
    .headTxt{
      font-size: medium;
      font-weight: 400;
    }
  
  //   table css
  table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 20px;
      border: 1px solid #dddddd;
      background-color: #f9f9f9;
    }
  
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  
    th {
      background-color: #3f637b;
      color: white;   
    }
  
    /* Hover Effect */
    tr:hover {
      background-color: #d1d1d1;
      border: 1px solid #cccccc;
    } 
  
    .projectDetailRow{
      box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
      padding: 15px;
      margin-bottom: 20px;
    }
  
  
    // ============= counter ==========
  
    .demo{ background-color: #e7e7e7; }
  .counter{
      font-family: 'Nunito Sans', sans-serif;
      background: #fff;
      text-align: center;
      width: 230px;
      min-height: 300px;
      padding: 10px 15px;
      margin: 0 auto;
      border-radius: 30px;
      box-shadow: 0 8px 5px rgba(0, 0, 0, 0.2);
      position: relative;
  }
  .counter:before{
      content: '';
      background-color: #9DD662;
      height: 105px;
      width: 100%;
      border-radius: 30px 30px 0 0;
      position: absolute;
      left: 0;
      top: 0;
  }
  .counter .counter-icon{
      color: #fff;
      background: #7CA936;
      font-size: calc(35px * var(--font-scale));
      line-height: 90px;
      width: 120px;
      height: 100px;
      margin: 0 auto 10px;
      border-radius: 10px 10px 0 0;
      transform: translateY(-20px);
      position: relative;
      clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  }
  .counter .counter-icon:before{
      content: "";
      background: #8AC248;
      width: 120px;
      height: 90px;
      border-radius: 10px 10px 0 0;
      transform: translateX(-50%);
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      clip-path: polygon(0% 0%, 100% 0, 100% 70%, 50% 100%, 0 70%);
  }
  .counter:hover .counter-icon i{
      transform: rotate(360deg);
      transition: all 0.3s ease;
  }
  .counter h4{
      color: #333;
      font-size:15px;
      font-weight: 500;
      // letter-spacing: 1px;
      // text-transform: uppercase;
      margin: 0 0 5px 0;
      text-align: center;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
  
  }
  .counter .counter-value{
      color: #7CA936;
      font-size: calc(30px * var(--font-scale));
      font-weight: 600;
      display: block;
  }
  .counter.blue:before{ background-color: #5A9BEF; }
  .counter.blue .counter-icon{ background-color: #2A70B5; }
  .counter.blue .counter-icon:before{ background-color: #367DCB; }
  .counter.blue .counter-value{ color: #367DCB; }
  .counter.red:before{ background-color: #FD6D4B; }
  .counter.red .counter-icon{ background-color: #D14026; }
  .counter.red .counter-icon:before{ background-color: #EA5736; }
  .counter.red .counter-value{ color: #EA5736; }
  .counter.gray:before{ background-color: #777; }
  .counter.gray .counter-icon{ background-color: #444; }
  .counter.gray .counter-icon:before{ background-color: #666; }
  .counter.gray .counter-value{ color: #666; }
  @media screen and (max-width:990px){
      .counter{ margin-bottom: 40px; }
  }
  
  .fa-rocket:before {
    content: "\f135";
    color: white;
  }
  
  @media screen and (max-width:990px){
    .counter{ 
      width: 180px;
      height: 230px;
    }
}
