<!-- Contact section start-->
 <section *ngIf="contact_data" id="Section4" class="" style="margin-bottom: 30px">
  <div class="container">
    <div class="row">
      <div class="section-title mt-3">
        <!-- <h2>Contact Us</h2> -->
    </div>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12">
      <div class="about-cont">
          <div class="contact_us_section">
                <div class="contact_details">
        <div class="about-cont">
          <div class="contact_us_section">
                <div class="contact_details">
                <div class="forpadding row">
                <div class="col-md-6 contact-us-heading">
                  <h2 class="heading">Contact Us :</h2>  
                  <p class="text">
                For any queries related to the website or information please feel free to contact us via email, phone or visit physically by the given information here.
                </p>  
                <div class="social-media">
                
                  <div class="row">
                    <div class="col-md-6">
                      <a href=""> <span><i class="fa-brands fa-facebook icon-font-size"></i>&nbsp;Facebook</span> 
                       </a>

                        <a href=""><span><i class="fa-brands fa-twitter icon-font-size"></i>&nbsp;Twitter</span>
                        </a>
                    </div>

                    <div class="col-md-6">
                       <a href="">
                      <span><i class="fa-brands fa-youtube icon-font-size"></i>&nbsp;Youtube</span>
                       </a>

                       <a href="">
                        <span><i class="fa-brands fa-instagram icon-font-size"></i>&nbsp;Instagram</span>
                       </a>
                    </div>

                  </div>
                </div>
                </div>
                   
                    <div class="col-md-6 Details">
                        <div class="address">
                          <h4>
                            <i class="fa-solid fa-location-dot icon-font-size"> </i> &nbsp;Address</h4>
                          <p>
                           {{contact_data.Unit_Address}},{{contact_data.PIN_Number}}
                          </p>
                        <hr>
                          </div>
                      
                        <div class="mobile_no">
                            <h4>
                              <i class="fa fa-phone icon-font-size " aria-hidden="true" ></i>&nbsp;Contact Number</h4>
                      <!-- <p>{{contact_data.Phone_Number}}</p> -->
                      <p>077124 42537</p>
                      <hr>     
                          </div>
                      
                        <div class="email">
                            <h4> 
                               <i class="fa fa-envelope icon-font-size " aria-hidden="true"></i>&nbsp;Email Id</h4>
                            <p >{{contact_data.Email_ID}}</p>
                            <hr>
                          </div>

                        <div class="opening-hours">
                            <h4 class="heading"> 
                              <i class="fa-solid fa-clock icon-font-size"></i> &nbsp;Opening Hours</h4>
                            <p class="text">10 AM to 5 PM <br></p>
                            <hr>
                          </div>
                        </div>
                    </div>

              </div>
            
          </div>
        </div>
      </div>
      
    </div>
   
      </div>
    </div>
    </div>
  </div>
</section> 
<!-- Contact section end-->

