<app-banner [banner_heading]="'Admission Rule'" [banner_img]="bannerImg"></app-banner>

<section class="pt-3 pb-3 admission-rules-section">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead  mt-3">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col-9 mt-3" style=" border: solid 1px;
            border-color: rgb(202, 200, 200); background-color: rgb(239, 239, 240);">
                <h2 class="section-heading mt-3">Admission Rules</h2>

                <div class="admission-rules-content">
                    <ul>
                        <li><i class="fas fa-check-circle"></i> Applicants in their own interest must read and
                            understand all the information published on the university website <a
                                href="https://igkv.ac.in/web/igkv.aspx">www.igkv.ac.in</a> and otherwise published by
                            the University from time to time.</li> &nbsp;
                        <li><i class="fas fa-check-circle"></i> The eligibility criterion for all programs for
                            international applicants is a minimum of 50% in the qualifying examination and having
                            studied the pre-requisite subjects for admission into the desired program.</li> &nbsp;
                        <li><i class="fas fa-check-circle"></i> For Admission to PhD Programs, the eligibility criterion
                            for international students is a Master's degree in the relevant discipline with 55% marks
                            and fulfilment of any other eligibility criteria prescribed by the University from time to
                            time.</li>&nbsp;
                        <li><i class="fas fa-check-circle"></i> Issue of offer letter (conditional or unconditional) or
                            any information/guidance/facilitation provided by the university should not be considered as
                            confirmation of admission or access to any facility of the university.</li>&nbsp;
                        <li><i class="fas fa-check-circle"></i> The university reserves the right to add, withdraw, or
                            change any program or tuition fees at any time, without any notice, information contained
                            herein, or otherwise published or announced by the university as well as any provision or
                            facility as and if deemed necessary. No responsibility will be accepted by the university
                            for hardship or expenses incurred by the applicant or any person(s) on this account, no
                            matter how they are caused.</li>&nbsp;
                        <li><i class="fas fa-check-circle"></i> For the purpose of equivalency of the qualifying exam,
                            the qualifications as recognized by AIU shall be considered. For any qualification not
                            recognized by AIU, equivalency proof has to be provided by the applicant from the Indian
                            High Commission/Consulate in their respective country or other concerned statutory body as
                            applicable.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
