/* lab abd infrastructure start */


.lab_infrastructure h2 {
  font-weight: 600;
  font-size: 1.8em;
}

.lab_infrastructure p {
  font-weight: 500;
}

/*.lab_infrastructure {
    overflow: hidden;
}*/


.lab_infrastructure img {
  padding: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

/* Zoom Out #1 */

.lab_infrastructure img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.lab_infrastructure .innerrow .image_section {
  overflow: hidden;
}

.lab_infrastructure {
  margin: 5px;
  margin-top: 4em;
  margin-bottom: 4em;
}

.lab_infrastructure .innerrow {

  background-color: #fff;
  text-align: center;
  margin-top: 10%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.lab_infrastructure p {
  text-align: justify;
  padding: 1em;
  font-weight: 500;
  padding-top: 0;
}

.lab_infrastructure h2 {
  margin: 0.4em;
}

/* lab abd infrastructure end */


/*gallery section css start*/
.gallery_section .gallery-image img {
  transform: scale(1.0);
  transition: transform 0.4s ease;
  width: 100%;
}

.gallery_section .img-box {
  box-sizing: content-box;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.gallery_section .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery_section .caption p {
  color: white;
}

.gallery_section .transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.gallery_section .img-box:hover img {
  transform: scale(1.1);
}

.gallery_section .img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery_section .img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.gallery_section .img-box:hover {
  cursor: pointer;
}

.gallery_section .caption>p:nth-child(2) {
  font-size: 0.8em;
}

.gallery_section .opacity-low {
  opacity: 0.5;
}

/*gallery section css end*/


/*Central Research Laboratories And Facilities css start*/

.overview .overview_text p {
  font-size: large;
}


.Facilities .innerrow {
  margin-top: 0.4em;
  border-radius: 10px;
}


.Facilities .innerrow .image_section {
  border-radius: 0.45em;
}

.Facilities h2 {
  margin-top: 0;
  color: #07294d;
}


// -------------------Contact us section css start -----------
  
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Individual contact card */
.contact-card {
  flex: 1 1 45%;
  padding: 0.8em 0;
  justify-content: center;
  background: #16628f;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

/* Contact card title */
.contact-card h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact details text */
.contact-card p {
  font-size: 1.1em;
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0;
  justify-content: center;
  word-wrap: break-word; /* Allows long words to break */
  word-break: break-word; /* Ensures text breaks at word boundaries */
  white-space: normal;  
}

/* Map section styling */
.map-container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 5px #427d9d;
}

.map-container h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
