
<!-- ============ Translator =========== -->
 <!-- <div>{{'Hello' | translate}}</div>
<button (click)="switchLanguage('en')">en</button>
<button (click)="switchLanguage('hn')">hn</button> -->

<app-topbar></app-topbar>
<!-- <router-outlet (activate)="onActivate()"></router-outlet> -->
<router-outlet></router-outlet>
<!-- chat button -->
<!-- <button class="chatbot-button" (click)="toggleChatbot()">
  <i class="fa-regular fa-comment-dots" *ngIf="!isChatbotOpen"></i>
  <i class="fa-regular fa-circle-xmark" *ngIf="isChatbotOpen"></i>
</button> -->
<app-chatbot *ngIf="isChatbotOpen"></app-chatbot>



<!-- Scroll Button -->
<button aria-label="scroll-to-top"
  class="scroll-to-top"
  title="Go to top"
  [ngClass]="{'show': isShowScrollToTop}"
  (click)="scrollToTop()">
  ↑
</button>

<!--  show popup -->
<!-- Admission Popup -->
<!-- <div class="admission-popup" *ngIf="showAdmissionPopup">
  <p>Admission Starts for 2026-27</p>
  <button (click)="onApply()">Apply Now</button>
</div> -->


<app-footer></app-footer>
