<app-banner [banner_heading]="'Program Fee'" [banner_img]="bannerImg"></app-banner>

<section class="gray-bg pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead  mt-3">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col fee mt-3">
                <div class="overview">
                    <h2>Programme Fee National</h2>
                    <p>a career with exceptional prospective fields and a challenging roles in a futuristic industry.
                        The
                        financial security, the freedom to relocate, the long prospects of learning makes this programme
                        an
                        ideal career</p>
                </div>
                <div class="row mt-4">
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 1</h3>
                            <p><strong>Duration:</strong> 6 months</p>
                            <p><strong>Tusion Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 2</h3>
                            <p><strong>Duration:</strong> 12 months</p>
                            <p><strong>Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 1</h3>
                            <p><strong>Duration:</strong> 6 months</p>
                            <p><strong>Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 1</h3>
                            <p><strong>Duration:</strong> 6 months</p>
                            <p><strong>Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 1</h3>
                            <p><strong>Duration:</strong> 6 months</p>
                            <p><strong>Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fee-div">
                            <h3>Course Name 1</h3>
                            <p><strong>Duration:</strong> 6 months</p>
                            <p><strong>Fee:</strong>  </p>
                            <p><strong>Admisson Fee:</strong>  </p>
                            <div class=" text-center">
                                <button class="apply-btn">Apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

