<div class="section">
    <div class="column">
        <ul>
            <li><a (click)="routeTowhyChoose()"> <i class="fa-solid fa-caret-down mt-3"></i> Why Choose IGKV </a></li>
            <li><a (click)="routeToadmission()"> <i class="fa-solid fa-caret-down mt-3"></i> Admission </a></li>
            <li><a (click)=" routeToapply()"> <i class="fa-solid fa-caret-down mt-3"></i> How to apply</a> </li>
            <li> <a (click)="routeToprogramfee()"> <i class="fa-solid fa-caret-down mt-3"></i> Programme Fee </a></li>
            <li> <a (click)="routeToadmissionrule()"> <i class="fa-solid fa-caret-down mt-3"></i> Admission Rules </a></li>
            <li><a (click)="routeTopayment()"> <i class="fa-solid fa-caret-down mt-3"></i> Payment Procedure </a></li>
            <li><a (click)="routeToprearrival()"><i class="fa-solid fa-caret-down mt-3"></i> Pre-Arrival Information </a> </li>
            <li><a (click)="routeTopostarrival()"><i class="fa-solid fa-caret-down mt-3"></i> Post-Arrival Information  </a></li>
            <li><a (click)="routeToexamination()"><i class="fa-solid fa-caret-down mt-3"></i>Examination Instructions  </a></li>
            <li><a (click)="routeToabroad()"><i class="fa-solid fa-caret-down mt-3"></i>Study Abroad  </a></li>
            <li><a (click)="routeToProgram()"><i class="fa-solid fa-caret-down mt-3"></i>Programs  </a></li>

        </ul>
    </div>
</div>
