
<app-banner [banner_heading]="'Boys Hostel'" [banner_img]="bannerImg"></app-banner>
<section id="Section3" class="pt-3 mt-4 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Overview</h2>


        <div class="about-cont">
          <p class="contents">
            The boys' hostel stands as a secure and supportive residence catering to the specific needs of male students
            pursuing their academic journey. Equipped with modern facilities, it ensures a conducive living environment
            that promotes both academic focus and personal development.
            Accommodation in the hostel comprises well-furnished rooms, each designed for comfort and functionality.
            Security is a paramount concern, and the hostel incorporates surveillance systems, access control, and 24/7
            staff presence to ensure the safety and well-being of its residents.</p>
          <p class="contents">The hostel includes common areas, lounges, and recreational spaces that encourage social
            interaction and
            community building among the residents. These spaces serve as hubs for both academic collaboration and
            leisure activities. Facilities for academic support, including study areas and internet connectivity, are
            integrated to meet the educational needs of the residents.
            Practical amenities such as well-equipped kitchens for nutritious meals, laundry services, and regular
            housekeeping contribute to a clean and organized living environment. The hostel administration also fosters
            a sense of camaraderie by organizing cultural events, workshops, and recreational activities. In essence,
            the boys' hostel aims to be a home away from home, offering a secure, comfortable, and enriching environment
            that complements the academic pursuits and personal growth of male students.</p>

        </div>
      </div> <!-- about cont -->

    </div> <!-- row -->

  </div> <!-- container -->
</section>

<!--====== Our Hostel  PART START ======-->
<section id="Section2" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Housing & Residental</h2>
      </div>
    </div>
  </div>
</section>


<section id="Section6" class="pt-10">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="about-cont">
          <div class="container">
            <div class="boys_hostel">

              <div class="first_row">
                <div class="row">
                  <div class="col-md-6">
                    <div class="innerrow">
                      <div class="slider-container ">
                        <img class="slider-image" [src]="Satyam_Hostel[currentSlide].src"
                          alt="Image {{ currentSlide + 1 }}">
                        <div class="slider-description">{{ Satyam_Hostel[currentSlide].description }}</div>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <h2>Satyam Hostel :</h2>
                    <div class="boys_hostel_List">
                      <hr>
                      <ul class="contents">
                        <li>Spacious and comfortable rooms.</li>
                        <li>24/7 security surveillance.</li>
                        <li> High-speed internet access </li>
                        <li>Regular housekeeping services</li>
                        <li>Nutritious and hygienic meals provided </li>
                        <li>Common recreational areas for relaxation</li>
                        <li>Study rooms equipped with necessary amenities </li>
                        <li>Medical assistance and emergency support</li>
                        <li>Regular social and cultural events organized</li>
                      </ul>
                    </div>

                    <div class="infrastructure-card row">
                      <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                        Wifi</div>
                      <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                        Peacefull Environment </div>
                      <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                        Hall</div>
                      <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                          aria-hidden="true"></i> Study Area</div>
                    </div>




                    <div class="warden-container">
                      <div class="warden-card ">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. Pratap Toppo</h4>
                          <p class="warden-role">Warden-1</p>
                          <p class="warden-contact">Contact: +91 94077-29449</p>

                        </div>
                      </div>

                      <div class="warden-card">

                        <div class="warden-info">
                          <h4 class="warden-name">Dr. Yogesh Ku. Meshram</h4>
                          <p class="warden-role">Warden-2</p>
                          <p class="warden-contact">Contact: +91 94241-48633</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!--====== Satyam PART End ======-->


              <!--====== Shivam Hostel PART STARTS ======-->
              <div class="first_row">
                <div class="row ">
                  <div class="col-md-6 ">
                    <h2>Shivam Hostel :</h2>
                    <div class="boys_hostel_List">
                      <hr>
                      <ul class="contents">
                        <li>Spacious and comfortable rooms.</li>
                        <li>24/7 security surveillance.</li>
                        <li> High-speed internet access </li>
                        <li>Regular housekeeping services</li>
                        <li>Nutritious and hygienic meals provided </li>
                        <li>Common recreational areas for relaxation</li>
                        <li>Study rooms equipped with necessary amenities </li>
                        <li>Medical assistance and emergency support</li>
                        <li>Regular social and cultural events organized</li>
                      </ul>
                    </div>

                    <div class="infrastructure-card row">
                      <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                        Wifi</div>
                      <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                        Peacefull Environment </div>
                      <div class="col-md-3 first_section"><i style="color: #ffc600;" class="fa-solid fa-wheat"></i>Mess
                        Hall</div>
                      <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                          aria-hidden="true"></i> Study Area</div>
                    </div>



                    <div class="warden-container">
                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. P.K. Sangode</h4>
                          <p class="warden-role">Sr. Warden-1</p>
                          <p class="warden-contact">Contact: +91 98261-35954</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>

                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. Dharmendra Khokhar</h4>
                          <p class="warden-role">Warden-2</p>
                          <p class="warden-contact">Contact: +91 94252-62439</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>
                      <!-- Repeat .warden-card for more wardens -->
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="innerrow">
                      <div class="slider-container ">
                        <img class="slider-image" [src]="Shivam_Hostel[currentSlide].src"
                          alt="Image {{ currentSlide + 1 }}">
                        <div class="slider-description">{{ Shivam_Hostel[currentSlide].description }}</div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
              <!--====== Shivam Hostel end ======-->

              <!--====== Sundaram Hostel PART STARTS ======-->
              <div class="first_row">
                <div class="row">
                  <div class="col-md-6">
                    <div class="innerrow">
                      <div class="slider-container ">
                        <img class="slider-image" [src]="Sundaram_Hostel[currentSlide].src"
                          alt="Image {{ currentSlide + 1 }}">
                        <div class="slider-description">{{ Sundaram_Hostel[currentSlide].description }}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <h2>Sundaram Hostel :</h2>
                    <div class="boys_hostel_List">
                      <hr>
                      <ul class="contents">
                        <li>Spacious and comfortable rooms.</li>
                        <li>24/7 security surveillance.</li>
                        <li> High-speed internet access </li>
                        <li>Regular housekeeping services</li>
                        <li>Nutritious and hygienic meals provided </li>
                        <li>Common recreational areas for relaxation</li>
                        <li>Study rooms equipped with necessary amenities </li>
                        <li>Medical assistance and emergency support</li>
                        <li>Regular social and cultural events organized</li>
                      </ul>


                      <div class="infrastructure-card row">
                        <div class="col-md-3 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                          Wifi</div>
                        <div class="col-md-3 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                          Peacefull Environment </div>
                        <div class="col-md-3 first_section"><i style="color: #ffc600;"
                            class="fa-solid fa-wheat"></i>Mess
                          Hall</div>
                        <div class="col-md-3 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                            aria-hidden="true"></i> Study Area</div>
                      </div>

                      <div class="warden-container">
                        <div class="warden-card">
                          <div class="warden-info">
                            <h4 class="warden-name">Dr. R.K. Thakur</h4>
                            <p class="warden-role">Warden-1</p>
                            <p class="warden-contact">Contact: +91 98274-05671</p>
                            <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                          </div>
                        </div>

                        <div class="warden-card">
                          <div class="warden-info">
                            <h4 class="warden-name">Dr. Sunil Kumar Nag</h4>
                            <p class="warden-role">Warden-2</p>
                            <p class="warden-contact">Contact: +91 99261-59853</p>
                            <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                          </div>
                        </div>
                        <!-- Repeat .warden-card for more wardens -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!--====== Sundaram Hostel PART ENDS ======-->

              <!--====== Maharshi Hostel PART STARTS ======-->
              <div class="row first_row">
                <div class="col-md-6">
                  <h2>{{ Maharshi_Hostel[currentSlide].description }}</h2>
                  <div class="boys_hostel_List">
                    <hr>
                    <ul class="contents">
                      <li>Open Access Facilities for Textual Documents.</li>
                      <li>Spacious and comfortable rooms.</li>
                      <li>24/7 security surveillance.</li>
                      <li> High-speed internet access </li>
                      <li>Regular housekeeping services</li>
                      <li>Nutritious and hygienic meals provided </li>
                      <li>Common recreational areas for relaxation</li>
                      <li>Study rooms equipped with necessary amenities </li>
                      <li>Medical assistance and emergency support</li>
                      <li>Regular social and cultural events organized</li>
                    </ul>

                    <div class="infrastructure-card row">

                      <div class="col-md-4 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                        Wifi</div>
                      <div class="col-md-4 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                        Peacefull Environment </div>
                      <div class="col-md-4 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                          aria-hidden="true"></i> Study Area</div>
                    </div>
                    <div class="warden-container">
                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. H.K. Singh</h4>
                          <p class="warden-role">Warden</p>
                          <p class="warden-contact">Contact: +91 82369-46108</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>

                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. D.P. Patel</h4>
                          <p class="warden-role">Warden</p>
                          <p class="warden-contact">Contact: +91 77460-99965</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>

                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. Deepak Mahapatra</h4>
                          <p class="warden-role">Warden</p>
                          <p class="warden-contact">Contact: +91 95893-53415</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>

                      <!-- Repeat .warden-card for more wardens -->
                    </div>

                  </div>
                </div>
                <div class="col-md-6">
                  <div class="innerrow">
                    <div class="slider-container ">
                      <img class="slider-image" [src]="Maharshi_Hostel[currentSlide].src"
                        alt="Image {{ currentSlide + 1 }}">
                      <div class="slider-description">{{ Maharshi_Hostel[currentSlide].description }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--====== Maharshi Hostel end ======-->

              <!--====== New Boys Hostel PART STARTS ======-->
              <div class="row first_row">
                <div class="col-md-5 ">
                  <div class="innerrow">
                    <div class="slider-container ">
                      <img class="slider-image" [src]="New_Boys_Hostel[currentSlide].src"
                        alt="Image {{ currentSlide + 1 }}">
                      <div class="slider-description">{{ New_Boys_Hostel[currentSlide].description }}</div>
                    </div>
                  </div>
                </div>

                <div class="col-md-7 ">
                  <h2>New Boys Hostel :</h2>
                  <div class="boys_hostel_List">
                    <hr>
                    <ul class="contents">
                      <li>Spacious and comfortable rooms.</li>
                      <li>24/7 security surveillance.</li>
                      <li> High-speed internet access </li>
                      <li>Regular housekeeping services</li>
                      <li>Nutritious and hygienic meals provided </li>
                      <li>Common recreational areas for relaxation</li>
                      <li>Study rooms equipped with necessary amenities </li>
                      <li>Medical assistance and emergency support</li>
                      <li>Regular social and cultural events organized</li>
                    </ul>

                    <div class="infrastructure-card row">
                      <div class="col-md-4 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                        Wifi</div>
                      <div class="col-md-4 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                        Peacefull Environment </div>
                      <div class="col-md-4 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                          aria-hidden="true"></i> Study Area</div>
                    </div>

                    <div class="warden-container">
                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. G.P. Ayam</h4>
                          <p class="warden-role">Warden-1</p>
                          <p class="warden-contact">Contact: +91 94063-56172</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>

                      <div class="warden-card">
                        <div class="warden-info">
                          <h4 class="warden-name">Dr. O.P. Suryawanshi</h4>
                          <p class="warden-role">Warden-2</p>
                          <p class="warden-contact">Contact: +91 79788-47363</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p> -->
                        </div>
                      </div>
                      <!-- Repeat .warden-card for more wardens -->
                    </div>

                  </div>
                </div>

              </div>


              <!--====== Swami Vivekanand Boys Hostel PART STARTS ======-->
              <div class="row first_row">
                <div class="col-md-7 ">
                  <h2>Swami Vivekanand Boys Hostel :</h2>
                  <div class="boys_hostel_List">
                    <hr>
                    <ul class="contents">
                      <li>Open Access Facilities for Textual Documents.</li>
                      <li>Spacious and comfortable rooms.</li>
                      <li>24/7 security surveillance.</li>
                      <li> High-speed internet access </li>
                      <li>Regular housekeeping services</li>
                      <li>Nutritious and hygienic meals provided </li>
                      <li>Common recreational areas for relaxation</li>
                      <li>Study rooms equipped with necessary amenities </li>
                      <li>Medical assistance and emergency support</li>
                      <li>Regular social and cultural events organized</li>
                    </ul>
                    <div class="infrastructure-card row">

                      <div class="col-md-4 first_section"><i style="color:#ffc600;" class="fa-solid fa-wifi"></i> Free
                        Wifi</div>
                      <div class="col-md-4 second_section"><i style="color:#ffc600;" class="fa-solid fa-book"></i>
                        Peacefull Environment </div>
                      <div class="col-md-4 third_section"><i style="color:#ffc600;" class="fa fa-desktop"
                          aria-hidden="true"></i> Study Area</div>
                    </div>
                    <div class="warden-container">
                      <div class="warden-card">

                        <div class="warden-info">
                          <h4 class="warden-name">Dr. Narendra Agrawal</h4>
                          <p class="warden-role">Warden</p>
                          <p class="warden-contact">Contact: +91 75870-93208</p>
                          <!-- <p class="warden-email">Email: johndoeexample.com</p>  -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="col-md-5 ">
                  <div class="innerrow">
                    <div class="slider-container ">
                      <img class="slider-image" [src]="Swami_Vivekanand_Hostel[currentSlide].src"
                        alt="Image {{ currentSlide + 1 }}">
                      <div class="slider-description">{{ Swami_Vivekanand_Hostel[currentSlide].description }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Gallery section end-->


<app-contact-us></app-contact-us>