
  /* banner */
  #page-banner {
    padding-top: 105px;
    padding-bottom: 110px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
  #page-banner:before {
    content: "";
    background: #07294dd0; /* Adjust the alpha value to control overlay transparency */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .page-banner-cont {
    color: #fff;
    position: relative;
    z-index: 1; 
    font-weight:700 ;
  }
  
  .header{
   font-size: calc(50px * var(--font-scale));
   font-weight: 700;
  }
  
  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumb-item a {
    color: #fff; /* Set breadcrumb text color to white */
  }
  
  .breadcrumb-item + .breadcrumb-item::before{
    color: white;
  }
  
  .breadcrumb-item.active {
    color: #ffc107; /* Set active breadcrumb text color to yellow */
  }
  
  


/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
    padding: 40px 0 20px 0;
  }
  
  .blog .entry {
    padding: 30px;
    margin-bottom: 60px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .blog .entry .entry-img {
    max-height: 440px;
    margin: -30px -30px 20px -30px;
    overflow: hidden;
  }
  
  .blog .entry .entry-title {
    font-size: calc(18px * var(--font-scale));
    font-weight: bold;
    padding: 0;
    margin: 0 0 20px 0;
  }
  
  .blog .entry .entry-title a {
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .entry .entry-title a:hover {
    color: #fa8620;
  }
  
  .blog .entry .entry-meta {
    margin-bottom: 15px;
    color: #b1a0a3;
  }
  
  .blog .entry .entry-meta ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .blog .entry .entry-meta ul li+li {
    padding-left: 20px;
  }
  
  .blog .entry .entry-meta i {
    font-size: calc(16px * var(--font-scale));
    margin-right: 8px;
    line-height: 0;
  }
  
  .blog .entry .entry-meta a {
    color: #777777;
    font-size: calc(14px * var(--font-scale));
    display: inline-block;
    line-height: 1;
  }
  
  .blog .entry .entry-content p {
    line-height: 24px;
  }
  
  .blog .entry .entry-content .read-more {
    -moz-text-align-last: right;
    text-align-last: right;
  }
  
  .blog .entry .entry-content .read-more a {
    display: inline-block;
    background: #fa8620;
    color: #fff;
    padding: 6px 20px;
    transition: 0.3s;
    font-size: calc(14px * var(--font-scale));
    border-radius: 4px;
  }
  
  .blog .entry .entry-content .read-more a:hover {
    background: #fa8620;
  }
  
  .blog .entry .entry-content h3 {
    font-size: calc(22px * var(--font-scale));
    margin-top: 30px;
    font-weight: bold;
  }
  
  .blog .entry .entry-content blockquote {
    overflow: hidden;
    background-color: #fafafa;
    padding: 60px;
    position: relative;
    text-align: center;
    margin: 20px 0;
  }
  
  .blog .entry .entry-content blockquote p {
    color: #444444;
    line-height: 1.6;
    margin-bottom: 0;
    font-style: italic;
    font-weight: 500;
    font-size: calc(22px * var(--font-scale));
  }
  
  .blog .entry .entry-content blockquote::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #493c3e;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .blog .entry .entry-footer {
    padding-top: 10px;
    border-top: 1px solid #e6e6e6;
  }
  
  .blog .entry .entry-footer i {
    color: #9a8487;
    display: inline;
  }
  
  .blog .entry .entry-footer a {
    color: #57484a;
    transition: 0.3s;
  }
  
  .blog .entry .entry-footer a:hover {
    color: #fa8620;
  }
  
  .blog .entry .entry-footer .cats {
    list-style: none;
    display: inline;
    padding: 0 20px 0 0;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .entry .entry-footer .cats li {
    display: inline-block;
  }
  
  .blog .entry .entry-footer .tags {
    list-style: none;
    display: inline;
    padding: 0;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .entry .entry-footer .tags li {
    display: inline-block;
  }
  
  .blog .entry .entry-footer .tags li+li::before {
    padding-right: 6px;
    color: #6c757d;
    content: ",";
  }
  
  .blog .entry .entry-footer .share {
    font-size: calc(16px * var(--font-scale));
  }
  
  .blog .entry .entry-footer .share i {
    padding-left: 5px;
  }
  
  .blog .entry-single {
    margin-bottom: 30px;
  }
  
  .blog .blog-author {
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .blog .blog-author img {
    width: 120px;
    margin-right: 20px;
  }
  
  .blog .blog-author h4 {
    font-weight: 600;
    font-size: calc(22px * var(--font-scale));
    margin-bottom: 0px;
    padding: 0;
    color: #493c3e;
  }
  
  .blog .blog-author .social-links {
    margin: 0 10px 10px 0;
  }
  
  .blog .blog-author .social-links a {
    color: rgba(73, 60, 62, 0.5);
    margin-right: 5px;
  }
  
  .blog .blog-author p {
    font-style: italic;
    color: #b7b7b7;
  }
  
  .blog .blog-comments {
    margin-bottom: 30px;
  }
  
  .blog .blog-comments .comments-count {
    font-weight: bold;
  }
  
  .blog .blog-comments .comment {
    margin-top: 30px;
    position: relative;
  }
  
  .blog .blog-comments .comment .comment-img {
    margin-right: 14px;
  }
  
  .blog .blog-comments .comment .comment-img img {
    width: 60px;
  }
  
  .blog .blog-comments .comment h5 {
    font-size: calc(16px * var(--font-scale));
    margin-bottom: 2px;
  }
  
  .blog .blog-comments .comment h5 a {
    font-weight: bold;
    color: #444444;
    transition: 0.3s;
  }
  
  .blog .blog-comments .comment h5 a:hover {
    color: #fa8620;
  }
  
  .blog .blog-comments .comment h5 .reply {
    padding-left: 10px;
    color: #493c3e;
  }
  
  .blog .blog-comments .comment h5 .reply i {
    font-size: calc(20px * var(--font-scale));
  }
  
  .blog .blog-comments .comment time {
    display: block;
    font-size: calc(14px * var(--font-scale));
    color: #655356;
    margin-bottom: 5px;
  }
  
  .blog .blog-comments .comment.comment-reply {
    padding-left: 40px;
  }
  
  .blog .blog-comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .blog .blog-comments .reply-form h4 {
    font-weight: bold;
    font-size: calc(22px * var(--font-scale));
  }
  
  .blog .blog-comments .reply-form p {
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .blog-comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .blog-comments .reply-form input:focus {
    box-shadow: none;
    border-color: #f096a7;
  }
  
  .blog .blog-comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .blog-comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: #f096a7;
  }
  
  .blog .blog-comments .reply-form .form-group {
    margin-bottom: 25px;
  }
  
  .blog .blog-comments .reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: #493c3e;
  }
  
  .blog .blog-comments .reply-form .btn-primary:hover {
    background-color: #57484a;
  }
  
  .blog .blog-pagination {
    color: #816a6e;
  }
  
  .blog .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .blog .blog-pagination li a {
    color: #493c3e;
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog .blog-pagination li.active,
  .blog .blog-pagination li:hover {
    background: #fa8620;
  }
  
  .blog .blog-pagination li.active a,
  .blog .blog-pagination li:hover a {
    color: #fff;
  }
  
  .blog .sidebar {
    padding: 30px;
    margin: 0 0 60px 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .blog .sidebar .sidebar-title {
    font-size: calc(20px * var(--font-scale));
    font-weight: 700;
    padding: 0 0 0 0;
    margin: 0 0 15px 0;
    color: #493c3e;
    position: relative;
  }
  
  .blog .sidebar .sidebar-item {
    margin-bottom: 30px;
  }
  
  .blog .sidebar .search-form form {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 10px;
    position: relative;
  }
  
  .blog .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 4px;
    width: calc(100% - 40px);
  }
  
  .blog .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: calc(16px * var(--font-scale));
    padding: 0 15px;
    margin: -1px;
    background: #fa8620;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
    line-height: 0;
  }
  
  .blog .sidebar .search-form form button i {
    line-height: 0;
  }
  
  .blog .sidebar .search-form form button:hover {
    background: #e64e6b;
  }
  
  .blog .sidebar .categories ul {
    list-style: none;
    padding: 0;
  }
  
  .blog .sidebar .categories ul li+li {
    padding-top: 10px;
  }
  
  .blog .sidebar .categories ul a {
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .sidebar .categories ul a:hover {
    color: #fa8620;
  }
  
  .blog .sidebar .categories ul a span {
    padding-left: 5px;
    color: #aaaaaa;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
  }
  
  .blog .sidebar .recent-posts img {
    width: 80px;
    float: left;
  }
  
  .blog .sidebar .recent-posts h4 {
    font-size: calc(15px * var(--font-scale));
    margin-left: 95px;
    font-weight: bold;
  }
  
  .blog .sidebar .recent-posts h4 a {
    color: #493c3e;
    transition: 0.3s;
  }
  
  .blog .sidebar .recent-posts h4 a:hover {
    color: #fa8620;
  }
  
  .blog .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: calc(14px * var(--font-scale));
    color: #aaaaaa;
  }
  
  .blog .sidebar .tags {
    margin-bottom: -10px;
  }
  
  .blog .sidebar .tags ul {
    list-style: none;
    padding: 0;
  }
  
  .blog .sidebar .tags ul li {
    display: inline-block;
  }
  
  .blog .sidebar .tags ul a {
    color: #8e767a;
    font-size: calc(14px * var(--font-scale));
    padding: 6px 14px;
    margin: 0 6px 8px 0;
    border: 1px solid #f6f4f4;
    display: inline-block;
    transition: 0.3s;
  }
  
  .blog .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid #fa8620;
    background: #fa8620;
  }
  
  .blog .sidebar .tags ul a span {
    padding-left: 5px;
    color: #dfd8d9;
    font-size: calc(14px * var(--font-scale));
  }
  

//   know the VC 
/* banner heading */
.banner{
    height: 450px;
    width: 1440px;
    animation: fadeIn 1s ease-in-out;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

  .know-the-vc{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .know-the-vc .heading{
    font-size:30px;
    font-weight: 700;
    margin-top: 1em;
  }

  .know-the-vc .contents .main-img{
    text-align: center;
    box-shadow:gray 0 0px 35px -14px;
    border: 10px solid white;
    border-radius: 5px;

  }

  .know-the-vc .contents{
    text-align: center;
  }

  .know-the-vc .contents p{
    margin: 1em;
    text-align: justify;
    padding-left: 1em;
    padding-right: 1em;
  }

  .know-the-vc .card-content {
    text-align: center;
    margin: 2em;
    margin-top: 1em;
  }

  .know-the-vc .card-details .card-content h4{
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top: 1em;
    font-size: calc(25px * var(--font-scale));
  }

  .know-the-vc .card-details .card-content .card-img {
    height: 250px;
    width: 200px;
  }
  
  .know-the-vc .card-details .card-content  .about{
    text-align: justify;
    font-weight: 300;
    color: white;
    margin-top: 1em;
    font-size: calc(15px * var(--font-scale));
  }

  .know-the-vc .card-details{
    background-color: #07294d;
    padding: 1em;
    margin-top: 2em;
  }

  .read-more{
    background-color: yellow;
    color: #07294d;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.5em;
  }

@media(max-width:1200px){
    .know-the-vc .contents p{
        padding-left: 0;
        padding-right: 0;
        margin-top: 0.5em;
    }
}


.vc-head{
    text-align: center;
    padding: 4px;
    font-size: calc(19px * var(--font-scale));
    font-weight: 600;
}


/* news css */
.entry-content{
  color: #000;
    font-family: 'Arial Rounded MT';
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 23px;
    font-weight: normal;
}


.entry-meta ul{
  color: #000;
}


.entry-title{
  line-height: 1.35em;
}

@media (max-width: 768px) {
  .card-details{
    display: none;
  }
  .header {
     font-size: calc(31px * var(--font-scale));
   }
   .breadcrumb-item{
     font-size: calc(14px * var(--font-scale));
   }
   .heading{
    display: none;
   }
   .blog .entry .entry-title{
    font-size: calc(15px * var(--font-scale));
   }
   .blog {
    padding: 0; 
   }
}
 