/* image-slider.component.css */
.slider-container {
    position: relative;
    width: 550px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This property ensures that the image covers the container without stretching */
    cursor: pointer;
  }
  
  .slider-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    opacity: 0.8;
  }
  