


// ===== Admission Rules=========
.admission-rules-section {
    background-color: #f9f9f9;
    padding: 50px 0;
}


.section-heading {
    text-align: center;
    font-size: calc(32px * var(--font-scale));
    margin-bottom: 30px;
}

.admission-rules-content p {
    font-size: calc(16px * var(--font-scale));
    margin-bottom: 20px;
}

.admission-rules-content a {
    color: #007bff;
    text-decoration: none;
}

.admission-rules-content a:hover {
    text-decoration: underline;
}

 
/* patents category tab css start */

.how_to_apply_tab {
    border-radius: 5px;
    overflow: hidden;
}

.how_to_apply_tab .nav .nav-item a{
    padding: 20px 0;
    background-color: #315377;
    color: #fff;
    font-weight: 15;
    color: #fff;
    display: block;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border-radius:40px;
    font-weight:600;
}
.how_to_apply_tab .nav .nav-item a.active,
.how_to_apply_tab .nav .nav-item a:hover{
    background-color: #fff;
    color: #315377;
    text-decoration: none;
    font-weight: 600;
    border-radius:40px;
}

.how_to_apply_tab .nav .nav-item a{
    text-decoration: none;
}

// .how_to_apply_tab .tab-content{
//     padding: 0px 50px 35px;
// }
.how_to_apply_tab .tab-content .dashboard-cont .singel-dashboard h5{
    font-size: calc(18px * var(--font-scale));
    color: #000;
    font-weight: 600;
    padding-bottom: 15px;
}

.how_to_apply_tab .tab-content .reviews-cont{
    padding: 45px 0 15px;
}

.how_to_apply_tab li{
    padding: 0 0.2em;
    justify-content: space-evenly;
} 

.how_to_apply_tab li a span{
    padding-left: 0.5em;
}


.Steps_Part {
    // margin:2em;
}


.color-white {
    color:white;
}


.Step_1 {
    margin:2em;
}


.Step_1 h4 { 
    text-align:center;
    margin:1em;
    padding:0.5em;
   
}

 .Step_1 span{ 
    text-align:center;
    padding:0.5em;
    margin:-1.2em;
    font-size:18px;
    background-color:#b34700;
    color:white;
   
}


.Step_1 h7{ 
    text-decoration:underline;
    margin:1em;
    font-weight:bold;
}

.Step_1 ul{
    margin-top:1em;
  
}

.Step_1 ul li{
    line-height:2;
}


    .Step_1 h3 {

            font-weight:700;
            padding:0.5em;
            box-shadow:orange 0 0px 4px 1px;
            border-radius:40px;
            font-size:large;
    }

.color-orange {
    color:orange;
}

.color-white {
    color:white;
}



.Step_2 {
    margin:2em;
}


.Step_2 h4 { 
    text-align:center;
    margin:1em;
    padding:0.5em;
   
}

 .Step_2 span{ 
    text-align:center;
    padding:0.5em;
    margin:-1.2em;
    font-size:18px;
    background-color:#7FC7D9;
    color:white;
   
}


.Step_2 h7{ 
    text-decoration:underline;
    margin:1em;
    font-weight:bold;
}

.Step_2 ul{
    margin-top:1em;
  
}

.Step_2 ul li{
    line-height:2;
}


    .Step_2 h3 {

            font-weight:700;
            padding:0.5em;
            box-shadow:#7FC7D9 0 0px 4px 1px;
            border-radius:40px;
            font-size:large;
    }


.Step_3 {
    margin:2em;
}


.Step_3 h4 { 
    text-align:center;
    margin:1em;
    padding:0.5em;
   
}

 .Step_3 span{ 
    text-align:center;
    padding:0.5em;
    margin:-1.2em;
    font-size:18px;
    background-color:#820300;
    color:white;
   
}


.Step_3 h7{ 
    text-decoration:underline;
    margin:1em;
    font-weight:bold;
}

.Step_3 ul{
    margin-top:1em;
  
}

.Step_3 ul li{
    line-height:2;
}


    .Step_3 h3 {

            font-weight:700;
            padding:0.5em;
            box-shadow:#820300 0 0px 4px 1px;
            border-radius:40px;
            font-size:large;
    }


 /*How to Apply Css Ends*/


 
 /*Fee Structure Part Starts*/
 
 .Fee_Structure_tab {
    border-radius: 5px;
    overflow: hidden;
}

.Fee_Structure_tab .nav .nav-item a{
    padding: 20px 0;
    background-color: orange;
    color: #fff;
    font-weight: 15;
    color: #fff;
    display: block;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
    border-radius:40px;
    font-weight:600;
}
.Fee_Structure_tab .nav .nav-item a.active,
.Fee_Structure_tab .nav .nav-item a:hover{
    background-color: #fff;
    color: #315377;
    text-decoration: none;
    font-weight: 600;
    border-radius:40px;
}

.Fee_Structure_tab .nav .nav-item a{
    text-decoration: none;
}

.Fee_Structure_tab .tab-content{
    padding: 0px 50px 35px;
}
.Fee_Structure_tab .tab-content .dashboard-cont .singel-dashboard h5{
    font-size: calc(18px * var(--font-scale));
    color: #000;
    font-weight: 600;
    padding-bottom: 15px;
}

.Fee_Structure_tab .tab-content .reviews-cont{
    padding: 45px 0 15px;
}

.Fee_Structure_tab li{
    padding: 0 0.2em;
    justify-content: space-evenly;
} 

.Fee_Structure_tab li a span{
    padding-left: 0.5em;
}

/*Table Css Starts*/ 


.Fee_Structure table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

  .Fee_Structure th, td {
      border: 1px solid #ddd;
      padding: 12px;
      text-align: left;
    }

   .Fee_Structure th {
     font-weight:600;
     font-size:17px;
    }

   
   .Fee_Structure tr {
     font-weight:300;
    }

   .Fee_Structure tr:nth-child(even){background-color: #f2f2f2}

  .Fee_Structure caption {
      caption-side: top;
      text-align: center;
      font-weight: bold;
      font-size: calc(1.2em * var(--font-scale));
      margin-bottom: 10px;
    }

