<app-banner [banner_heading]="bannerName" [banner_img]="bannerImg" ></app-banner>

<div class="loader" *ngIf="isLoading"></div>
<section id="Section1" class="pt-5 pb-5">
    <div class="container">

        <div class="row">
            <ng-container *ngFor="let data of galleryList">
                <div class="col-lg-4 col-md-6">
                    <div class="gallery mt-3">
                        <div class="thum">
                            <div class=" image  banner" [style.background-image]="'url(' + data.media_link + ')'"
                                *ngIf="data.media_link">
                                <img [src]="data.media_link" alt="gallery image">
                                <div class="content">
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <span><i class="fa-regular fa-calendar-days"></i>Year : {{data._Year}}</span>
                            <a [routerLink]="['gallery-detail',data.gallery_main_id]">
                                <h4>{{data.gallery_name}}</h4>
                            </a>
                            <div class="col-lg-12 col-sm-12 view-button">
                                <a [routerLink]="['gallery-detail',data.gallery_main_id]" class="main-btn">View more
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>
