<app-loder *ngIf="loding"></app-loder>
<app-banner
  *ngIf="publicationList_Data && publicationList_Data.length > 0"
  [banner_heading]="publicationList_Data[0]?.Publication_Category_Name_E"
  [banner_img]="bannerImg"
></app-banner>
<section id="Section1" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div>
                    <h2 class="section-title1">Latest</h2>
                </div> <!-- section title -->
                <div class="about-cont">

                    <div class="row ">
                        <div class="col-lg-3 col-md-6 col-sm-8 col-10 mb-5" *ngFor="let item of publicationList_Data">
                            <div class="singel-publication">
                                <div class="image">
                                    <img src="https://igkv.ac.in/{{item.Image_URL}}" (error)="OnErrorImage($event)" alt="Publication image" height="320px">
                                </div>
                                <div class="details">
                                    <div style="height: 7em;" >
                                        <span class="info">
                                            <div class="author-name">
                                                <p> <span>Author Name</span>: <strong>{{item.Author_Name}}</strong></p>
                                            </div>
                                            <div class="p-date">
                                                <p> <span>Publication Date</span>: <strong>{{item.Publication_Date}} </strong></p>
                                            </div>
                                            <div class="p-title">
                                                <p> <span>Publication Title</span>: <strong>{{item.Publication_Title}} </strong></p>
                                            </div>

                                            <!-- <p> <span>Co Author Name</span>: <strong>{{item.Co_Auther_Name}}</strong></p> -->
                                            <!-- <p> <span>Publisher_Name</span>: <strong>{{item.Publisher_Name}} </strong></p> -->
                                       
                                            <!-- <p> <span>Publication_Date</span>: <strong>{{item.Publication_Date}}</strong></p> -->
                                            <!-- <p class="text-center new" ><a [href]="item.File_URL" target="_blank" class="text-center" style="cursor: pointer;"> View</a> </p> -->
                                        </span>
                                    </div>
                                   
                                    <div class="view-more">
                                        <a href="https://igkv.ac.in/{{item.File_URL}}" target="_blank">Read More <i
                                                    class="fa-solid fa-arrow-right color-orange"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- row -->
                    <!-- <div class="row">
                        <div class="mb-1 pt-3" align="center">
                            <div class="col-lg-12 col-sm-12">
                                <a class="main-btn">View more</a>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div> <!-- about cont -->
        </div> <!-- row -->
    </div> <!-- container -->
</section>
<app-contact-us></app-contact-us>