<div class="container mt-5" *ngIf="EmpDetail">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-6 col-xs-12 mb-3" >
      <div class="row">
        <div class="employee-card">
          <div class="row align-items-center">
            <div class="col-md-3">
              <div class="profile-img">
                <div class="image-frame">
                  <img src="{{ EmpDetail.img_url }}" (error)="onErrorImage($event)" alt="Employee Image">
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div class="employee-info">
                <p class="employee-name"><span class="space"> </span>{{EmpDetail.Employee_Name}}</p>
                <p class="employee-post"><span class="space"> Post:</span>{{EmpDetail.Post_Name}}</p>
                <p class="employee-office"><span class="space"> Office:</span>{{EmpDetail.Office_Name}}</p>
                <p class="employee-contact"><span class="space"> Contact:</span>{{phoneNumber}}</p>
                <p class="employee-email"><span class="space"> Email:</span>{{EmpDetail.Email_Id}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="exp-timeline-container mt-3">
          <span><h2 class="text-center" style="color: rgb(94, 91, 91);">Responsibility</h2></span>
          <ul class="exp-timeline">
            <li *ngFor="let item of emp_Responsibility">
              <div class="exp-timeline-left">
                <div class="exp-timeline-date1">
                  <p style="font-weight: 600; text-align: center;">{{ item.From_Date }}
                </div>
              </div>
              <div class="exp-timeline-right">
                <!-- <span> <i class="fa-solid fa-arrows-to-dot"></i></span> -->
                Responsible as {{ item.Post_Name }} in
                {{ item.Office_Name}} from {{ item.From_Date }}, Post
                Type {{ item.PostType}}
              </div>
            </li>
          </ul>
        </div>
        
      </div>
      
    </div>
    <div class="col-md-4">
      <div class="section-time" style="margin-bottom: 10px;">
        <div><h2 class="text-center" style="color: rgb(94, 91, 91);">Experience</h2></div>
        <div class="timeline-container">
          <ul class="timeline">
            <li *ngFor="let item of emp_WorkExperience">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                Worked as {{ item.Post_Name }} in
                {{ item.Office_Name }} from {{ item.FromDate }} to
                {{ item.enddate }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="title">
      <h2 class="text-center" style="color: rgb(94, 91, 91);">Professional Profile</h2>
    </div>
    <div class="row pb-3">
      <div class="col-md-6">
        <span> 
                <h3 style="font-weight: bold; color: #16628f;">View Professional Profile</h3>
        </span>
        <div>
            <a href="" target="_blank"> 
            <span> <i class="fa-solid fa-file-pdf fa-2xl"></i></span> 
            </a>
        </div>
            
    </div>
    </div>
  </div>
</div>



<!-- <div class="banner">
  <img [src]="bannerImg" alt="" />
</div> -->


<!-- <div class="container-fluid" *ngIf="EmpDetail">
  <div class="container">
    <div class="img-name row">
      <div class="col-md-4 about-avatar" data-aos="fade-out">
        <img src="{{ EmpDetail.img_url }}" (error)="onErrorImage($event)" alt="Employee Image" style="height: 13em; width: 12em;" /><br />
      </div>
      <div class="col-md-8">
        <div class="name" data-aos="flip-up">
          <h3 class="dark-color">{{ EmpDetail.Employee_Name}}</h3>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid" *ngIf="EmpDetail">
  <div class="container">
    <div class="row about-list">
      <div class="col-md-4" data-aos="slide-up">
        <div class="media col-md-4">
          <div>
            <p><span>Designation : </span> {{ EmpDetail.Post_Name }}</p>
          </div>

          <div>
            <p><span>Department : </span>{{ EmpDetail.Office_Name }}</p>
          </div>

          <div>
            <p><span> Mobile : </span>{{ EmpDetail.Contact_No_1 }}</p>
          </div>

          <div>
            <p><span>Email : </span>{{ EmpDetail.Email_Id }}</p>
          </div>
        </div>
      </div>
      <div class="about-text col-md-8" data-aos="zoom-in">
        <div class="mt-5 text-center">
          <h2 class="headers">{{ EmpDetail.Employee_Name }}</h2>
        </div>
        <p>
          <strong>{{ EmpDetail.employee_Overview }} </strong>
        </p>

        <div class="Campus">
          <div data-aos="fade-left">

            <p>{{ EmpDetail.Office_Name }}</p>
          </div>

          <div data-aos="fade-left">

            <p>{{ EmpDetail.TotalServiceExperience }} of experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-fluid mt-4">
  <div class="container">
    <div class="container" style="margin-bottom: 20px">
      <div class="patents_category table_section main_heading_section">
        <section class="pb-120 gray-bg">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-12">
                <div class="patents_category_tab mt-20">
                  <ul class="nav nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a id="A2" data-bs-toggle="tab" href="#Education" role="tab" aria-controls="reviews"
                        aria-selected="false">Education<span><i class="fa-solid fa-book-open"></i></span></a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="active" id="reviews-tab" data-bs-toggle="tab" href="#Awards_Achievements" role="tab"
                        aria-controls="reviews" aria-selected="true">Publication<span><i class="fa-solid fa-award"></i></span></a>
                    </li>

                    <li class="nav-item">
                      <a id="A1" data-bs-toggle="tab" href="#Attendant" role="tab"
                      aria-controls="dashboard" aria-selected="false">Attendants
                        <span><i class="fas fa-calendar-alt"></i></span></a>
                    </li>

                    <li class="nav-item">
                      <a id="A3" data-bs-toggle="tab" href="#Memberships" role="tab" aria-controls="reviews"
                        aria-selected="false">Memberships<span><i class="fas fa-user-plus"></i></span></a>
                    </li>

                    <li class="nav-item awards">
                      <a id="A3" data-bs-toggle="tab" href="#Achievements" role="tab" aria-controls="reviews"
                      aria-selected="false">Awards & Achievements<span><i class="fa-solid fa-trophy"></i></span></a>
                    </li>


                  </ul>
            
                  <div class="tab-content" id="myTabContent">
                    <div style="overflow-x: auto;" class="tab-pane fade mt-4" id="Education" role="tabpanel" aria-labelledby="dashboard-tab">
                      <table class="awards award-ach" style="overflow-x: auto;">
                        <thead>
                          <tr>
                            <th>S.No.</th>
                            <th>Exam</th>
                            <th>University</th>
                            <th>College</th>
                            <th>Passing Year</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let item of emp_Qualifications; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.NameOfExam }}</td>
                            <td>{{ item.University }}</td>
                            <td>{{ item.College }}</td>
                            <td>{{ item.Begin_Passing_Year }}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>

                    <div  class="tab-pane active show fade mt-4" id="Awards_Achievements" role="tabpanel"
                      aria-labelledby="reviews-tab" style="overflow-x: auto;">
                      <div class="mt-4" style="margin-bottom: -15px;">
                        <h3>Publications</h3>
                      </div>
                      <table class="awards award-ach" style="overflow-x: auto;">
                        <thead>
                          <tr>
                            <th>S.No.</th>
                            <th>Journal / Proceedings</th>
                            <th>Authors</th>
                            <th>Member</th>
                            <th>Activity Performed</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let item of publication_Data; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.JournalProceedings}}</td>
                            <td>{{ item.NoOfCoAuthors_MainAuthorOrMentor}}</td>
                            <td>{{ item.Member}}</td>
                            <td>{{ item.ActivityPerformed}}</td>
                          </tr>
                        </tbody>
                      </table>

                      <div class="mt-4" style="margin-bottom: -15px;">
                        <h3>Projects</h3>
                      </div>
                      <table class="awards award-ach" style="overflow-x: auto;">
                        <thead>
                          <tr>
                            <th>S.No.</th>
                            <th>Title</th>
                            <th>Funding agency</th>
                            <th>Total Budget</th>
                            <th>Position</th>
                            <th>Activity Performed</th>
                            <th>Duration</th>
                          </tr>
                        </thead>

                        <tbody>
                          <tr *ngFor="let item of pubAward_Data; let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.NameOfProjectStudy}}</td>
                            <td>{{ item.FundingAgency}}</td>
                            <td>{{ item.TotalBudget}}</td>
                            <td>{{ item.YourPosition_PI_CoPI}}</td>
                            <td>{{ item.ActivityPerformed }}</td>
                            <td>{{item.DurationOfTheProjectStudy}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    
                    <div class="tab-pane fade mt-4" id="Attendant" role="tabpanel" aria-labelledby="reviews-tab">
                      <div class="mt-4" style="margin-bottom: -15px;">
                        <h3>Workshops</h3>
                        <table class="awards award-ach" style="overflow-x: auto;">
                          <thead>
                            <tr>
                              <th>S.No.</th>
                              <th>Title</th>
                              <th>Organised By</th>
                              <th>Activity Performed</th>
                              <th>Duration</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of Workshop_Data; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.TitleOfProgramme }}</td>
                              <td>{{ item.OrganisedBy }}</td>
                              <td>{{ item.ActivityPerformed }}</td>
                              <td>{{ item.Duration }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="mt-4" style="margin-bottom: -15px; overflow-x: auto;">
                        <h3>Seminars</h3>
                        <table class="awards award-ach" style="overflow-x: auto;">
                          <thead>
                            <tr>
                              <th>S.No.</th>
                              <th>Title</th>
                              <th>Organised By</th>
                              <th>Activity Performed</th>
                              <th>Duration</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of seminar_Data; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.TitleOfProgramme }}</td>
                              <td>{{ item.OrganisedBy }}</td>
                              <td>{{ item.ActivityPerformed }}</td>
                              <td>{{ item.Duration }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="mt-4" style="margin-bottom: -15px;">
                        <h3>Invited Lecture</h3>
                        <table class="awards award-ach" style="overflow-x: auto;">
                          <thead>
                            <tr>
                              <th>S.No.</th>
                              <th>Title</th>
                              <th>Organised By</th>
                              <th>Activity Performed</th>
                              <th>Duration</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of InvitedLecture_Data; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.TitleOfProgramme }}</td>
                              <td>{{ item.OrganisedBy }}</td>
                              <td>{{ item.ActivityPerformed }}</td>
                              <td>{{ item.Duration }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="tab-pane fade show  mt-4" id="Responsibilities" role="tabpanel"
                      aria-labelledby="reviews-tab">
                    
                    </div>
                    <div class="tab-pane fade mt-4" id="Memberships" role="tabpanel" aria-labelledby="reviews-tab">
                    </div>

                    <div class="tab-pane fade mt-4" id="Achievements" role="tabpanel" aria-labelledby="reviews-tab">
                      <div class="mt-4" style="margin-bottom: -15px;">
                        <h3>Awards & Achievements</h3>
                        <table class="awards award-ach" style="overflow-x: auto;">
                          <thead>
                            <tr>
                              <th>S.No.</th>
                              <th>Title</th>
                              <th>Venue</th>
                              <th>Date</th>
                            </tr>
                          </thead>

                          <tbody>
                            <tr *ngFor="let item of award_data; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>{{ item.Content_Title }}</td>
                              <td>{{ item.Venue }}</td>
                              <td>{{ item.web_content_date2 }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div> -->

                      <!-- <ul *ngFor="let item of emp_Responsibility">
                        <li>
                          <span> <i class="fa-solid fa-arrows-to-dot"></i></span>
                          Resposibal as {{ item.Post_Name }} in
                          {{ item.Office_Name}} from {{ item.From_Date }}, Post
                          Type {{ item.PostType}}
                        </li>
                      </ul> -->