// Overview 


.about-cont p{
  text-align:justify;
}
.about-cont ul {
  padding-top:10px;
  list-style:square;
}

// Mission Mandate 

.about-singel-items span{
  font-size: calc(60px * var(--font-scale))px;
  color: #dbdbdb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 46px;
  padding-bottom: 22px;
}
.about-singel-items h4{
  color: #000;
  font-size: calc(24px * var(--font-scale));
  padding: 15px 0px 25px 0px;
}



// hover Effect Css 
.about-singel-items {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  height: auto;
}

.about-singel-items:hover {
  background-color: #16628f;
  color: white; /* Change the text color on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);


  h4 {
     color: white;
  }
}


// Message Css Starts 

/* dean msg css start  */
.message_section {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e3f0f7;
  background-size: cover;
  background-position: center;
  padding: 40px;
  filter: brightness(1);
}

// dynamic css for college detail page
.error-message {
  background-color: #f0f0ef;
}

.message_section .profile {
  text-align: center;
  /* margin-right: 20px; */
}

.message_section .profile-picture {
  height: 14em;
  width: 12em;
  border-radius: 5%;
  /* border-color: #fff; */
  border: solid white 3px;
}

// .message_section .dean-name {
//     font-weight: bold;
//     margin: 5px 0;
//     color: #000000;
//     padding-top: 0.2em;
// }

// .message_section .designation {
//     font-size: calc(16px * var(--font-scale));
//     color: #232222;
//     margin: 0;
// }

.message_section .message {
  // /max-width: 600px;/
  text-align: left;
}

.message_section .message-title {
  font-size: calc(28px * var(--font-scale));
  font-weight: bold;
  margin: 10px 0;
}

.message_section .message-text {
  font-size: calc(17px * var(--font-scale));
  line-height: 1.5;
 text-align: justify;
 padding-bottom:3%;
 color: #504d4d;
 padding-top: 2em;
 font-weight: 500;
}

.button-70 {
  /* Add styles for your new custom button here */
  background-color: #ffc600;
  color: #07294d;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size:large;

}

.scrolitem{
  transition: all ease-in-out 0.3s;
  height: 280px;
  overflow: hidden;
  overflow-y: scroll;
}

.scrolitem {
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}
// Ends



.lab_infrastructure h2 {
  font-weight: 600;
  font-size: 1.8em;
}

.lab_infrastructure p {
  font-weight: 500;
}

/*.lab_infrastructure {
    overflow: hidden;
}*/


.lab_infrastructure img {
  padding: 0;
  width: 100%;
  overflow: hidden;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

/* Zoom Out #1 */

.lab_infrastructure img:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.lab_infrastructure .innerrow .image_section {
  overflow: hidden;
}

.lab_infrastructure {
  margin: 5px;
  margin-top: 4em;
  margin-bottom: 4em;
}

.lab_infrastructure .innerrow {

  background-color: #fff;
  text-align: center;
  margin-top: 10%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.lab_infrastructure p {
  text-align: justify;
  padding: 1em;
  font-weight: 500;
  padding-top: 0;
}

.lab_infrastructure h2 {
  margin: 0.4em;
}

/* lab abd infrastructure end */


/*gallery section css start*/
.gallery_section .gallery-image img {
  transform: scale(1.0);
  transition: transform 0.4s ease;
  width: 100%;
}

.gallery_section .img-box {
  box-sizing: content-box;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
}

.gallery_section .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery_section .caption p {
  color: white;
}

.gallery_section .transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.gallery_section .img-box:hover img {
  transform: scale(1.1);
}

.gallery_section .img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery_section .img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.gallery_section .img-box:hover {
  cursor: pointer;
}

.gallery_section .caption>p:nth-child(2) {
  font-size: 0.8em;
}

.gallery_section .opacity-low {
  opacity: 0.5;
}

/*gallery section css end*/


/* Contact info section styling */
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

/* Individual contact card */
.contact-card {
  flex: 1 1 45%;
  padding: 0.8em 0;
  justify-content: center;
  background: #1e396bee ;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-width: 200px;
}

/* Contact card title */
.contact-card h2 {
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contact details text */
.contact-card p {
  font-size: 1.1em;
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0;
  justify-content: center;
}

/* Map section styling */
.map-container {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
  border: 5px #8f4616;
}

.map-container h2 {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 15px;
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  // IT Cell CSS Ends 



  // MIS activities Css
  .latest-activities-section {
    background: linear-gradient(to bottom right, #FFD93D, #2575fc);
    color: #fff;
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

// .section-title h2 {
//     font-size: 2.5rem;
//     font-weight: bold;
//     text-transform: uppercase;
//     margin-bottom: 30px;
//     color: #fff;
// }

.activities {
    background-color: rgba(21, 19, 19, 0.263);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    color: #fff;
    max-width: 80%;
    margin: 0 auto 30px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.content{
    display: flex;
    align-items: center;
}

.description {
    background-color: rgba(0, 0, 0, 0.218);
    border-radius: 10px;
    padding: 1.5em;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.staff-description {
  font-size: calc(15px * var(--font-scale));
  color: #999;
  line-height: 25px;
  border-bottom: 1px solid #f7f7f7;
  padding: 0 20px 20px;
  margin: 0;
  text-align: justify;
}


.description-text{
  color: #f0f0f0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  line-height: 2em;
  font-weight: normal;
}

.text-animate {
    animation: textFadeIn 1s ease-in-out forwards;
}

@keyframes textFadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.activities-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-wrapper {
    position: relative;
}

.image-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.activity-image {
    width: 100%;
    height: 19em;
    transition: transform 0.3s ease-in-out;
}

.activity-image:hover {
    transform: scale(1.05);
}

.image-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f0f0f0;
    font-size: calc(1rem * var(--font-scale));
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    text-align: center;
    animation: captionFadeUp 1s ease-in-out forwards;
}

@media (max-width: 767px) {

  .lab_infrastructure h2{
    text-align: center;
    font-weight: 500;
    font-size: calc(21px * var(--font-scale));
  }

  .even{
    display: flex;
    flex-direction: column-reverse;
  }
  }
  