<app-banner [banner_heading]="'Phytosanitary Laboratory'" [banner_img]="bannerImg"></app-banner>

<!-- Overview -->

<section  class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Overview</h2>
        <div class="about-cont">
          <p class="contents">The Phytosanitary Laboratory at IGKV serves as a vital hub for testing various
            agricultural samples, catering to the diverse needs of government agencies, farmers, researchers, academic
            institutions, private industries, and individuals. Equipped with state-of-the-art equipment and skilled
            technicians, the laboratory conducts comprehensive analyses of soil, water, crop residue, microbial broth,
            cereals, vegetables, fruits, and aromatic plants. Through meticulous testing procedures, it ensures
            compliance with phytosanitary standards, identifying potential threats such as pests, diseases, and
            contaminants. By providing accurate and timely results, the laboratory facilitates informed decision-making
            in crop management, pest control, and food safety. Its services play a crucial role in safeguarding
            agricultural productivity, environmental sustainability, and public health. Additionally, the laboratory
            serves as a valuable resource for research and innovation, fostering collaborations between academia,
            industry, and government entities to address emerging challenges in agriculture and promote sustainable
            development.</p>
        </div>
      </div>

    </div>

  </div>
</section>


<!-- Our Misssion Mandate  -->
<div class="about-items container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="about-singel-items mt-30 container">
        <!-- <span>02</span> -->
        <h4>Our Mission</h4>
        <p>We deliver globally acceptable quality and regulatory compliances, for the richdom of the humanking and
          creating sustainable future. </p>
      </div> <!-- about singel -->
    </div>
    <div class="col-lg-4 col-md-6 col-sm-10">
      <div class="about-singel-items mt-30 container">
        <!-- <span>03</span> -->
        <h4>Our Mandate</h4>
        <p>Uphold the interest of agricultural society. We woek to ensure quality is protected, delivered and complied
          focusing on wider economic and social progress of agriculture community.</p>
      </div>
    </div>
  </div>
</div>


<!-- message  -->
<section class="pt-3 pb-3 message_section">
  <div class="container">
    <div class="row">
      <div class="profile col-md-3">
        <img class="profile-picture" alt="staff image" [src]="HVCImg" style="min-height: 218px; min-width: 233px;"
          onerror="this.src='HVCImg'">
        <p class="person-name">Dr. Girish Chandel</p>
        <p class="person-post">CEO & Head</p>
      </div>
      <div class="message col-md-9">
        <p class="contents scrolitem pt-3" style="line-height: 29px; letter-spacing: inherit;">As Quality Manager and PI
          of our Phytosanitary Laboratory, we are dedicated to upholding rigorous standards in plant health diagnostics
          and research. With state-of-the-art equipment and a highly skilled team, we ensure accurate and reliable
          testing to safeguard agricultural productivity and trade. Our commitment to excellence drives us to
          continuously innovate and improve our services. Whether it's identifying plant diseases, conducting pest risk
          assessments, or providing phytosanitary certificates, we strive to deliver timely and effective solutions.
          Trust in our expertise and dedication to protect crops, preserve ecosystems, and promote global food security.
          Your confidence in us is our greatest motivation.
        </p>
      </div>
    </div>
  </div>
</section>


<!-- Facilities  -->
<!-- lab and infrastructure start-->
<section  class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="section-title1">Facilities</h2>
        <div class="about-cont">
          <div class="container">

            <div class="lab_infrastructure Facilities">
              <div class="row">
                <div class="col-md-5 ">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="LiquidImg" alt="Liquid Chromatography image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7 Facilities_Part ">
                  <h2>Testing for Liquid Chromatography </h2>
                  <div class="Facilities_List">
                    <hr>
                    <ul>
                      <li>Liquid Chromatography (LC) testing is a versatile analytical technique used to separate,
                        identify, and quantify components in a liquid sample.</li>
                      <li>It involves passing a liquid sample through a column packed with a stationary phase, where
                        components interact differently based on their chemical properties.</li>
                      <li>LC can analyze a wide range of compounds, including organic molecules, pharmaceuticals,
                        environmental pollutants, and biomolecules.</li>
                      <li>It provides high sensitivity and selectivity, making it suitable for complex mixtures and
                        trace-level analysis.</li>
                      <li>LC testing is utilized in various industries, including pharmaceuticals, environmental
                        monitoring, food and beverage, and forensic science.</li>
                      <li>It enables researchers to characterize and quantify compounds accurately, aiding in quality
                        control, research, and regulatory compliance.</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>



            <div class="lab_infrastructure Facilities">
              <div class="row even">
                <div class="col-md-7 Facilities_Part ">
                  <h2>Gas Chromatography</h2>
                  <div class="Facilities_List">
                    <hr>
                    <ul>
                      <li>Gas Chromatography (GC) is an analytical technique used to separate and analyze volatile
                        compounds in a gas sample.</li>
                      <li>It involves injecting the sample into a column packed with a stationary phase, where
                        components are separated based on their affinity for the stationary phase and the mobile phase
                        (carrier gas).</li>
                      <li>GC is highly sensitive and offers excellent resolution, making it suitable for analyzing
                        complex mixtures and trace-level compounds.</li>
                      <li>It is widely used in various industries, including pharmaceuticals, environmental analysis,
                        food and beverage, petrochemicals, and forensics.</li>
                      <li>GC enables rapid analysis, precise quantification, and identification of compounds, aiding in
                        research, quality control, and regulatory compliance.</li>
                      <li>Different types of detectors, such as flame ionization detector (FID), electron capture
                        detector (ECD), and mass spectrometry (MS), can be used with GC to enhance detection
                        capabilities and specificity.</li>

                    </ul>
                  </div>
                </div>

                <div class="col-md-5 ">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="GasImg" alt="Gas Chromatography image">
                    </div>
                  </div>
                </div>

              </div>
            </div>



            <div class="lab_infrastructure Facilities">
              <div class="row">
                <div class="col-md-5 ">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="MassImg" alt="Mass Spectrometer image">
                    </div>
                  </div>
                </div>
                <div class="col-md-7 Facilities_Part ">
                  <h2>Mass Spectrometer Testing</h2>
                  <div class="Facilities_List">
                    <hr>
                    <ul>
                      <li>Mass Spectrometry (MS) testing is an analytical technique used to identify and quantify
                        compounds based on their mass-to-charge ratio.</li>
                      <li>It involves ionizing the sample, separating ions based on their mass-to-charge ratio, and
                        detecting and quantifying ions to determine the molecular composition.</li>
                      <li>MS provides high sensitivity, accuracy, and specificity, making it suitable for analyzing
                        complex mixtures and trace-level compounds.</li>
                      <li>It is widely used in various fields, including pharmaceuticals, environmental analysis, food
                        safety, forensics, and proteomics.</li>
                      <li>MS enables the identification of unknown compounds, characterization of molecular structures,
                        and quantification of analytes with high precision.</li>
                      <li>Different MS techniques, such as liquid chromatography-mass spectrometry (LC-MS) and gas
                        chromatography-mass spectrometry (GC-MS), offer versatility in analytical testing.</li>
                    </ul>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div> <!-- about cont -->

    </div> <!-- row -->

  </div> <!-- container -->
</section>
<!-- lab and infrastructure end-->

<section  class="pt-20 pb-5 mb-20">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title mt-400">
          <h2>Gallery</h2>
        </div> <!-- section title -->
        <div class="mb-3 about-cont">
          <div class="gallery_section ">
            <div class="gallery-image">
              <div class="container">
                <div class="row">
                  <!-- Looping through each item in the Gallery_Details array -->
                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery1" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery1" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery2" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery2" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>


                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery3" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery3" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>

                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="mb-3 about-cont">
          <div class="gallery_section ">
            <div class="gallery-image">
              <div class="container">
                <div class="row">
                  <!-- Looping through each item in the Gallery_Details array -->
                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery4" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery4" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>
        
                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery5" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery5" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>
        
        
                  <div class="col-md-4">
                    <!-- Creating a column layout for three images in a row -->
                    <a [href]="Gallery6" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner">
                          <!-- Styling the background image of the container -->
                          <img [src]="Gallery6" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
        
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact us -->
<section class="pt-3 pb-3" >
  <div class="container"> 
    <div class="row">
      <h2 class="section-title1">Contact Us</h2>
    </div>
 
    <!-- new contact us -->
     <div class="row">
      <div class="col-md-6">
        <div class="contact-info">
          <!-- Address Section -->
          <div class="contact-card">
    
            <h2><i class="fa-solid fa-location-dot icon-font-size"></i> &nbsp; Address</h2>
            <p>Richharia Lab 2nd floor , Indira Gandhi Krishi Vishwavidyalaya ,Raipur (C.G.)</p>
          </div>
    
          <!-- Contact Number -->
          <div class="contact-card">
            <h2><i class="fa fa-phone icon-font-size " aria-hidden="true"></i>&nbsp;Contact Number</h2>
            <p>+91 7974359381</p>
          </div>
    
          <!-- Email ID -->
          <div class="contact-card">
            <h2><i class="fa fa-envelope icon-font-size " aria-hidden="true"></i>&nbsp;Email ID</h2>
           <p>archana030705&#64;gmail.com</p>
          </div>
    
          <!-- Office Hours -->
          <div class="contact-card">
            <h2><i class="fa-solid fa-clock icon-font-size"></i> &nbsp;Office Time</h2>
            <p class="text">10:00 AM to 5:00 PM <br></p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="map-container">
                          <iframe title="googlr map for contacts"
                          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d552.822751084435!2d81.71467568482298!3d21.234491103875403!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28c30079494357%3A0x47f50660c6c43480!2sPhytosanitary%20laboratory!5e0!3m2!1sen!2sin!4v1726208894370!5m2!1sen!2sin"
                          width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"  title="ContactUs"
                          referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
     </div>  
  </div>
</section>
