<app-vc-menubar></app-vc-menubar>
<app-banner [banner_heading]="'Gallery'" [banner_img]="GalleryBanner"></app-banner>




<div class="container mt-5">
    <div class="row">
        <div class="section-title pb-3">
            <h2 class="heading">Video Gallery</h2>
       </div>
        <div class="col-md-4 mt-1 pb-5">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/RMMsLmL27rw?si=1cnmDjnA_gF2JyUk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin"  allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>Dr Girish Chandel, Honorable Vice Chancellor, IGKV</h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/EKjsLau_6KE?si=NqbqyTLqdXfa4tH6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>Dr. Girish Chandel Vice Chancellor IGKV Raipur से जाने Agriculture में स्कोप | Dr Kirti Sisodia </h3></span>
        </div>
        <div class="col-md-4 mt-1 pb-3">
            <div class="video-box">
                <iframe width="338" height="204" src="https://www.youtube.com/embed/cT0eOUfSK3w?si=wHO8n4CusasR4KMc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen style="border: 3px solid rgb(30, 122, 197); padding: 4px;"></iframe>
            </div>
            <span><h3>Food Health and Nutrition through Agriculture: Rice- A Case Study: Dr Girish Chandel</h3></span>
        </div>
       
        
    </div>
</div>



