
/*=====================================================
    Gallery css 
======================================================*/

.gallery{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.5);

}

.gallery > .thum{
    position: relative;
}

.gallery .thum .image{
    overflow: hidden;
    height: 12em;
    text-align: center;
    background-color: #000;
}

.gallery .thum .image img{
    height: 12em;
    width: auto;
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s linear;
}

.gallery:hover .thum .image img{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery .thum .price{
    position: absolute;
    right: 60px;
    bottom: -24px;
}

.gallery .thum .price span{
    font-size: calc(14px * var(--font-scale));
    color: #07294d;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    width: 55px;
    height: 55px;
    line-height: 55px;
    border-radius: 50%;
    background-color: #ffc600;
    text-align: center;
}

.gallery .cont{
  padding: 0.5em ;
}

.gallery .cont span{
    font-size: calc(13px * var(--font-scale));
    color: #07294d;
    font-weight: 500;
}
.gallery .cont h4{
    font-weight: 600;
    font-size: calc(14px * var(--font-scale));
    color:#07294d;
    transition: all 0.4s linear;
}
.gallery .cont h4:hover{
    color: #ffc600;
}

.gallery .cont .view-button{
    justify-content: center;
    display: flex;
}

.gallery .cont .view-button span{
 font-size: medium;
}

.gallery .cont i {
  margin-right: 0.3em;
  color: #07294d;
}




.content {
  z-index: 2;
  /* Ensure the content is above the blurred background */
  /* Add your content styles here */
}


/* background images blured css */
.banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  // background-image: url('assets/images/bg_img.jpg'); /* Use the blurred image as the background */
  background-size: cover;
  filter: blur(8px);
  /* Adjust the blur intensity as needed */
}

img {
  position: relative;
  z-index: 1;
  /* Ensure the image is above the blurred background */
}
