// ================= overview ==============

.about-cont p{
    text-align:justify;
}
.about-cont ul {
    padding-top:10px;
    list-style:square;
}

// ================= image container ==============

  
  .image-containers {
    text-align: center;
    overflow: hidden; /* Hide overflow for box shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add box shadow */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
  }
  
  .image-containers img{
    height: 260px !important;
    object-fit: cover; /* Cover the image */
    transition: transform 0.3s ease-in-out; /* Add smooth transition */
  }

  .image-containers .details h3{
    margin-bottom: 0;
    font-weight: 500;
  }

  
  // ------------- new code count ----------------
  .counter{
    color: #F08D19;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 210px;
    height: 210px;
    padding: 35px 25px 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
.counter:before,
.counter:after{
    content: '';
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1) inset;
    position: absolute;
    left: 0;
    top: 15px;
    bottom: 0;
    right: 7px;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 98% 90%, 15% 100%);
}
.counter:after{
    background-color: #F08D19;
    top: 0;
    right: 0;
    z-index: -2;    
    clip-path: polygon(10% 0, 100% 10%, 100% 85%, 0% 100%);
}
.counter .counter-icon{
    font-size: calc(30px * var(--font-scale));
    margin: 0 0 20px;
}
.counter .counter-value{
    font-size: calc(33px * var(--font-scale));
    font-weight: 600;
    margin: 0 0 25px;
    display: block;
}
.counter h3{
    color: #777;
    font-size: calc(16px * var(--font-scale));
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
}
.counter.red{ color: #EF460D; }
.counter.red:after{ background-color: #EF460D; }
.counter.green{ color: #1D8B1A; }
.counter.green:after{ background-color: #1D8B1A; }
.counter.blue{ color: #34A5DC; }
.counter.blue:after{ background-color: #34A5DC; }
@media screen and (max-width:990px){
    .counter{ margin-bottom: 40px; }
}   
  
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
    color: #ffffff;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 0 30px 0;
    background-color: #236896;
  }
  
  .contact .info-box i {
    font-size: calc(32px * var(--font-scale));
    color: #ff4a17;
    border-radius: 50%;
    padding: 8px;
  }
  
  .contact .info-box h3 {
    font-size: calc(20px * var(--font-scale));
    color: #f1f1f1;
    font-weight: 700;
    margin: 10px 0;
  }
  
  .contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: calc(14px * var(--font-scale));
    margin-bottom: 0;
    color: white;
  }
  
  .contact .php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: calc(14px * var(--font-scale));
    border-radius: 4px;
  }
  
  .contact .php-email-form input:focus,
  .contact .php-email-form textarea:focus {
    border-color: #ff4a17;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #ff4a17;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #ff5e31;
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


  /* ==================== Program Offered==================== */
// .program-offered {
//   border: 1px solid rgb(37, 132, 209);
//   padding: 20px;
//   text-align: center;
//   transition: background-color 0.3s, color 0.3s;
//   cursor: pointer;
//   width: 100%; /* Take up full width */
//   box-sizing: border-box; /* Include padding and border in the total width */
//   margin-bottom: 20px; /* Add some margin for spacing between containers */
// }

.program-offered {
  position: relative;
  // background-image: url(assets/images/imgs/ug01.jpg);
  background-size: cover;
  height: 230px;
  width: 370px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: flex-end; /* Align content to the bottom */
  font-weight: 600;
  font-size: calc(23px * var(--font-scale));
  color: white;
}

.overlay {
  position: absolute;
  // top: 196px;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the opacity */
}

.text-center {
  position: relative; /* Make sure text is positioned relative to the container */
  z-index: 1; /* Ensure text is above the overlay */
}

.Banner_head h2:hover{
  color: rgb(50, 65, 97);
}

/* Hover effect */
.program-offered:hover {
  background-color: rgb(85, 171, 189);
  color: #efbd09;
  border: none;
}

.prog_of_p:hover{
  color: #0cdee9;

}

/* Style for the SVG image */
.program-offered svg {
  width: 100px; /* Adjust the size as needed */
  height: 100px; /* Adjust the size as needed */
  fill: #3498db; /* Default color */
  transition: fill 0.3s;
}

/* Hover effect for the SVG image */
.program-offered:hover svg {
  background-color: #ece5e5;
}

/* Style for the heading */
.program-offered h2 {
  font-weight: bold;
  margin: 10px 0;
}

/* Style for the paragraph */
.program-offered p {
  color: #666;
  white-space: normal; /* Allow text to wrap within the container */
}
/* ==================== End Program Offered==================== */


/* Department list  */
.card-cont{
  text-align: center;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  height: 115px;
  width: 320px;
  background-color: #fffffff8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.head{
  font-size: calc(19px * var(--font-scale)) !important; 
font-weight: 600;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(64, 62, 62);
}

.card-cont:hover{
  transition: 500ms;
  width:340px ;
}

@media only screen and (max-width: 768px) {
  .image-containers img{
    height: 180px !important;
  }
  .card-cont:hover{
    transition: 500ms;
    width:unset ;
  }
  .program-offered{
    height: 4em;
    width: 100%;
  }
  .overlay{
 height: 30%;
  }
  .counter{
    width: 144px;
  }
  .card-cont{width: 144px;}
}
