    //   ---- --------
    .header{
        font-size: calc(35px * var(--font-scale));
        color: white;
        padding: 20px;
        font-weight: 600;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }