<section id="forBig" class="container-fluid pt-3 pb-3" *ngIf="Staff_List">
  <div class="container ">
          <h2 class="section-title1">Officer/Staff</h2>
    <ngb-carousel [interval]="5000" id="carouselMultiItemExample" class="carousel slide carousel-dark text-center mt-3"
      data-mdb-ride="carousel">
      <div class="d-flex justify-content-center mb-4">
        <button class="carousel-control-prev position-relative" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next position-relative" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <ng-container *ngFor="let startIndex of getSliceIndices(Staff_List.length, 6)">
        <ng-template ngbSlide>
          <div class="container">
            <div class="row">
              <div class="col-sm-2 " *ngFor="let item of Staff_List.slice(startIndex, startIndex + 6)">
                <div style="box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;" class="staff-container d-none">
                  <img class="rounded-circle shadow-1-strong mb-4" (error)="onErrorImage($event)" 
                    alt="avatar" style="width: 200px; height: 250px;" />
                  <h5 class="mb-1 person-name">{{ item.Employee_Name }}</h5> 
                  <p class="person-post">{{ item.Post_Name }}</p>
                  <p class="text-muted">
                  </p>
                </div>
                <div class="card" >

              <a *ngIf="!isshowUnLink"  [routerLink]="['/about/employeeProfile',item.empid_numeric]">
                <img class="card-img-top img-fluid" 
                  style="max-height: 180px; min-height: 180px; background-color: #5f5d5d; border-bottom: #ccc solid 1px; box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" [src]="item.img2 "
                  (error)="onErrorImage($event)" alt="avatar" />
                  <div class="card-body " style="padding: 5px;min-height: 96px; ">
                    <h3 class="card-title text-lenth-fix-line-1" style="margin-bottom:1px ; font-size: calc(13px* var(--font-scale));"><b class="person-name">{{ item.Employee_Name }}</b></h3>
                    <p class="card-text text-lenth-fix-line-1 person-post" style="margin-bottom:1px ;">{{ item.Post_Name }}</p>
                    <p class="card-text" style="font-size: calc(13px* var(--font-scale)); font-weight: 500; color: #16628f; margin-top: 0.5em;line-height: 15px;">View Profile</p>
 
                  </div>
               </a>
               <a *ngIf="isshowUnLink" [routerLink]="['cont/employeeProfile',item.empid_numeric]">
                <img class="card-img-top img-fluid" 
                  style="max-height: 180px; min-height: 180px; background-color: #5f5d5d; border-bottom: #ccc solid 1px; box-shadow: rgba(50, 50, 93, 0.25) 0px 0.5em 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" [src]="item.img2 "
                  (error)="onErrorImage($event)" alt="avatar" />
                  <div class="card-body " style="padding: 5px;min-height: 96px; ">
                    <h3 class="card-title text-lenth-fix-line-1" style="margin-bottom:1px ; font-size: calc(13px* var(--font-scale));"><b class="person-name">{{ item.Employee_Name }}</b></h3>
                    <p class="card-text text-lenth-fix-line-1 person-post" style="margin-bottom:1px ;">{{ item.Post_Name }}</p>
                    <p class="card-text" style="font-size: calc(13px* var(--font-scale)); font-weight: 500; color: #16628f; margin-top: 0.5em;line-height: 15px;">View Profile</p>
                  </div>
               </a>
              </div>

                <br><br>
                <ul class="list-unstyled d-flex justify-content-center text-warning mb-0"></ul>
              </div>

            </div>
          </div>
        </ng-template>
      </ng-container>
    </ngb-carousel>
  </div>
</section>



 <!-- --------------------------------------------------------------------------------------------- -->
 <section id="forSmall" class="container-fluid pt-3 pb-3" *ngIf="Staff_List">
  <div class="container">
    <h2 class="section-title1">Officer/Staff</h2>
    <ngb-carousel [interval]="5000" id="carouselMultiItemExample" class="carousel slide carousel-dark text-center mt-3"
      data-mdb-ride="carousel">
      <!-- Controls -->
      <div class="d-flex justify-content-center mb-4">
        <button aria-label="Previous"  class="carousel-control-prev position-relative" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next position-relative"  aria-label="Next" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

      <!-- Dynamic employee list in each slide -->
      <ng-container *ngFor="let startIndex of getSliceIndices(Staff_List.length, 2)">
        <ng-template ngbSlide>
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-6 col-sm-6 d-flex justify-content-center"
                *ngFor="let item of Staff_List.slice(startIndex, startIndex + 2)">
                <div class="card employee-card">
                  <a [routerLink]="['/about/employeeProfile', item.empid_numeric]">
                    <img class="card-img-top img-fluid" 
                    style="max-height: 100px; min-height: 100px; background-color: #5f5d5d; border-bottom: #ccc solid 1px; box-shadow: rgba(50, 50, 93, 0.25) 0px 0.5em 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;" [src]="item.img2 "
                    (error)="onErrorImage($event)" alt="avatar" />                    <div class="card-body">
                      <h3 class="card-title text-lenth-fix-line-1 person-name"><b>{{ item.Employee_Name }}</b></h3>
                      <p class="card-text text-lenth-fix-line-1 person-post">{{ item.Post_Name }}</p>
                      <p class="card-text view-profile">View Profile</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
    </ngb-carousel>
  </div>
</section>


