<app-banner [banner_heading]="'Guidelines for Visa and FRO/FRRO'" [banner_img]="bannerImg"></app-banner>


<section class="gray-bg pt-3 pb-3 visa-guidelines-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col mb-3 mt-3"
                style="border: solid 1px; border-color: rgb(202, 200, 200); background-color: rgb(255, 255, 255);">
                <div class="visa-guidelines mt-3">
                    <h2 class="mt-3 mb-5">Guidelines for Visa and FRO/FRRO</h2>
                    <div class="visa-guidelines">
                        <h3 style="font-weight: 600;">Guidelines for Visa</h3>
                        <ul class="visa-list">
                            <li><i class="fas fa-file-signature"></i> Once Admission Letter / Visa Letter has been
                                issued student should immediately apply for Student Visa at Indian Embassy / High
                                Commission.</li> &nbsp;
                            <li><i class="fas fa-passport"></i> Make sure that your Student Visa is endorsed to Sharda
                                University.</li>&nbsp;
                            <li><i class="fas fa-calendar-alt"></i> Make sure that you have applied for Visa well in
                                advance and time. It generally takes 3-8 weeks to get the Indian Visa thus it is
                                advisable to apply for the visa accordingly and consult the Indian High
                                Commission/Embassy, if required.</li>&nbsp;
                            <li><i class="fas fa-university"></i> Change of University or Institution cannot be
                                considered. In this case you would be required to go back to your home country and apply
                                for a new visa.</li>&nbsp;
                            <li><i class="fas fa-check-double"></i> Make sure, if you have entered India on basis of
                                Student Visa endorsed to Sharda University, then it is your responsibility to ensure
                                that you directly join and report to the University. The Visa endorsed on the name of
                                the University or obtained on the basis of University documents cannot be used for any
                                other purpose like employment , admission to any other
                                university/college/institute/academy etc. or for non-regular (distance/online) mode of
                                education.</li>&nbsp;
                            <li><i class="fas fa-user-check"></i> After reaching the University Campus, students have to
                                get the visa verified by the University and have to deposit a copy of the valid visa at
                                International Relations Division. It is the responsibility of the student to ensure that
                                throughout his/her study period student is on valid visa.</li>
                        </ul>
                    </div>
                    <div class="visa-guidelines">
                        <h3 style="font-weight: 600;">Guidelines for Visa Extension and FRO/FRRO</h3>
                        <ul class="visa-list">
                            <li><i class="fas fa-calendar-plus"></i> It is a mandatory for all International students
                                except those from Nepal and Bhutan to get their Student Visa registered at FRRO/FRO
                                Noida or New Delhi within 14 days of arrival in India.</li>&nbsp;
                            <li><i class="fas fa-hands-helping"></i> International Relations Department of Sharda
                                University will guide and assist Student with all the required processes needed for
                                FRO/FRRO Registration.</li>&nbsp;
                            <li><i class="fas fa-address-card"></i> All International students except those from Nepal
                                and Bhutan have to fill online application for Registration Certificate (RC) &
                                Residential Permit (RP) on arrival to India.</li>&nbsp;
                            <li><i class="fas fa-calendar-alt"></i> In case the initial visa is not endorsed for the
                                complete duration of the program or student has to extend the stay because he/she is not
                                able to complete the program in the stipulated time then the student should apply for
                                the extension of the visa before visa expires.</li>&nbsp;
                            <li><i class="fas fa-passport"></i> Visa Extension for stay visa, Residence permit Extension
                                (RP Extension), change of address, change of course & change of Institution and OFF LINE
                                for No Objection Certificate (NOC) for travelling outside India in Foreigners
                                Registration Office (FRO) in Noida and Foreigners Regional Registration Office (FRRO) in
                                New Delhi.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
