

/* dean msg css start  */
.message_section {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e3f0f7;
    background-size: cover;
    background-position: center;
    padding: 40px;
    filter: brightness(1);
}

// dynamic css for college detail page
.error-message {
    background-color: #f0f0ef;
  }

.message_section .profile {
    text-align: center;
    /* margin-right: 20px; */
}

.message_section .profile-picture {
    height: 14em;
    width: 12em;
    border-radius: 5%;
    /* border-color: #fff; */
    border: solid white 3px;
}

// .message_section .dean-name {
//     font-weight: bold;
//     margin: 5px 0;
//     color: #000000;
//     padding-top: 0.2em;
// }

// .message_section .designation {
//     font-size: calc(16px * var(--font-scale));
//     color: #232222;
//     margin: 0;
// }

.message_section .message {
    // /max-width: 600px;/
    text-align: left;
}

.message_section .message-title {
    font-size: calc(28px * var(--font-scale));
    font-weight: bold;
    margin: 10px 0;
}

.message_section .message-text {
    font-size: calc(17px * var(--font-scale));
    line-height: 1.5;
   text-align: justify;
   padding-bottom:3%;
   color: #504d4d;
   padding-top: 2em;
   font-weight: 500;
}

 .button-70 {
    /* Add styles for your new custom button here */
    background-color: #ffc600;
    color: #07294d;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    font-size:large;

}

.scrolitem{
    transition: all ease-in-out 0.3s;
    height: 280px;
    overflow: hidden;
    overflow-y: scroll;
}

  .scrolitem {
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }


  @media screen and (max-width: 1000px) {
   
    .profile .profile-picture{
  min-width: unset !important;
   min-height: unset !important;
      }
  
  }



  

.boys_hostel .first_row {

    box-shadow: skyblue 0 2px 4px 0px;
    // margin-top: 6.5em;
    margin-bottom: 6.5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
  
  
  .boys_hostel h2 {
    font-weight: 600;
    font-size: 1.8em;
  }
  
  .boys_hostel p {
    font-weight: 500;
  }
  
  .boys_hostel img {
    padding: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0.9); /* Initial scale to create a zoom effect */
    transform: scale(0.9);
    -webkit-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
  
  }
  
  /* Zoom Out #1 */
  
  .boys_hostel img:hover {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  .boys_hostel .innerrow .image_section {
    overflow: hidden;
  }
  
  .boys_hostel {
    margin: 5px;
  }
  
  .boys_hostel p {
    text-align: center;
    // padding: 1em;
    font-weight: 500;
    padding-top: 0;
  }
  
  .boys_hostel h2 {
    margin: 0.4em;
  }
  
  
  
  
  .boys_hostel_List .infrastructure-card {
    margin-top: 1.2em;
    color: black;
  }
  
  
  .boys_hostel_List ul {
    margin: 1.2em;
  }
  
  
  
  .boys_hostel_List .infrastructure-card .first_section {
    box-shadow: skyblue 0 2px 4px 0px;
    height: 40%;
    width: auto;
    color: #ffc600;
    background-color: #07294B;
    padding: 0.5em;
    border-radius: 5px;
    font-size: calc(13px* var(--font-scale));
    margin: 0.5em;
  
  }
  
  
  .boys_hostel_List .infrastructure-card .second_section {
    box-shadow: skyblue 0 2px 4px 0px;
    height: 40%;
    width: auto;
    color: #ffc600;
    background-color: #07294B;
    padding: 0.5em;
    border-radius: 5px;
    font-size: calc(13px* var(--font-scale));
    margin: 0.5em;
  
  }
  
  .boys_hostel_List .infrastructure-card .third_section {
    box-shadow: skyblue 0 2px 4px 0px;
    height: 40%;
    width: auto;
    color: #ffc600;
    background-color: #07294B;
    padding: 0.5em;
    border-radius: 5px;
    font-size: calc(13px* var(--font-scale));
    margin: 0.5em;
  }
  

  .slider-container {
    position: relative;
    height: 100% !important;
    width: 100% !important;
    overflow: hidden;
  }
  
  .slider-image {
    width: 100%;
    height: 100%;
    // object-fit: cover; /* This property ensures that the image covers the container without stretching */
    // cursor: pointer;
  }
  
  .slider-description {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.5);
    color: #07294B;
    font-weight: 600;
    // padding: 10px;
    text-align: center;
    opacity: 0.8;
  }
  
  .slider-container {
    position: relative;
    width: 100%;
    /* Set width to 100% for responsiveness */
    max-width: 100%;
    /* Set maximum width to 100% */
    overflow: hidden;
    /* Hide overflow to prevent distortion */
  }
  
  .slider-image {
    object-fit: cover;
    width: 100%;
    /* Set maximum width to 100% */
    height: 100%;
    /* Let the height adjust proportionally */
    display: block;
    /* Ensure the image is displayed as a block element */
    margin: 0 auto;
    /* Center the image horizontally */
  }
  

  


.gallery_section .gallery-image img {
  transform: scale(1.0);
  transition: transform 0.4s ease;
  width: 100%;
  height: 18em;
  cursor: pointer;
}

.gallery_section .img-box {
  box-sizing: content-box;
  width: 100%;
  margin: 10px;
  overflow: hidden;
  display: inline-block;
  color: white;
  position: relative;
  background-color: white;
  cursor: pointer;
}

.gallery_section .caption {
  position: absolute;
  bottom: 5px;
  left: 20px;
  opacity: 0.0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.gallery_section .caption p {
  color: white;
  font-weight: 400;
  font-size: medium;
}

.gallery_section .transparent-box {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  transition: background-color 0.3s ease;
}

.gallery_section .img-box:hover img {
  transform: scale(1.1);
}

.gallery_section .img-box:hover .transparent-box {
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery_section .img-box:hover .caption {
  transform: translateY(-20px);
  opacity: 1.0;
}

.gallery_section .img-box:hover {
  cursor: pointer;
}

.gallery_section .caption>p:nth-child(2) {
  font-size: 0.8em;
}

.gallery_section .opacity-low {
  opacity: 1;
}

/*gallery section css end*/


  
// Contact Us Css Starts 
.contact-us {
  display: flex;
}

/* Styles for indoor image part */
.contact-us .indoor_img_part {
  position: relative;
}

.contact-us .indoor_img_part img {
  height: 15em;
  width: 25em;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  // position: relative;
  margin-left: 35%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  z-index: 2;
  transition: transform 0.3s ease; 
}

.contact-us .indoor_img_part img:hover {
  transform: scale(1.1); /* Zoom-in effect on hover */
}

/* Styles for indoor overview content */
.contact-us .indoor_overview_content {
  margin-left: 9%;
  text-align: left;
}

.contact-us .indoor_overview_content h4 {
  // margin-left: 9%;
  text-align: left;
  font-weight: 500;
  font-size: calc(16px * var(--font-scale));
}

.contact-us .indoor_overview_content .indoor_overview_list{
  list-style-type: none;
  height: auto;
  width: 100%;
}

.contact-us .indoor_overview_content .indoor_overview_list p{
  line-height: 2em;
  font-size: calc(15px * var(--font-scale));
  font-weight: 400;
  text-align: justify;
}

/* Styles for indoor part */
.contact-us .indoor_part {
  background-color: #E0E8F2;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.contact-us .indoor_part h3 {
  background-color: #E0E8F2;
  text-align: left;
  margin-left: 10%;
  margin-top: 30px;
  font-weight: 600;
  font-size: calc(20px * var(--font-scale));
}

@media only screen and (max-width:1200px){
  .contact-us {
    display: flex;
    margin:0;
    padding:0;
  }
  
  .contact-us .indoor_img_part img {
    margin-left:3em ;
    padding: 0;
  }
  }

  @media only screen and (max-width:780px){
    .contact-us {
      display: flex;
      margin:0;
      padding:0;
    }
    
    .contact-us .indoor_img_part img {
      margin-left:2em ;
      padding: 0;
    }
    }
  
@media only screen and (max-width:550px){
.contact-us {
  text-align: center ;
  justify-content: center;
  display: block;
  margin:0;
  padding:0;
}

.contact-us .indoor_img_part{
  height: auto;
  width: auto;
}

.contact-us .indoor_part{
  height: auto;
  width: auto;
}

.contact-us .indoor_img_part img {
  margin: 0;
  padding: 0;
  height: auto;
  width: auto;
}

}
// Contact us Ends 