/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
  }
  
//   /* Styles for the main content container */
//   .content {
//     position: absolute;
//   }

// .slider-container{
//   overflow: hidden;
// }