 <!--====== SLIDER PART START ======-->
    
 <section id="slider-part" class="slider-active">

    <div class="single-slider bg_cover pt-150" style="background-image: url(assets/images/slider/s-01.jpg);" data-overlay="4">
       <div class="container">
           <!-- <div class="row content-part">
               <div class="col-lg-9" style="background-color:#ffffff; border-radius:20px;">
                   <div class="slider-cont">
                       <h2 data-animation="bounceInLeft" data-delay="1s">Indira Gandhi Krishi Vishwavidyalaya</h2>
                   </div>
               </div>
           </div>  -->
       </div> <!-- container -->
   </div> 

   


   
</section>



<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->

<section id="category-part">
   <div class="container">
       <div class="category pt-40 pb-80">
           <div class="row">
               <div class="col-lg-4">
                   <div class="category-text pt-40">
                       <h2 align="justify"> Excellent Agricultural Solutions <!--in Academics, Researches and Extensions--></h2>
                   </div>
               </div>
               <div class="col-lg-6 offset-lg-1 col-md-8 offset-md-2 col-sm-8 offset-sm-2 col-8 offset-2">
                   <div class="row category-slied mt-40">
                       <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-1">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/ctg-3.png" alt="academic Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Academics</span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                       <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-2">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/research-01.png" alt="research Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Research </span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                       <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-3">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/extension-01.png" alt="extension Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Extensions</span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                       
                        <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-1">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/ctg-3.png" alt="academic Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Academics</span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                       <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-2">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/research-01.png" alt="research Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Research </span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                       <div class="col-lg-4">
                           <a href="#">
                               <span class="singel-category text-center color-3">
                                   <span class="icon">
                                       <img src="assets/images/all-icon/extension-01.png" alt="extension Icon">
                                   </span>
                                   <span class="cont">
                                       <span>Extensions</span>
                                   </span>
                               </span> <!-- singel category -->
                           </a>
                       </div>
                    </div>
                   </div> <!-- category slied -->
               </div>
           </div> <!-- row -->
       </div> <!-- category -->
</section>
<!--====== CATEGORY PART END ======-->