<!-- Banner Starts From Here  -->
<app-banner [banner_heading]="'Nehru Library'"
  [banner_img]="bannerImg"></app-banner>

<!-- Overview Starts  -->
<section id="Section3" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="section-title1">Overview</h2>

        <div class="about-cont">
          <p class="contents">
            The Nehru Library established in 1987. Nehru Library of IGKV is well equipped with the modern automated
            services. This was strengthen by the involvement of ICAR through NATP/NAIP. Chhattisgarh Government
            supported for its infra structure development and provided other facilities. The library is functioning as
            Central Library of Indira Gandhi Krishi Vishwavidyalaya and recognized as Regional Library of Central India
            by the ICAR. The Library is well equipped with latest communication and information technologies including
            web based online e-services, e-resources and internet browsing. The library is a member of Consortium for
            e-Resources (CeRA) for online journals agricultural resources and major partner of Krishikosh national
            institutional repositories. Nehru Library maintains around one lakh collection i.e. books, reports, theses,
            monographs, journal volumes, e-Resources and other reference material. Library subscribes > hundred fifty
            journals in physical form and > 4000 electronically. The library has a working ‘Cybrary’ with highly
            configured terminals and Wi-Fi connectivity. Nehru Library equipped with CCTV and RFID system with self
            issue return, drop box facilities.
          </p>

        </div>
      </div> <!-- about cont -->

    </div> <!-- row -->

  </div> <!-- container -->
</section>
<!-- Overview Ends  -->

<!-- dean msg -->
<section class="message_section ">
  <div class="container">
    <div class="row">

      <div class="profile col-md-3">
        <img class="profile-picture" [src]="LabrarianImg" alt="staff image">
        <h3 class="dean-name">Dr. Madhav Pandey</h3>
        <p class="designation">University Librarian</p>
      </div>
 

      <div class="message col-md-9">
        <h2 class="message-title" style="color: white;">University Librarian's Message</h2>
        <p class="message-text contents" style="color: white;" >
          "Welcome to Nehru Library, the heart of our academic journey! As the University Librarian, I extend my warm
          greetings to all. Our library stands as a beacon of knowledge, fostering learning, research, and intellectual
          exploration. Here, amidst the wealth of literature, we encourage a spirit of curiosity and discovery. Nehru
          Library is not just a repository of books; it's a space where ideas flourish, minds expand, and futures take
          shape. Embrace the wealth of resources at your fingertips, and let the pages of Nehru Library illuminate your
          educational odyssey. Happy reading, exploring, and discovering!"
        </p>
      </div>
    </div>

  </div>
</section>
<!-- dean msg End -->

<!-- Enter to grow wisdom Starts -->
<div class="container-fluid pt-3 pd-3">
  <div class="container">
    <div class="row">
        <h2 class="section-title1">Enter to Grow Wisdom</h2>
      <div class="align-div ">
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a target="_blank" href="http://igkv.kopykitab.com">
              <img [src]="ebookLogo" alt="Icon or Image">
              <div class="name">e-Book</div>
            </a>
          </div>
        </div>
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a target="_blank" href="https://jgateplus.com/search/index/ ">
              <img [src]="JournalLogo" alt="Icon or Image">
              <div class="name">Journals</div>
            </a>
          </div>
        </div>
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a target="_blank" href="https://www.krishakjagat.org/kj_epaper/">
              <img [src]="e_paperLogo" alt="Icon or Image">
              <div class="name">e-Paper</div>
            </a>
          </div>
        </div>
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a target="_blank" href="https://krishikosh.egranth.ac.in">
              <img [src]="RepositoryLogo" alt="Icon or Image">
              <div class="name">Repository</div>
            </a>
          </div>
        </div>
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a target="_blank" href="https://krishikosh.egranth.ac.in/collections/bfce97df-251b-4a14-9d91-14105be7497c">
              <img [src]="ThesisLogo" alt="Icon or Image">
              <div class="name">Thesis</div>
            </a>
          </div>
        </div>
        <div class="card-library mt-3">
          <!-- Replace 'your-image.jpg' with the actual path to your image -->
          <div class="card-content">
            <a href="http://192.168.5.205" target="_blank">
              <img [src]="OpacLogo" alt="Icon or Image">
              <div class="name">OPAC</div>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>



  
</div>
<!-- Enter Grow Wisdom Ends Here  -->


<!-- lab and infrastructure start-->
<section id="Section6" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
          <!-- <h5>Nehru  Library</h5> -->
          <h2 class="section-title1">Facilities & Services</h2>
        <!-- section title -->

        <div class="about-cont">
          <div class="container">
            <div class="mt-5 lab_infrastructure Facilities">
              <div class="row first_row">
                <div class="col-md-5">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="InsideLibraryImg" alt="Other Services" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7 Facilities_Part">
                  <h2>Inside the Library :</h2>
                  <div class="Facilities_List">
                    <hr />
                    <ul class="contents">
                      <li>Open Access Facilities for Textual Documents.</li>
                      <li>Library and Information Science Course for PG and Ph.D. Students </li>
                      <li>
                        Provision of Separate Reading Rooms for Students and
                        Teachers/ Scholars.
                      </li>
                      <li>
                        Reference Books, Thesis/ Dissertations, Census/ Govt.
                        Publication.
                      </li>
                      <li>Journals of National and International repute.</li>
                      <li>JReading services/Loan privilege.</li>
                      <li>SC-ST Book Bank</li>
                      <li>Photocopy service</li>

                    </ul>
                    <div class="infrastructure-card row">
                      <div class="col-md-4 first_section">
                        <i style="color: #ffc600" class="fa-solid fa-wifi"></i>
                        Free Wifi
                      </div>
                      <div class="col-md-4 second_section">
                        <i style="color: #ffc600" class="fa-solid fa-book"></i>
                        Free E-Books
                      </div>
                      <div class="col-md-4 second_section">
                        <a href="https://igkv.ac.in/library/Category.aspx?category_id=5"><i style="color: #ffc600"
                            class="fa-solid fa-book"></i> </a>
                        OPAC
                      </div>
                      <div class="col-md-4 third_section">
                        <i style="color: #ffc600" class="fa fa-desktop" aria-hidden="true"></i>
                        E-Learning
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row second_row">
                <div class="col-md-7 Facilities_Part">
                  <h2>Outside the Library :</h2>
                  <div class="Facilities_List">
                    <hr />
                    <ul class="contents">
                      <li>e-Books/ e-Krishi Siksha e-Learning Portal on Agricultural Education</li>
                      <li>Faculty Awareness Training Programme</li>
                      <li>Online library information.</li>
                      <li>Current Awareness Services.</li>
                      <li>Parking Area.</li>
                    </ul>

                  </div>
                </div>
                <div class="col-md-5">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="OutSideLibraryImg" alt="OutSide the Library image" />
                    </div>
                  </div>
                </div>
              </div>

              <div class="row third_row">
                <div class="col-md-5">
                  <div class="innerrow">
                    <div class="image_section">
                      <img [src]="OtherServicesImg" alt="Other Services" />
                    </div>
                  </div>
                </div>
                <div class="col-md-7 Facilities_Part">
                  <h2>Other Services :</h2>
                  <div class="Facilities_List">
                    <hr />
                    <ul class="contents">
                      <li>Consortium for e-Resources in Agriculture (CeRA)</li>

                      <li>Krishikosh - e-Thesis Repository</li>
                      <li>IGKV Thesis Database</li>
                      <li>Online Journals</li>
                      <li>IDEAL</li>
                      <li>CAB Direct</li>
                      <li>Science Direct</li>
                      <li>e-Books/ e-Krishi Siksha </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about cont -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== Awards & Achievements ======-->
<section id="about-page" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="section-title1">Awards</h2>
        <!-- section title -->
        <div class="about-cont">
          <section class="portfolio" id="portfolio">
            <div class="portfolio-grid">
              <div class="container">
                <div class="row">
                  <!-- first row  -->
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <img [src]="AwardImg1" alt="AwardImg1" />
                      <div class="portfolio-over">
                        <div>
                          <p class="card-text">
                            Award for Best Utilization of CeRA
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-title">
                      <h3>Award for Best Utilization of CeRA</h3>
                    </div>
                  </div>
                  <!-- Second row  -->
                  <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="card card-block">
                      <img [src]="AwardImg2" alt="AwardImg2" />
                      <div class="portfolio-over">
                        <div>
                          <p class="card-text">
                            Certificate of Apprciaton for Best Usage of J-Gate&#64;CeRA Resources through J-Gate
                            Discovery Platform - 2022
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="card-title">
                      <h3>J-Gate&#64;CeRA Regional Training cum Awareness Workshop Organised by Informatics Publishing
                        Limited, Bangalore</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Gallery section start-->
<section id="Section4" class="pt-3 pb-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h2 class="section-title1">Gallery</h2>
        <!-- section title -->

        <div class="about-cont">
          <div class="gallery_section">
            <div class="gallery-image">
              <div class="row">
                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg1" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + 'GalleryImg1' + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg1" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg2" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + GalleryImg2 + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg2" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg3" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + GalleryImg3 + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg3" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
              <div class="row">
                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg4" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + GalleryImg4 + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg4" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg5" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + GalleryImg5 + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg5" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="col-sm-4">
                  <div class="img-box">
                    <a [href]="GalleryImg6" data-lightbox="models">
                      <!-- Linking to the image with lightbox attributes -->
                      <div class="gallery-section">
                        <!-- Creating a container for the image -->
                        <div class="gallery-image image banner" [style.background-image]="'url(' + GalleryImg6 + ')'">
                          <!-- Styling the background image of the container -->
                          <img [src]="GalleryImg6" alt="Gallery Image" />
                          <!-- Displaying the image -->
                        </div>
                      </div>
                    </a>
                    <div class="transparent-box">
                      <div class="caption">
                        <p>Design</p>
                        <p class="opacity-low">Library</p>
                      </div>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- about cont -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Gallery section end-->

<!-- Library Contact Us Page  -->

<div class="container-fluid mb-5">
  <div class="container">
    <div class="section-title">
      <h2>Contact Us</h2>
    </div>

    <div class="row contact-us">
      <div class="col-md-5 col-sm-12 indoor_img_part">
        <div class="image">
          <img [src]="ContactImg" alt="library contact image">
        </div>
      </div>
      <div class="col-md-7 col-sm-12 indoor_part">
        <div class="content">
          <h3>Nehru Library</h3>
          <div class="row indoor_overview_content">
            <h4>To know more, Please visit this website <a href="https://nehrulibrary.in/" target="_blank">Nehru Library</a></h4>
            <ul class="indoor_overview_list">
              <li><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;<strong>:</strong> 07712970220</li>
              <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; <strong>:</strong> raipurpandey&#64;gmail.com</li>
              <li><i class="fas fa-map-marker-alt"></i> &nbsp;<strong>:</strong> Indira Gandhi Krishi Vishwavidyalaya, Main Campus, Krishak Nagar 492012, Raipur C.G.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
  </div>  
</div>


<app-contact-us></app-contact-us>