
.hero {
  position: relative;
  display: block;
  width: 100%;
  // height: 250px;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
   background: linear-gradient(
      to bottom,
    rgba(7, 41, 77, 0.70) 0%,    /* very dark at top (menu + heading) */
    rgba(7, 41, 77, 0.55) 20%,   /* still dark */
    rgba(7, 41, 77, 0.55) 35%,   /* fading */
    rgba(7, 41, 77, 0.15) 55%,   /* almost clear */
    rgba(7, 41, 77, 0.0) 100%    /* NO overlay at bottom */
  );
  z-index: 1; /* Layer it behind the video */
}


// /* Loader container */
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(243, 244, 245, 0.911); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Make sure the loader is on top */
}


.ball {
  width: 20px;
  height: 20px;
  background-color: #3498db;
  border-radius: 50%;
  animation: bounce 1s infinite ease-in-out;
}

.ball:nth-child(1) {
  animation-delay: 0s;
}

.ball:nth-child(2) {
  animation-delay: 0.2s;
}

.ball:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

@media(max-width:768px){
#bigscreen{
  display: none;
}
.hero {
  margin-top: -2em;
}

}


@media(min-width:768px){
  #smallscreen{
    display: none;
  }
  
video {
  position: relative;
  z-index: 2; /* Ensure the video is above the overlay */
  object-fit: cover; /* Ensure video covers the container without distortion */
  min-height: 100vh;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

.hero {
  margin-top: -5.3em;
}
  }