
/*--------------------------------------------------------------
# blog-student-activities
--------------------------------------------------------------*/
.blog-student-activities .blog-student-activities-pagination {
    margin-top: 30px;
    color: #838893;
  }
  
  .blog-student-activities .blog-student-activities-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .blog-student-activities .blog-student-activities-pagination li {
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .blog-student-activities .blog-student-activities-pagination li a {
    color: var(--color-secondary);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog-student-activities .blog-student-activities-pagination li.active,
  .blog-student-activities .blog-student-activities-pagination li:hover {
    background: var(--color-primary);
    color: #fff;
  }
  
  .blog-student-activities .blog-student-activities-pagination li.active a,
  .blog-student-activities .blog-student-activities-pagination li:hover a {
    color: var(--color-white);
  }
  
  /*--------------------------------------------------------------
  # blog-student-activities Posts List
  --------------------------------------------------------------*/
  .blog-student-activities .posts-list .post-item {
    // box-shadow: 0 4px 40px -12px #5F8D4E;
    box-shadow: 0 4px 40px -12px gray;
    transition: 0.3s;
    padding: 1em;
  }
  
  .blog-student-activities .posts-list .post-img{
    height: 15em;
  }
  
  .blog-student-activities .posts-list .post-img img {
    transition: 0.5s;
    height: 100%;
   
  }
  
  .blog-student-activities .posts-list .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d96846;
    color: white;
    text-transform: uppercase;
    font-size: calc(13px * var(--font-scale));
    padding: 6px 12px;
    font-weight: 500;
    z-index: 5;
  }
  
  .blog-student-activities .posts-list .post-content {
    padding-top: 0.5em;
    height: 5em;
  }
  
  .blog-student-activities .posts-list .post-content h4{
    font-size: calc(14px * var(--font-scale));
    font-weight: 600;
  }
  
  .blog-student-activities .posts-list .post-title {
    font-size: calc(24px * var(--font-scale));
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .blog-student-activities .posts-list .meta i {
    font-size: calc(16px * var(--font-scale));
    color: var(--color-primary);
  }
  
  .blog-student-activities .posts-list .meta span {
    font-size: calc(15px * var(--font-scale));
    color: #838893;
  }
  
  .blog-student-activities .posts-list p {
    margin-top: 20px;
  }
  
  .blog-student-activities .posts-list hr {
    color: #888;
    margin-bottom: 20px;
  }
  
  .blog-student-activities .posts-list .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #d96846;
    text-align: center;
  }
  
  .blog-student-activities .posts-list .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: calc(16px * var(--font-scale));
    text-align: center;
  }
  
  .blog-student-activities .posts-list .post-item:hover .post-title,
  .blog-student-activities .posts-list .post-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .blog-student-activities .posts-list .post-item:hover .post-img img {
    transform: scale(1.1);
  }
  
  
  .color-green{
    color: #c75941;
  
  }
  
  
  /*--------------------------------------------------------------
  # blog-student-activities Comments
  --------------------------------------------------------------*/
  .blog-student-activities .comments {
    margin-top: 30px;
  }
  
  .blog-student-activities .comments .comments-count {
    font-weight: bold;
  }
  
  .blog-student-activities .comments .comment {
    margin-top: 30px;
    position: relative;
  }
  
  .blog-student-activities .comments .comment .comment-img {
    margin-right: 14px;
  }
  
  .blog-student-activities .comments .comment .comment-img img {
    width: 60px;
  }
  
  .blog-student-activities .comments .comment h5 {
    font-size: calc(16px * var(--font-scale));
    margin-bottom: 2px;
  }
  
  .blog-student-activities .comments .comment h5 a {
    font-weight: bold;
    color: var(--color-default);
    transition: 0.3s;
  }
  
  .blog-student-activities .comments .comment h5 a:hover {
    color: var(--color-primary);
  }
  
  .blog-student-activities .comments .comment h5 .reply {
    padding-left: 10px;
    color: var(--color-secondary);
  }
  
  .blog-student-activities .comments .comment h5 .reply i {
    font-size: calc(20px * var(--font-scale));
  }
  
  .blog-student-activities .comments .comment time {
    display: block;
    font-size: calc(14px * var(--font-scale));
    color: rgba(82, 86, 94, 0.8);
    margin-bottom: 5px;
  }
  
  .blog-student-activities .comments .comment.comment-reply {
    padding-left: 40px;
  }
  
  .blog-student-activities .comments .reply-form {
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
  }
  
  .blog-student-activities .comments .reply-form h4 {
    font-weight: bold;
    font-size: calc(22px * var(--font-scale));
  }
  
  .blog-student-activities .comments .reply-form p {
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog-student-activities .comments .reply-form input {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog-student-activities .comments .reply-form input:focus {
    box-shadow: none;
    border-color: rgba(254, 185, 0, 0.8);
  }
  
  .blog-student-activities .comments .reply-form textarea {
    border-radius: 4px;
    padding: 10px 10px;
    font-size: calc(14px * var(--font-scale));
  }
  
  .blog-student-activities .comments .reply-form textarea:focus {
    box-shadow: none;
    border-color: rgba(254, 185, 0, 0.8);
  }
  
  .blog-student-activities .comments .reply-form .form-group {
    margin-bottom: 25px;
  }
  
  .blog-student-activities .comments .reply-form .btn-primary {
    border-radius: 4px;
    padding: 10px 20px;
    border: 0;
    background-color: var(--color-secondary);
  }
  
  .blog-student-activities .comments .reply-form .btn-primary:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
  
  