<!-- 
<section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(assets/images/imgs/kvk.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2 class="header" >Gallery</h2> 
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" href="."><a >Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                        </ol>
                    </nav>
                </div>  
            </div>
        </div> 
    </div> 
</section> -->

<app-banner *ngIf="Office_id == 0" [banner_heading]="'Gallery'" [banner_img]="bannerImg"></app-banner>

<div class="loader" *ngIf="isLoading"></div>


<!-- for small screen -->
<div class="gray-bg year-list-smallscreen" style="padding: 1em;" *ngIf="Office_id == 0">
    <div class="category-section">
      <label for="category-dropdown" class="dropdown-label">Select Years</label>
      <div class="custom-dropdown">
        <select
          id="category-dropdown"
          class="category-search-input"
          (change)="onSelectyearsmall($event)">
          <option value="" disabled selected>Select</option>
          <option *ngFor="let data of galleryListYear" [value]="data.year">{{data.year}}</option>
        </select>
      </div>
    </div>
</div>


<!-- for big screen -->
<section class="pt-5 pb-2 yearslist"  *ngIf="Office_id == 0">
    <div class="container years-counts">
        <div class="row ">
            <div class="col-md-2" *ngFor="let data of galleryListYear">
                <a [routerLink]="['year',data.year]">
                    <div class="counter blue">
                        <div class="counter-content">
                            <div class="counter-icon">
                            </div>
                            <span class="counter-value">{{data.year}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="Section1" class="pt-5 pb-5" *ngIf="galleryCategory && Office_id == 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-3">
                    <h2>Categories</h2>
                </div> <!-- section title -->
            </div>
        </div>
        <div class="row">
            <ng-container *ngFor="let data of galleryCategory">
                <div class="col-lg-3 col-md-6">
                    <div class="gallery mt-3">
                        <div class="thum">
                            <div class=" image  banner" [style.background-image]="'url(' + data.imagepath + ')'"
                                *ngIf="data.imagepath">
                                <a [routerLink]="['gallery-list/',data.Event_Category_ID]">
                                    <img [src]="data.imagepath " alt="Gallery Category Image">
                                </a>
                                <div class="content">
                                </div>
                            </div>
                        </div>
                        <div class="cont">
                            <div class="col-lg-12 col-sm-12 view-button">
                                <span> {{data.Event_Category_Name_E}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</section>

<section id="Section2" class="pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-3">
                    <h2 *ngIf="Office_id == 0">All Images</h2>
                    <h2 *ngIf="Office_id != 0">Gallery</h2>
                </div> <!-- section title -->
            </div>
        </div>
        <div class="row" *ngIf="galleryList?.length !== 0; else elseblock">
                <ng-container *ngFor="let data of galleryList">
                    <div class="col-lg-4 col-md-6">
                        <div class="gallery mt-3">
                            <div class="thum">
                                <div class=" image  banner" [style.background-image]="'url(' + data.media_link + ')'"
                                    *ngIf="data.media_link">
                                    <img [src]="data.media_link" alt="gallery image">
                                    <div class="content">
                                    </div>
                                </div>
                            </div>
                            <div class="cont">
                                <span><i class="fa-regular fa-calendar-days"></i>Year : {{data._Year}}</span>
                                <h4>{{data.gallery_name}}</h4>
                                <div class="col-lg-12 col-sm-12 view-button">
                                    <a *ngIf="Office_id == 0"
                                        [routerLink]="['/about/gallery-detail',data.gallery_main_id]"
                                        class="main-btn">View more</a>
                                    <a *ngIf="Office_id != 0" [routerLink]="['gallery-detail',data.gallery_main_id]"
                                        class="main-btn">View more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
           
        </div>
        <ng-template #elseblock>
            <app-no-data></app-no-data>
        </ng-template>
    </div>
</section>