<div class="container mt-5">
    <div class="row">
        <div class="col-md-9 col-sm-10">
            <div class="section-title mt-3">
                <!-- <h2>About</h2> -->
                <h1>NIRF Overview</h1>
            </div>
            <div class="contents">
                <p>The National Institutional Ranking Framework (NIRF) was approved by the MHRD and launched by Honourable Minister of Human Resource Development on 29th September 2015.

                    This framework outlines a methodology to rank institutions across the country. The methodology draws from the overall recommendations broad understanding arrived at by a Core Committee set up by MHRD, to identify the broad parameters for ranking various universities and institutions. The parameters broadly cover “Teaching, Learning and Resources,” “Research and Professional Practices,” “Graduation Outcomes,” “Outreach and Inclusivity,” and “Perception”.</p>
            </div>
        </div>
        <div class="col-md-3 col-lg-2">
            <div class="imges">
            <img src="assets/nirf-logo.png" height="180px" alt="" style="margin-left: 30px;">
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="links">
            <a class="nirf-btn" href="https://igkv.ac.in//web/NIRF2023.pdf" target="_blank"> NIRF 2023</a>
            <a class="nirf-btn" href="https://igkv.ac.in//web/NIRF2024.pdf" target="_blank"> NIRF 2024</a>
            <a class="nirf-btn" href="https://igkv.ac.in//web/NIRF2025-Overall.pdf" target="_blank"> NIRF 2025(Overall Category)</a>
            <a class="nirf-btn" href="https://igkv.ac.in//web/NIRF2025-AGRICULTUREANDALLIEDSECTORS.pdf" target="_blank">NIRF 2025(Agriculture and Allied Sectors)</a>
        </div>
    </div>
</div>