
<div class="container mt-5" style="border-top: 4px solid rgb(26, 71, 131); ">
    <h1 style="font-weight: 600; color: grey;" >IGKV Website Policies</h1>

    <section class="policy">
        <h3 >Hyperlinking Policy</h3>
        <p>
            Links to external websites/portals: We do not object to you linking directly to the information that is hosted on our site, and no prior permission is required for the same. However, we would like you to inform us about any links provided to our site so that you can be informed of any changes or updates therein. Also, we do not permit our pages to be loaded into frames on your site. Our website’s pages must load into a newly opened browser window of the user.
        </p>
    </section>

    <section class="policy">
        <h3>Copyright Policy</h3>
        <p>
            Material featured on this Portal may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not used in a derogatory manner or in a misleading context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material identified as being the copyright of a third party. Authorization to reproduce such material must be obtained from the departments/copyright holders concerned.
        </p>
        <p>
            These terms and conditions shall be governed by and construed in accordance with Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.
        </p>
    </section>

    <section class="policy">
        <h3>Privacy Policy</h3>
        <p>
            The IGKV website does not automatically capture any specific personal information from you (like name, phone number, or e-mail address) that allows us to identify you individually.
        </p>
        <p>
            If the IGKV website requests you to provide personal information, you will be informed of the particular purposes for which the information is gathered, and adequate security measures will be taken to protect your personal information.
        </p>
        <p>
            We do not sell or share any personally identifiable information volunteered on the IGKV website to any third party (public/private). Any information provided to this Website will be protected from loss, misuse, unauthorized access or disclosure, alteration, or destruction.
        </p>
        <p>
            We gather certain information about the User, such as Internet protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit, and the pages visited. We make no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to damage the site has been detected.
        </p>
    </section>
</div>

<!-- Just an image -->
<!-- Image and text -->

<!-- <footer   id="footer">
    <div   class="footer-top">
        <div   class="container">
            <div   class="row">
                <div   class="col-lg-2 col-md-6 footer-contact">
                    <h3  >
                        <div   class="logo"><a  ><img
                                      width="100px" alt="Logo"
                                    src="./IGKV - Indira Gandhi Krishi Vishwavidyalaya_files/home-footer-igkv-logo.png"></a>
                        </div>
                    </h3>
                    <p  > Indira Gandhi Krishi Vishwavidyalaya, <br
                             > Krishak Nagar, Raipur,<br  >
                        Chhattisgarh 492012<br  ><strong
                             >Phone:</strong> 0771 24 42537<br
                             ><strong  >Site:</strong>
                        https://igkv.ac.in <br  ></p>
                </div>
                <div   class="col-lg-2 col-md-6 footer-links">
                    <h4   style="color: rgba(252, 169, 15, 0.973);">Useful Links</h4>
                    <ul  >
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                 href="https://igkv.ac.in/demo/#/about/Policy">Policy</a>
                        </li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/about-overview"
                                href="https://igkv.ac.in/demo/#/about/about-overview">About us</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/college-home"
                                href="https://igkv.ac.in/demo/#/about/college-home">Colleges </a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/sitemap" href="https://igkv.ac.in/demo/#/about/sitemap">Site
                                Map</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a   target="_blank"
                                href="https://igkv.ac.in/blockchain/blockHome.aspx">Shrinkhala</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a   target="_blank"
                                href="https://igkv.ac.in/cropdoctorweb/crophomepage.aspx">Crop Doctor</a></li>
                    </ul>
                </div>
                <div   class="col-lg-2 col-md-6 footer-links">
                    <h4   style="color: rgba(252, 169, 15, 0.973);">Programs</h4>
                    <ul   class="mt-3">
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/program/1"
                                href="https://igkv.ac.in/demo/#/about/program/1">Undergraduate</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/program/2"
                                href="https://igkv.ac.in/demo/#/about/program/2">Postgraduate</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/about/program/3"
                                href="https://igkv.ac.in/demo/#/about/program/3">Doctoral</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                routerlink="/research/international-overview"
                                href="https://igkv.ac.in/demo/#/research/international-overview">International</a>
                        </li>
                    </ul>
                </div>
                <div   class="col-lg-2 col-md-6 footer-links">
                    <h4   style="color: rgba(252, 169, 15, 0.973);">Important Links</h4>
                    <ul   class="mt-3">
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://naturalfarming.niti.gov.in/" target="_blank">Natural Farming</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://icar.org.in/" target="_blank">ICAR</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://igkv.ac.in/demo/#/about/other-news/53">Rules Ragulation</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://igkv.ac.in/CropBreed/rice_search.aspx" target="_blank">Plant
                                Selection</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://nad.gov.in/" target="_blank">National Academic Depository</a></li>
                    </ul>
                </div>
                <div   class="col-lg-2 col-md-6 footer-links">
                    <h4   style="color: rgba(252, 169, 15, 0.973);">Our Social Networks
                    </h4>
                    <p  >Connecting our campus to the world, Follow us on social media!
                    </p>
                    <div   class="social-links mt-3"><a  
                            target="_blank" href="https://twitter.com/igkv_kisan" class="twitter"><i
                                  class="fa-brands fa-x-twitter"></i></a><a
                              target="_blank" href="https://www.facebook.com/igkvkisan"
                            class="facebook"><i  
                                class="fa-brands fa-facebook"></i></a><a  
                            target="_blank" href="https://www.instagram.com/igkv_kisan/" class="instagram"><i
                                  class="fa-brands fa-instagram"></i></a><a
                              target="_blank"
                            href="https://www.youtube.com/@igkv1392/featured" class="youtube"><i
                                  class="fa-brands fa-youtube"></i></a></div>
                </div>
                <div   class="col-lg-2 col-md-6 footer-links">
                    <h4   style="color: rgba(252, 169, 15, 0.973);">Others</h4>
                    <ul   class="mt-3">
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://igkv.ac.in//web/LMS_estudentlogin.aspx" target="_blank">LMS
                                Student</a></li>
                        <li  ><i  
                                class="bx bx-chevron-right"></i><a  
                                href="https://igkv.ac.in//web/LMS_eemployeeloginNew.aspx" target="_blank">LMS
                                Employee</a></li>
                        <li  ><a  
                                href="https://igkv.ac.in//web/Privacy.aspx" target="_blank"> Website Policy</a></li>
                        <li  ><a  
                                href="https://igkv.ac.in/demo/#/about/other-news/34"> Anti-Ragging</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div   class="container py-4">
        <div   class="copyright"><strong  ><span
                     ></span></strong>Designed, Developed &amp; Hosted By: National
            Informatics Centre Chhattisgarh State Centre, Raipur © 2025 The contents are owned by IGKV, Raipur
        </div>
        <div   class="credits"><img   height="60px"
                width="130px" alt="" style="margin-top: -20px;"
                src="./IGKV - Indira Gandhi Krishi Vishwavidyalaya_files/NIC-LOGO-IDENTITY-VARIANTS_blue-01 (1).png">
        </div>
    </div>
</footer>
 -->

