
<div class="container mt-5" style="border-top: 4px solid rgb(26, 71, 131); ">
    <h1 style="font-weight: 600; color: grey;" >IGKV Website Policies</h1>

    <section class="policy">
        <h3 >Hyperlinking Policy</h3>
        <p>
            Links to external websites/portals: We do not object to you linking directly to the information that is hosted on our site, and no prior permission is required for the same. However, we would like you to inform us about any links provided to our site so that you can be informed of any changes or updates therein. Also, we do not permit our pages to be loaded into frames on your site. Our website’s pages must load into a newly opened browser window of the user.
        </p>
    </section>

    <section class="policy">
        <h3>Copyright Policy</h3>
        <p>
            Material featured on this Portal may be reproduced free of charge after taking proper permission by sending a mail to us. However, the material has to be reproduced accurately and not used in a derogatory manner or in a misleading context. Wherever the material is being published or issued to others, the source must be prominently acknowledged. However, the permission to reproduce this material shall not extend to any material identified as being the copyright of a third party. Authorization to reproduce such material must be obtained from the departments/copyright holders concerned.
        </p>
        <p>
            These terms and conditions shall be governed by and construed in accordance with Indian Laws. Any dispute arising under these terms and conditions shall be subject to the exclusive jurisdiction of the courts of India.
        </p>
    </section>

    <section class="policy">
        <h3>Privacy Policy</h3>
        <p>
            The IGKV website does not automatically capture any specific personal information from you (like name, phone number, or e-mail address) that allows us to identify you individually.
        </p>
        <p>
            If the IGKV website requests you to provide personal information, you will be informed of the particular purposes for which the information is gathered, and adequate security measures will be taken to protect your personal information.
        </p>
        <p>
            We do not sell or share any personally identifiable information volunteered on the IGKV website to any third party (public/private). Any information provided to this Website will be protected from loss, misuse, unauthorized access or disclosure, alteration, or destruction.
        </p>
        <p>
            We gather certain information about the User, such as Internet protocol (IP) addresses, domain name, browser type, operating system, the date and time of the visit, and the pages visited. We make no attempt to link these addresses with the identity of individuals visiting our site unless an attempt to damage the site has been detected.
        </p>
    </section>
</div>

