

.navbar {
    background-color: transparent; /* Set background color to transparent */
    justify-content: center; /* Center align menu items */
    padding: 0;
    position: sticky !important;
    top: 0 !important;
  /*   z-index: 1000 !important; */

}

.responsive-img {
    max-width: 100%;
    height: auto;
    width: auto;
    display: block;
    margin: 0 auto;
  }


.navbar .nav-item .fa-house {
    // color:#07294d;
    color:#fafafa;
}

    .navbar .navbar-nav {
        justify-content: flex-start; /* Start from the left */
    }

    .navbar .nav-item {
        position: relative;
        margin-left: 10px;
        margin-right: 10px;
    }

.nav-link {
    color: #fff;
    font-size: calc(0.9rem * var(--font-scale));
    font-weight: 500;
}

.navbar .nav-item a.nav-link {
    color: #fafafa; 
    position: relative;
}

    .navbar .nav-item a.nav-link:hover {
        color: #E4B316;
        fill: #E4B316;
        position: relative;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

.navbar .nav-item a.dropdown-toggle :hover {
    color: #E4B316;
    fill: #E4B316;
    position: relative;
}


.navbar .nav-item:hover .nav-link:after {
    /*content: "";
        display: block;
        height: 1px;
		background: orange;
        position: absolute;*/
   
    bottom: 0;
    left: 0;
    color: #E4B316;
    fill: #E4B316;
    right: 0;
}

li .topnav{
    padding-left: 15px;
    padding-right: 15px;
}



#mainMenu a.nav-link {
    font-size: larger;
}

.topnav {
    color: white !important;
 
}

    .topnav:hover {
        color: #ffc600 !important;
    }

/* Add custom styling for the mega menu */

 #topbarmenu .navbar-nav .dropdown-menu .dropdown-toggle {
    background:#fff
}


.mega-menu .navbar-nav {
    display: flex;
}

    .mega-menu .navbar-nav .nav-item {
        position: relative;
    }

    .mega-menu .navbar-nav .nav-link {
        color: #fff; /* Text color for menu items */
    }

.mega-menu .dropdown-menu {
    background: #fff; /* Background color for dropdown menus */
    width: 100%; /* Make the dropdown menu full-width */
    left: 0; /* Align the dropdown to the left */
}

    .mega-menu .dropdown-menu a {
        color: #000;
    }

.mega-menu-container { 
    border-top: 3px solid orange;
    // background-image: url(assets/images/mega-menu-bg.jpg);
    // background-image: var(--background-image);
    /*border-bottom:3px solid orange;*/
    background-color: #ffffff;
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 1) !important;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.mega-menu-container1 {
    margin-top: 0.2em;
    /*border-bottom:3px solid orange;*/
    // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100%;
    height: 100%;
    background: #fff;
    border:1px solid lightgray;
}

.mega-menu-container2 {
    margin-top: 0.2em;
    width: 370px;
    height: 100%;
    background: #ffffff;
    border:1px solid lightgray;
    margin-right: 20px;
}

.dropdown-menu {
    border:none !important;
}

/* nav end  */

.dropdown-menu #menu{
    font-weight: bold;
    // font-size: 1em;
    font-size: calc(1em * var(--font-scale));
}

/* code for drop-down-option menu */

 .navbar .drop_down_option .link_list {
    padding:1% 0;
    justify-content: space-evenly;
   
}


 .navbar .drop_down_option .link_list h3 {
    color: #07294d;
    font-weight: 600;
    margin-bottom: 0;

}

 .navbar .drop_down_option .link_list h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    // font-size: calc(14px * var(--font-scale));
    font-size: calc(14px * var(--font-scale));
    font-weight: 600;
    color: #555353;
    margin: 0;

}
 .navbar .drop_down_option .link_list h1  a{
    color: #000;
    transition: 0.1s all ease-in-out;
}

 .navbar .drop_down_option .link_list h1  a:hover{
color:#115d8a;

}

 .navbar .drop_down_option .link_list span {
   padding: 0.18em 0;
   display:inline-block;
   transition: all 0.3s ease;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif; 
//    font-size: calc(14px * var(--font-scale));
   font-size: calc(14px * var(--font-scale));
   font-weight: 600;
   color: #555353;

}

 .navbar .drop_down_option .link_list ul{
    padding-left: 8px;
    padding-right: 8px;

}

 .navbar .drop_down_option .link_list span:hover {
    color:#115d8a;
    font-weight: 600;
}





.dropdown-toggle::after {
    margin-left: 0;
    vertical-align: 0.2em;
}


.topbar-menu-1 ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.topbar-menu-1 ul li
{
    float: left;
    // padding-left: 2px;
    // padding-right: 2px;
}

.hand-icon::before {
    content: '\261A'; /* Unicode character for hand pointing right */
    // font-size: calc(24px * var(--font-scale));
    font-size: calc(24px * var(--font-scale));
  }



  .navbar-brand {
    margin-right: 15px; /* Adjust the margin as needed */
  }

  .navbar-toggler {
    order: -1; /* Move the toggle button to the beginning on small screens */
  }

  .navbar-collapse {
    justify-content: flex-end; /* Align the menu to the right */
    position: absolute;
    top: 100%;
    left: 0;
    // z-index: 1000; /* Ensure the collapsed navbar appears above other content */
    width: 100%;
    // background-color: white;
    // background-color: rgba(255, 255, 255, 0);

  }

  .menu{
    // font-size: calc(16px * var(--font-scale));
    font-size: calc(16px * var(--font-scale));
    font-weight: 500;
  }

  .Aa{
    background-color: #d68e07;
    margin-right: 0.4em;
  }

  .Hi{
    background-color: #0dccac;
  }

  .Aa,.Hi{
    margin-top: 0.3em;
    padding: 0.3em;
    border: none;
    border-radius: 20px;
    padding-right: -2px;
  }


  @keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes colorChange {
    0% { color: #ffffff; }  
    50% { color: #ffff00; }
    100% { color: #ffffff; } 
}

.ranking {
    animation: blink 1s infinite, colorChange 3s infinite;
    // color: #ffff00;
}

#mainMenu{
    background: #c5757500;
}


.bgMainMenu{
    background-color: #ffffff; /* New background color on scroll */
    color: #07294d;
    transition: background-color 0.9s;
}

.bgMainMenu2{
    background-color: #ffffff; /* New background color on scroll */
    transition: background-color 0.9s;
    .nav-link{
        color: #07294d !important;
        // font-size: 0.9rem;
        font-size: calc(0.9rem * var(--font-scale));
        font-weight: 600;
    }
    .navbar-nav .nav-item .nav-link .fa-house {
        color:#07294d;
       
    }

  }


  ul,ol {
	margin: 0px;
	padding: 0px;
    list-style-type: none;
} 

  .search {
    color: #07294d;
    transition: color 0.3s ease;
  }

  .search.scrolled {
    color: #fff; 
  }

  .fa-magnifying-glass{
    // font-size: calc(18px * var(--font-scale));
    font-size: calc(18px * var(--font-scale));
  }

.scrolled-navbar {
    background-color: transparent; /* New background color on scroll */
    color: #fff;
    transition: background-color 0.9s;
  }


  .scrolled-navbar2{
    background-color: transparent; /* New background color on scroll */
    transition: background-color 0.9s;
    .nav-link{
        color: #fff !important;
        // font-size: 0.9rem;
        font-size: calc(0.9rem * var(--font-scale));
        font-weight: 600;
    }
    .navbar-nav .nav-item .nav-link .fa-house {
        color:#fff;
    }

  }

  /* css for small screen menu */

  

  .smMainMenu .nav-item a  {
    color: #000 !important;
  }

  .smMainMenu .container-fluid{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  }

  .smMainMenu .dropdown-menu ul {
    overflow-y: scroll;
   }
 

   .serch{
    position: absolute !important;
    left: 90%;
}
 


.sticky-top{
    z-index: 5;
}


/* small menu screen */



    /* media query for smaller screen */

  @media (max-width: 768px) {
    .responsive-img {
      max-width: 80%;
    }
    // .nav-link {
    //     font-size: calc(13px* var(--font-scale));
    //     font-weight: 500 !important; 
    //   }

      .nav-link .dropdown-menu li a {
        // font-size: 1.5em;
        font-size: calc(1.5em * var(--font-scale));
      }

      li .topnav {
         padding-left: 0;
        padding-right: 0.5em;
    }
    .topbar-menu-1 .container{
        padding: 0.1em !important;
    }
  }
  
  @media (max-width: 480px) {
    .responsive-img {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .container-fluid{
        justify-content: space-between !important;
      }
    
  }
   
 


@media screen and (max-width: 500px) {
    .logo-image img{
        height: 2em;
        }
}

/* media query for smaller screen */
@media screen and (max-width: 1075px) {
    .bgMainMenu{
        display: none !important;
    }
/* css for top nav mobile screen */
#subMenu2{
    display: flex;
    background-color: #0b4464;
    padding: 0.3em;
    justify-content: left;
}

#subMenu2 li a{
color: #fff !important;
}

#subMenu2 li {
    padding-right: 1em;
}
#subMenu2 .dropdown-menu li a{
    color: #000 !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#subMenu2 .dropdown-menu li{
    padding: 0 !important;  
}

}

@media screen and (max-width: 992px) {
    #subMenu ul{
        height: 50vh;
        overflow-y: scroll;
    }
}

@media screen and (min-width: 1075px) {
   
    #subMenu, #subMenu2{
        display: none;
    }
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        background-color: transparent;
        padding-top:0%;
    }
    // .navbar .dropdown:hover .dropdown-menu {
    //     display: block;
    //     background-color: transparent;
    //     padding-top:0%;
    //     width: 100px;
    // }

    .navbar .dropdown:hover .dropdown-menu {
        display: block;
        background-color: transparent;
        padding-top:0%;
    }

    .hover-disabled .dropdown-menu {
        display: none !important;
      }
      
      .size{
        width: 40px;
      }
  
}

.A-btn{
    width: 65px;
    font-size: 10px;
    font-weight: 500;
    height: 40px;
    margin-left: 5px;
    margin-top: 3px;

}


.ico{
    color: white;
    font-size: 20px;
}







