/* banner heading */

.know-the-vc{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .know-the-vc .contents .details{
    text-align: left;
  }

  .know-the-vc .contents .details .name{
    font-size: calc(18px * var(--font-scale));
    line-height: 22px;
    font-weight: 600;
    text-align: center;
}

  .know-the-vc .contents .details .work-duration{
    display: block;
    color: #5f5f5f;
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: calc(14px * var(--font-scale));
    text-align:center;
 }

 .know-the-vc .contents .details .description {
  line-height: 140%;
  text-align: justify;
  font-size: calc(14px * var(--font-scale));
 }

  .know-the-vc .heading{
    font-size:30px;
    font-weight: 700;
    margin-top: 1em;
  }

  .know-the-vc .contents .main-img{
    text-align: center;
    box-shadow:gray 0 0px 35px -14px;
    border: 10px solid white;
    border-radius: 5px;
    height: 200px;
    width: auto;
  }

  .know-the-vc .contents{
    text-align: center;
    box-shadow: gray 0 0px 40px -20px;
    margin: 1em;
    padding: 1em;
  }

  .know-the-vc .card-content {
    text-align: center;
    margin: 2em;
    margin-top: 1em;
  }

  .know-the-vc .card-details .card-content h4{
    text-align: center;
    font-weight: 600;
    color: white;
    margin-top: 1em;
    font-size: calc(25px * var(--font-scale));
  }

  .know-the-vc .card-details .card-content .card-img {
    height: 250px;
    width: 200px;
  }
  
  .know-the-vc .card-details .card-content  .about{
    text-align: justify;
    font-weight: 300;
    color: white;
    margin-top: 1em;
    font-size: calc(15px * var(--font-scale));
  }

  .know-the-vc .card-details{
    background-color: #07294d;
    padding: 1em;
    margin-top: 2em;
  }

  .read-more{
    background-color: yellow;
    color: #07294d;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.5em;
  }

@media(max-width:1200px){
    .know-the-vc .contents p{
        padding-left: 0;
        padding-right: 0;
        margin-top: 0.5em;
    }
}


// ==== banner ====
/* banner heading */

#page-banner {
  padding-top: 105px;
  padding-bottom: 110px;
  background-size: cover;
  background-position: center;
  position: relative;
}

#page-banner:before {
  content: "";
  background: #07294dd0; /* Adjust the alpha value to control overlay transparency */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-banner-cont {
  color: #fff;
  position: relative;
  z-index: 1; 
  font-weight:700 ;
}

.header{
 font-size: calc(50px * var(--font-scale));
 font-weight: 700;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
}

.breadcrumb-item a {
  color: #fff; /* Set breadcrumb text color to white */
}

.breadcrumb-item + .breadcrumb-item::before{
  color: white;
}

.breadcrumb-item.active {
  color: #ffc107; /* Set active breadcrumb text color to yellow */
}

@media (max-width: 768px) {
  .card-details{
    display: none;
  }
  .header {
     font-size: calc(31px * var(--font-scale));
   }
   .breadcrumb-item{
     font-size: calc(14px * var(--font-scale));
   }
   .heading{
    display: none;
   }
 }