// .kvkActivity {
//   padding-bottom: 2em;
// }

.kvkActivity .kvkActivity-member {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
    width: 100%;

  }
  
  .kvkActivity .kvkActivity-member .member-img {
    position: relative;
    overflow: hidden;
    height: 12em;
  }
  

  
  .kvkActivity .kvkActivity-member .social {
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
  }
  

  .kvkActivity .kvkActivity-member .member-info {
    padding: 0.5em;
    height: 5em;
  }
  
  .kvkActivity .kvkActivity-member .member-info h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 22px;
    color: #0000;
    font-weight: 600;
    font-size: calc(14px * var(--font-scale));
  }
  
  .kvkActivity .kvkActivity-member .member-info span {
    display: block;
    font-size: calc(14px * var(--font-scale));
    font-weight: 400;
    color: rgba(33, 37, 41, 0.75)
  }
  
  .kvkActivity .kvkActivity-member .member-info p {
    font-style: italic;
    font-size: calc(14px * var(--font-scale));
    padding-top: 15px;
    line-height: 26px;
    color: rgba(33, 37, 41, 0.7);
  }
  
  .kvkActivity .kvkActivity-member:hover {
    transform: scale(1.08);
    box-shadow: 0px 0 30px rgba(55, 55, 63, 0.15);;
  }

  .kvkActivity .kvkActivity-member:hover .social {
    right: 8px;
    opacity: 1;
  }

  .more{
    font-weight: 500;
    color: #009970 !important;
    text-align: center;
    margin: 0.5em;
  }
.color-green{
  color: #009970;
}