

.single-events .news-thum {
    box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 0px 5px 0px rgba(0,0,0,0.5);
}

.single-events .news-thum img{
    border-radius: 5px;
    height: 100%;
    transition: 0.3s all ease-out;
}

.single-events .news-thum img:hover
{
    transform: scale(1.3);
}

.single-events .news-thum{
	height: 5em;
	overflow: hidden;
    align-items: center;
    display: flex;
}



.news-list{
	margin-bottom: 1em;
}

.header-text{
    text-decoration: none;
}

.single-events .images{
    padding: 0;
}


.single-events .news-cont-sub P{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 20px;
    font-weight: normal;
}


.single-events .news-cont-sub h4{

    color: #000;
    font-family: "Arial Rounded MT";
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 23px;
}


.single-events .news-cont-sub h4{
	font-weight: 500;
	// font-size: calc(14px * var(--font-scale));
    font-size: calc(14px * var(--font-scale)) ;

}


.box-shadow1{
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.box-shadow2{
    box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 1px 0px 3px 0px rgba(0,0,0,0.5);
}



/* new code  */
.carousel-item{
    height: 30em !important;; /* Set the height of the container */
    overflow: hidden; /* Hide the overflow content */
    align-items: center; /* Center the image vertically */
}



.carousel-item .carousel-caption {
    color: #000;
    padding: 0;
    margin: 0;
    z-index: 1;
}



.carousel-item .carousel-caption h4{
    font-weight: bold;
    background-color: rgba(240, 255, 255, 0.7); /* Set background color to azure with 70% transparency */
  padding: 0.3em;
  border-radius: 0.5em;
  margin-bottom: 0;
}


.carousel-indicators{
    margin-bottom: 0;
}

.slider-container img{
height: 30em !important;
}

@media screen and (max-width: 1075px) {
    .sm-screen{
        display: none !important;
    }

    .slider-container img{
        height: 100% !important;
        }
    .carousel-item{
        height: unset !important;
    }
    .carousel-item .carousel-caption h4{
        // font-size: calc(10px * var(--font-scale));
        font-size: calc(10px * var(--font-scale)) ;
        line-height: normal;
        padding: 2px;
    }
   
}

