
/*--------------------------------------------------------------
# events Posts List
--------------------------------------------------------------*/
.events .posts-list .post-item {
    // box-shadow: 0 4px 40px -12px #5F8D4E;
    box-shadow: 0 4px 40px -12px gray;
    transition: 0.3s;
    padding: 1em;
  }
  
  .events .posts-list .post-img{
    height: 15em;
  }
  
  .events .posts-list .post-img img {
    transition: 0.5s;
    height: 100%;
   
  }
  
  .events .posts-list .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d96846;
    color: white;
    text-transform: uppercase;
    font-size: calc(13px * var(--font-scale));
    padding: 6px 12px;
    font-weight: 500;
    z-index: 5;
  }
  
  .events .posts-list .post-content {
    padding-top: 0.5em;
    height: 5em;
  }
  
  .events .posts-list .post-content h4{
    font-size: calc(14px * var(--font-scale));
    font-weight: 600;
  }
  
  .events .posts-list .post-title {
    font-size: calc(24px * var(--font-scale));
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .events .posts-list .meta i {
    font-size: calc(16px * var(--font-scale));
    color: var(--color-primary);
  }
  
  .events .posts-list .meta span {
    font-size: calc(15px * var(--font-scale));
    color: #838893;
  }
  
  .events .posts-list p {
    margin-top: 20px;
  }
  
  .events .posts-list hr {
    color: #888;
    margin-bottom: 20px;
  }
  
  .events .posts-list .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #d96846;
    text-align: center;
  }
  
  .events .posts-list .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: calc(16px * var(--font-scale));
    text-align: center;
  }
  
  .events .posts-list .post-item:hover .post-title,
  .events .posts-list .post-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .events .posts-list .post-item:hover .post-img img {
    transform: scale(1.1);
  }
  
  
  