<app-banner [banner_heading]="'Examination Instruction'" [banner_img]="bannerImg"></app-banner>

<section class="gray-bg pt-3 pb-3  examination-instructions-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col mb-3 mt-3"
                style="border: solid 1px; border-color: rgb(202, 200, 200); background-color: rgb(255, 255, 255);">
                <div class="examination-instructions mt-3">
                    <h2 class="mt-3">Examination Instructions</h2>
                    <div class="instruction-list">
                        <h3>INSTRUCTIONS FOR CANDIDATE</h3>
                        <ul class="instruction-list">
                            <li><i class="fas fa-id-card"></i> The student shall present the Admit Card for entry to the
                                Examination Hall. Student failing to present the Admit Card shall not be allowed entry.
                            </li>&nbsp;
                            <li><i class="fas fa-chair"></i> The student shall take the allotted seat 30 minutes before
                                commencement of the Examination. The student shall display the Admit Card on the
                                right-hand side of the desk.</li>&nbsp;
                            <li><i class="fas fa-clock"></i> No student shall be allowed to enter the Examination Hall
                                after 30 minutes from the commencement of the examination.</li>&nbsp;
                            <li><i class="fas fa-hourglass-start"></i> No student shall be allowed to leave the
                                Examination Hall during the first hour of the examination.</li>&nbsp;
                            <li><i class="fas fa-ban"></i> No communication of any kind shall be allowed during the
                                examination.</li>&nbsp;
                            <li><i class="fas fa-volume-mute"></i> Communication with the invigilator shall only be
                                permitted.</li>&nbsp;
                            <li><i class="fas fa-mobile-alt"></i> Cellular phone, iPod, MP3 player, pager, or any other
                                device with text display or digital imaging facility and Programmable Calculators shall
                                not be allowed.</li>&nbsp;
                            <li><i class="fas fa-pen-alt"></i> Borrowing or lending of examination material (including
                                calculators, pens, pencils, etc.) is prohibited.</li>&nbsp;
                            <li><i class="fas fa-file-alt"></i> The student must hand over the answer sheet(s) to the
                                invigilator before leaving the Examination Hall.</li>&nbsp;
                            <li><i class="fas fa-gavel"></i> Cases of unfair means shall be dealt with as per the
                                provisions of University Ordinances.</li>&nbsp;
                            <li><i class="fas fa-exclamation-triangle"></i> Mistake in the OMR sheet shall be the sole
                                responsibility of the student and may lead to withholding/cancellation of the result.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
