.sections{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 230px;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 6px solid green;
    h2{
        text-align: center;
        font-weight: 600;
        color: rgb(22, 62, 107);
        padding-top: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    p{
        text-align: center;
        font-size: calc(16px * var(--font-scale));
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 6px;
        color: rgb(126, 126, 126);
        
    }
    ul {
        list-style: none
    }
    span{
        padding-left: 5px;
    }
    li{
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
}

.sections-map{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    h2{
        text-align: center;
        font-weight: 600;
        color: rgb(22, 62, 107);
        padding-top: 4px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
}