
<section  class="container-fluid pt-3 pb-3 gray-bg" >
    <div class="container">
        <h2 class="section-title1">{{banner_heading}}</h2>
      <app-pagination
     [currentPages]="currentPages"
     [totalrecords]="totalrecords"
     (rowsPerPageChanged)="onRowsPerPageChanged($event)"
       (pageChanged)="onPageChanged($event)"
       (searchCriteria)="onSearchCriteriaReceived($event)">
       <section *ngIf="top_news?.length !== 0; else elseblock " >
        <mat-card *ngFor="let data of top_news;let i=index" class="notification text-dark mt-3">
          <div class="header" *ngIf="top_news">
            <span class="date"><i class="fa-solid fa-calendar-days" style="margin-right: 5px;color: #07294d;"></i>{{
              data.News_Date }}</span>
              <span class="title">{{ data.Main_Title }}</span>
          </div>
          <div class="content">
            <div class="sub-notifications">
              <ul *ngIf="data.attachment && data.attachment[0]">
                <li *ngFor="let data1 of data.attachment[0]; let i = index" class="sub-notification">
                  <a href="{{data1.File_Path}}" target="_blank">
                    <h5><i class="fa-solid fa-lg fa-file-pdf" style="color:red;"></i> {{ data1.Sub_Title}}</h5>
                  </a>
                </li>
              </ul>
            </div>
            <!-- <span *ngIf="data.PresentPrevious=='Y'" class="Readmore" (click)="toggleReadMore(i)">Read More</span> -->
            <!-- <div *ngIf="isReadMoreOpen[i]">
              <ul>
                <li *ngFor="let data2 of data.attachment">
                  <a href="{{data2.File_Path}}" target="_blank">
                    <h5 style="font-size: calc(13px* var(--font-scale));"><i class="fa-solid fa-lg fa-file-pdf" style="color:red;"></i> {{ data2.Sub_Title}}</h5>
                  </a>
                </li>
              </ul>
            </div> -->
          </div>
      </mat-card>
       </section>
      <ng-template #elseblock>
        <app-no-data  ></app-no-data>
      </ng-template>
     
      </app-pagination>
    </div>
</section>
