<app-banner [banner_heading]="'Frequently Asked Questions'" [banner_img]="bannerImg">
</app-banner>

<div class="container-fluid mt-5 mb-5">
  <div class="container">
    <div class="section-title">
      <h2>FAQs</h2>
    </div>
    <mat-accordion>
      <div class="expansion-panel">
        <!-- Question 6 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                Q. What undergraduate programs are offered at the igkv ?
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Our university offers a wide range of undergraduate programs including Bachelor of Science
            (B.Sc.) in Agriculture, Horticulture and B.Tech. in Agricultural Engineering.</p>
        </mat-expansion-panel>
      </div>


      <div class="expansion-panel">
        <!-- Question 7 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                Q. How can I apply for admission to the agricultural university?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>You have to give entrance exam named as PAT(Pre-Agriculture Test) for bachelor courses, based on the score
            obtained in PAT(Pre-Agriculture Test) your college will be alloted accordingly. For more details , please visit official website <a target="_blank" href="https://igkv.ac.in/web/igkv.aspx">click here</a> . </p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 8 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span>
                Q. Are there any scholarships available for students?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Yes, Students are requested to fill scolarship application form from state scholarship portal.</p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 9 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
               Q. What is the duration of the undergraduate programs?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>The duration of undergraduate programs varies depending on the specific degree. Typically, Bachelor's programs in agriculture and related fields span four years, while some specialized programs may have a different duration.</p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 10 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
                Q. What research opportunities are available for students?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Our university provides various research opportunities for students to engage in hands-on research
            projects, internships, and collaborations with faculty members. Students can explore topics ranging from
            crop science to sustainable agriculture. </p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 11 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
                Q. What facilities are available on campus?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Our campus is equipped with state-of-the-art laboratories, research centers, libraries, computer
            facilities, sports complexes, hostels, and dining halls. We also have farm facilities for practical training
            and research purposes.</p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 12 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
                Q. Can I visit the campus before applying?</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Yes, we encourage prospective students to schedule a campus tour to explore our facilities, interact with
            faculty members, and get a feel for campus life. You can contact our admissions office to arrange a visit.
          </p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 12 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
                Q. Are there opportunities for international students to study at the agricultural university?
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Yes, we welcome applications from international students. Our university offers various programs and support services tailored to the needs of international students, including language support, cultural integration programs, and international student hostels. </p>
        </mat-expansion-panel>
      </div>

      <div class="expansion-panel">
        <!-- Question 12 -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title><span>
                Q. What types of research are conducted at the university?
              </span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p>Our university conducts research in various areas of agriculture, including crop science, soil science, plant breeding, agricultural engineering, sustainable agriculture, agribusiness, animal science, and environmental science. Research projects range from fundamental scientific investigations to applied research aimed at addressing real-world challenges facing the agricultural sector. </p>
        </mat-expansion-panel>
      </div>


    </mat-accordion>
  </div>
</div>