<app-banner [banner_heading]="'Study Abroad'" [banner_img]="bannerImg"></app-banner>

<section class="gray-bg pt-3 pb-3 overview-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3 ">
                <div class="subhead  mt-3">
                    <h3 class="text-center">International Admissions</h3>
                </div>
                <div class="routes "
                    style="border: solid 1px; border-color: rgb(202, 200, 200);  background-color: rgb(255, 255, 255);">
                    <app-int-routes></app-int-routes>
                </div>
            </div>
            <div class="col mb-3 mt-3"
                style="border: solid 1px; border-color: rgb(202, 200, 200); background-color: rgb(255, 255, 255);">
                <div class="overview mt-3">
                    <h2 class="mt-3">Overview</h2>
                    <div class="overview-content">
                        <p>With IGKV University, you can design your very own study abroad program. A big part of
                            studying abroad is immersing yourself in new experiences. We're all about providing
                            outstanding academic and student support services to allow you to do just that. We take care
                            of the details, so you can soak up every moment of your global experience. At-a-glance, we
                            offer:</p>
                        <h3>FOR IGKV UNIVERSITY STUDENTS</h3>
                        <ul>
                            <li><i class="fas fa-check"></i> Go for a semester in a partner university abroad in top
                                destinations</li>&nbsp;
                            <li><i class="fas fa-check"></i> Transfer your credits and graduate with a degree from a
                                reputed partner university abroad</li>&nbsp;
                            <li><i class="fas fa-check"></i> Travel abroad to top-ranked universities for a 3-week or
                                4-week educational trip</li>&nbsp;
                        </ul>
                        <h3>FOR PARTNER UNIVERSITY STUDENTS</h3>
                        <ul>
                            <li><i class="fas fa-check"></i> A Semester experience in IGKV University</li>&nbsp;
                            <li><i class="fas fa-check"></i> Transfer your credits to IGKV University and graduate with
                                a IGKV</li>&nbsp;
                            <li><i class="fas fa-check"></i> Spend 40 days in the summer in an internship in IGKV
                                University</li>&nbsp;
                            <li><i class="fas fa-check"></i> Experience our Cultural Heritage Programme, our short-term
                                courses, and Nano course workshops, or our summer programs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
