

<section id="kvkActivity" class="kvkActivity section-bg pb-3 pt-3 gray-bg" >
    <div class="container" data-aos="fade-up">
            <h2 class="section-title1">Activities</h2>
            <app-pagination 
           [currentPages]="currentPages"
           [totalrecords]="totalrecords"
           (rowsPerPageChanged)="onRowsPerPageChanged($event)"
             (pageChanged)="onPageChanged($event)"
             (searchCriteria)="onSearchCriteriaReceived($event)">
      <div class="row gy-4 mt-3 mb-3 demo" *ngIf="activity_details?.length !== 0 ; else elseblock">
        <ng-container *ngFor="let data of activity_details" >
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="kvkActivity-member">
            <div class="member-img banner1 image1"  [style.background-image]="'url(' + data.Column1 + ')'" *ngIf="data.Column1">
              <a [routerLink]="['/research/kvk-home/kvk', kvk_id, 'cont', 'activities-details', data.Website_Content_ID]" [attr.aria-label]="'View activity details: ' + data.Content_Title">
                <img [src]="data.Column1" class="img-fluid" [alt]="" aria-hidden="true">
                </a>
            <div class="content1">
        
            </div>
            </div>
            <div class="member-info">
              <h4>{{data.Content_Title}}</h4>
            </div>
          </div>
        </div>
      </ng-container>
      </div>
      <ng-template #elseblock>
        <app-no-data></app-no-data>
     </ng-template>
            </app-pagination>
     
    </div>
  </section>
  