
.portfolio .card-block {
    margin: 1em 0em 1em 1em !important;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  
  
  }
  
  .portfolio {
    padding-bottom: 0;
  }
  
  .portfolio h2 {
    color: #199EB8;
    margin-bottom: 25px;
  }
  
  .portfolio-grid {
    margin-top: 65px;
    cursor: pointer;
  }
  
  /*--------------------------------------------------------------
  # Blog
  --------------------------------------------------------------*/
  .blog .blog-pagination {
    margin-top: 30px;
    color: #838893;
  }
  
  .blog .blog-pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .blog .blog-pagination li {
    margin: 0 5px;
    transition: 0.3s;
  }
  
  .blog .blog-pagination li a {
    color: var(--color-secondary);
    padding: 7px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .blog .blog-pagination li.active,
  .blog .blog-pagination li:hover {
    background: var(--color-primary);
    color: #fff;
  }
  
  .blog .blog-pagination li.active a,
  .blog .blog-pagination li:hover a {
    color: var(--color-white);
  }
  
  /*--------------------------------------------------------------
  # Blog Posts List
  --------------------------------------------------------------*/
  .blog .posts-list .post-item {
    // box-shadow: 0 4px 40px -12px #5F8D4E;
    box-shadow: 0 4px 40px -12px gray;
    transition: 0.3s;
    padding: 1em;
  }
  .blog .posts-list .post-img{
    height: 15em;
    justify-content: center;
    display: flex;
  }
  
  .blog .posts-list .post-img img {
    transition: 0.5s;
    height: 100%;
  }
  
  .blog .posts-list .post-date {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #d96846;
    color: white;
    text-transform: uppercase;
    font-size: calc(13px * var(--font-scale));
    padding: 6px 12px;
    font-weight: 500;
    z-index: 5;
  }
  
  .blog .posts-list .post-content {
    padding-top: 1em;
    height: 5em;
  }
  
  .blog .posts-list .post-content h4{
    color: #000;
    font-size: calc(14px * var(--font-scale));
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 24px;
  }
  
  .blog .posts-list .post-title {
    font-size: calc(24px * var(--font-scale));
    color: var(--color-secondary);
    font-weight: 700;
    transition: 0.3s;
    margin-bottom: 15px;
  }
  
  .blog .posts-list .meta i {
    font-size: calc(16px * var(--font-scale));
    color: var(--color-primary);
  }
  
  .blog .posts-list .meta span {
    font-size: calc(15px * var(--font-scale));
    color: #838893;
  }
  
  .blog .posts-list p {
    margin-top: 20px;
  }
  
  .blog .posts-list hr {
    color: #888;
    margin-bottom: 20px;
  }
  
  .blog .posts-list .readmore {
    display: flex;
    align-items: center;
    font-weight: 600;
    line-height: 1;
    transition: 0.3s;
    color: #d96846;
    text-align: center;
  }
  
  .blog .posts-list .readmore i {
    line-height: 0;
    margin-left: 6px;
    font-size: calc(16px * var(--font-scale));
    text-align: center;
  }
  
  .blog .posts-list .post-item:hover .post-title,
  .blog .posts-list .post-item:hover .readmore {
    color: var(--color-primary);
  }
  
  .blog .posts-list .post-item:hover .post-img img {
    transform: scale(1.1);
  }
  
  
  .color-green{
    color: #d96846;
  
  }
  
  .portfolio-grid .row {
    margin: 0;
  }
  
  .portfolio-grid .row>div {
    padding: 0;
  }
  
  .portfolio-grid .row>div .card img {
    width: 100%;
  }
  
  .portfolio-grid .row>div .card .portfolio-over {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }
  
  .portfolio-grid .row>div .card .portfolio-over>div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .portfolio-grid .card-title {
    
    display: flex;
    justify-content: center;
    margin-top: -5%;
    color: #fff;
    font-size: calc(30px * var(--font-scale));
    margin-left: 4.9%;
    background: black;
  
  }
  
  .portfolio-grid .card-title h3{
    font-weight: 500;
    margin: 0.5em;
  }
  
  .portfolio-grid .row>div .card .portfolio-over .card-text {
    color: #fff;
    opacity: 0.75;
    padding: 0 45px;
  }
  
  .portfolio-grid .row>div .card:hover .portfolio-over {
    opacity: 1;
    visibility: visible;
  }
  
  /* awards css end */