<!-- <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="4">
    <video #bannerVideo autoplay loop class="banner-video">
      <source [src]="banner_video" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2 class="header" >{{banner_heading}}</h2> 
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href=".">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{banner_heading}}</li>
                        </ol>
                    </nav>
                </div>  
            </div>
        </div> 
    </div> 
  </section> -->
  <app-banner [banner_heading]="'Public Services'" [banner_img]="bannerImg"></app-banner>

  <section id="Section3" class="pt-3 pb-3 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
            <h2 class="section-title1">Overview</h2>
    
            <p class="contents"> Indira Gandhi Krishi Vishwavidyalaya (IGKV) actively engages in public service through initiatives like NSS, NCC, and Swachhata Abhiyan. The NSS and NCC units at IGKV encourage students to participate in community service, fostering leadership and discipline. Swachhata Abhiyan promotes cleanliness and environmental awareness, contributing to a healthier society. These programs reflect IGKV's commitment to social responsibility, nurturing well-rounded individuals who contribute positively to the community and the nation.</p>
  
       
        </div>
  
      </div>
    </div>
  </section>

<!--====== NSS DETAILS PART STARTS ======-->
<div class="container-fluid pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8 first_section">
                <h3><b> National Service Scheme (NSS)</b></h3>
                <p style="text-align: justify; padding: 10px;" class="contents">
                    The National Service Scheme (NSS) in India embodies a multifaceted set of aims aimed at holistic
                    student development and societal welfare. Firstly, NSS strives for active engagement in community
                    service, aligning students with the needs of local communities. This involves addressing social
                    issues, contributing to health and education, and participating in environmental initiatives.
                    Secondly, NSS seeks to mold the character of students by instilling values such as empathy, social
                    responsibility, and leadership. The program serves as a platform for students to not only serve but
                    also to learn and grow personally.
                    <br> <br>
                    Thirdly, NSS emphasizes the cultivation of leadership skills among students. Through organizing and
                    executing community service projects, participants develop the ability to lead effectively,
                    fostering a sense of responsibility and initiative. Additionally, NSS aims to create awareness about
                    social issues and promote education within communities. This includes campaigns on health, hygiene,
                    and environmental conservation. Lastly, NSS plays a vital role in promoting national integration by
                    encouraging students to work across diverse communities, fostering a sense of unity and
                    understanding.
                    <br>
                    <br> In essence, the aims of NSS converge on creating socially conscious, responsible, and
                    empathetic individuals who actively contribute to the betterment of society while undergoing
                    personal development through hands-on experiences and service to the nation. <br>
                    <a routerLink="/research/public-service/nss-overview">View More</a>

                </p>
            </div>

            <div class="col-sm-4 center-container"
                style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">

                <img [src]="nssLogo" alt="">
            </div>
        </div>
    </div>
</div>

<hr>

<!--====== NSS DETAILS PART End ======-->


<!--====== NCC PART STARTS ======-->
<div class="container-fluid pt-3 pb-3">
    <div class="container">
        <div class="row shivam_hostle">

            <div class="col-md-4 center-container"
                style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;">
                <img [src]="nccLogo" alt="">
            </div>

            <div class="col-md-8 second_section">
                <h3><b>National Cadet Corps (NCC)</b></h3>
                <p style="text-align: justify; padding: 10px;" class="contents">
                    The National Cadet Corps (NCC) in India is driven by a comprehensive set of aims, encompassing
                    character development, national unity, and a commitment to service. Firstly, NCC aims to instill
                    qualities of discipline, leadership, and responsibility in the youth. Through military training and
                    activities, it seeks to develop a cadre of well-rounded individuals capable of facing challenges
                    with resilience and integrity.<br>
                    <br>
                    Secondly, NCC plays a pivotal role in fostering national unity and integration. By bringing together
                    cadets from diverse backgrounds and regions, it promotes a sense of patriotism and understanding,
                    contributing to the nation's social fabric.
                    <br> <br>Furthermore, NCC emphasizes service to the community and the nation. Cadets actively
                    participate in various social service initiatives, disaster relief efforts, and community
                    development projects. This instills a sense of civic responsibility and a commitment to contributing
                    positively to society.
                    <br><br>Additionally, NCC serves as a platform for career development and exploration of the defense
                    services. It offers cadets insights into military life, leadership roles, and the values associated
                    with the armed forces, potentially inspiring careers in the defense sector.<br><br>In essence, NCC
                    aims to shape disciplined, responsible, and patriotic citizens who not only contribute to the
                    defense of the nation but also actively engage in social service, fostering unity and serving as
                    role models for the broader community. Through its multifaceted objectives, NCC plays a crucial role
                    in nurturing the youth into responsible and committed contributors to the nation's growth and
                    well-being.
                    <br>
                    <a routerLink="/research/public-service/ncc-overview">View More</a>
                </p>
            </div>
        </div>
    </div>
</div>
<hr>

<!--====== NCC PART End ======-->


<!--====== Swachchhta Abhiyan PART STARTS ======-->
<div class="container-fluid pt-3 pb-3">
    <div class="container">
        <div class="row nss_part">
            <div class="col-md-8">
                <h3><b>Swachchhta Abhiyaan</b></h3>
                <p style="text-align: justify;" class="contents">
                    Swachh Bharat Abhiyan, or the Clean India Mission, is a nationwide campaign in India aimed at
                    achieving cleanliness and sanitation. Its primary objectives are multifaceted, addressing various
                    aspects of public health, environmental sustainability, and social well-being.
                    <br><br>
                    Firstly, the mission strives to eliminate open defecation by constructing and promoting the use of
                    toilets across the country. This not only addresses the issue of inadequate sanitation but also
                    contributes significantly to preventing waterborne diseases and improving overall public health.
                    <br><br>
                    Secondly, Swachh Bharat Abhiyan aims to promote solid waste management and cleanliness in urban and
                    rural areas. It emphasizes responsible waste disposal practices, recycling, and the proper
                    management of garbage to create cleaner living environments and reduce the environmental impact of
                    waste.
                    <br><br>
                    Thirdly, the mission seeks to bring about a behavioral change by fostering a sense of personal and
                    community responsibility for cleanliness. Through awareness campaigns and educational initiatives,
                    it encourages individuals to adopt hygienic practices and participate actively in maintaining
                    cleanliness.
                    <br><br>
                    Furthermore, Swachh Bharat Abhiyan aligns with the broader goal of creating a sustainable and
                    livable environment. It emphasizes the importance of cleanliness in public spaces, including
                    streets, schools, and markets, contributing to a cleaner and more aesthetically pleasing urban and
                    rural landscape.
                    <br><br>
                    In summary, the aim of Swachh Bharat Abhiyan is to create a cleaner, healthier, and more
                    environmentally sustainable India by addressing issues related to sanitation, waste management, and
                    promoting a culture of cleanliness and hygiene. Through these comprehensive objectives, the mission
                    aspires to transform the quality of life for citizens across the nation.
                </p>
            </div>
            <div class="col-md-4 center-container">
                <img [src]="swachhBharatLogo" alt="">
            </div>
            <br>
        </div>
    </div>
</div>


<!-- Awareness Starts  -->
<section id="Section2 pt-3 pb-3">
    <div class="container">
        <div class="row Awareness_Programs">
            <div class="col-lg-12">
                <div>
                    <h2 class="section-title1">Awareness Programs</h2>
                    <!-- <div class="about-cont ">

                        <div class="sports_details even">

                            <div class="row">
                                <div class="col-md-8 Left">
                                    <div class="row">
                                        <h3>{{yoga[currentSlide].description}}</h3>
                                        <p>{{yoga[currentSlide].date}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <p>
                                            {{yoga[currentSlide].text}}
                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="slider-container">
                                        <img class="slider-image" [src]="yoga[currentSlide].src"
                                            alt="Image {{ currentSlide + 1 }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sports_details even">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="slider-container ">
                                        <img class="slider-image" [src]="Maheela_Utpeedan[currentSlide].src"
                                            alt="Image {{ currentSlide + 1 }}">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="row">
                                        <h3>{{Maheela_Utpeedan[currentSlide].description}}</h3>
                                        <p>{{Maheela_Utpeedan[currentSlide].date}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <p>
                                            {{Maheela_Utpeedan[currentSlide].text}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="sports_details even">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <h3>{{Viksit_Bharat[currentSlide].description}}</h3>
                                        <p>{{Viksit_Bharat[currentSlide].date}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <p>
                                            {{Viksit_Bharat[currentSlide].text}}
                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="slider-container ">
                                        <img class="slider-image" [src]="Viksit_Bharat[currentSlide].src"
                                            alt="Image {{ currentSlide + 1 }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="sports_details even">

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="slider-container ">
                                        <img class="slider-image" [src]="mera_mati_mera_desh[currentSlide].src"
                                            alt="Image {{ currentSlide + 1 }}">
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="row">
                                        <h3>{{mera_mati_mera_desh[currentSlide].description}}</h3>
                                        <p>{{mera_mati_mera_desh[currentSlide].date}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <p>
                                            {{mera_mati_mera_desh[currentSlide].text}}
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="sports_details even">

                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <h3>{{kisan_bhagidari[currentSlide].description}}</h3>
                                        <p>{{kisan_bhagidari[currentSlide].date}}</p>
                                        <hr>
                                    </div>
                                    <div>
                                        <p>
                                            {{kisan_bhagidari[currentSlide].text}}
                                        </p>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="slider-container ">
                                        <img class="slider-image" [src]="kisan_bhagidari[currentSlide].src"
                                            alt="Image {{ currentSlide + 1 }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="about-cont">
                        <!-- Iterating over paginated contents -->
                        <div class="sports_details" *ngFor="let item of paginatedContents">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="row">
                                <h3>{{ item.description }}</h3>
                                <p>{{ item.date }}</p>
                                <hr>
                              </div>
                              <div>
                                <p>{{ item.text }}</p>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="slider-container">
                                <img class="slider-image" [src]="item.src" alt="Image {{ item.text }}">
                              </div>
                            </div>
                          </div>
                        </div>
                      
                        <!-- Pagination controls -->
                        <mat-paginator [length]="allContents.length"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="[5, 8, 10, 25, 100]"
                                       (page)="onPageChange($event)"
                                       aria-label="Select page">
                        </mat-paginator>
                      </div>
                </div> <!-- section title -->
            </div> <!-- about cont -->

        </div> <!-- row -->

    </div> <!-- container -->
</section>

<app-contact-us></app-contact-us>